@use 'base';
@use 'component';

$padding: base.var(space-m) !default;
$background-color: base.var(surface-color) !default;
$foreground-color: base.var(foreground-color) !default;
$border-color: base.var(border-color) !default;
$border-radius: base.var(border-radius-m) !default;
$border-width: 1px !default;
$shadow: base.var(shadow) !default;

$vars: component.vars(Popover, (
    padding: $padding,
    background-color: $background-color,
    foreground-color: $foreground-color,
    border-color: $border-color,
    border-radius: $border-radius,
    border-width: $border-width,
    shadow: $shadow
));
