@use 'base';
@use 'component';

@use './Popover';

@include component.define(Popover, Popover.$vars);

.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.surface {
    display: flex;
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    box-shadow: component.var(shadow);
    overflow: hidden;
    z-index: 10;
}

.content {
    width: 100%;
    overflow: hidden;
}

.arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10px;
        height: 10px;
        background: component.var(background-color);
        transform: rotate(45deg);
        transition: transform 0.2s ease-out 0s, visibility 0.2s ease-out 0s;
        transform: translateX(0px) rotate(45deg);
        transform-origin: center center;
        visibility: visible;
        z-index: -1;
    }
}

.unstyled {
    .arrow {
        display: none;
    }

    .surface {
        box-shadow: unset;
        border-radius: unset;
        background-color: unset;
        overflow: unset;
    }

    .content {
        overflow: unset;
    }
}

// Sizes

@include component.classes((
    s: (padding: base.var(space-s)),
    m: (padding: base.var(space-m)),
    l: (padding: base.var(space-l))
));


// Variants

@include component.variants;