@use 'base';
@use 'component';

$s: (
    padding: base.var(space-xxs),
    font-size: base.var(font-size-s)
) !default;

$m: (
    padding: base.var(space-xs),
    font-size: base.var(font-size-m)
) !default;

$l: (
    padding: base.var(space-s),
    font-size: base.var(font-size-l)
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$radius: base.var(radius-m);
$padding: 0 !default;
$background-color: base.var(popover-color) !default;
$foreground-color: base.var(foreground-color) !default;
$font-size: base.var(font-size-s) !default;
$shadow: base.var(shadow-s) base.var(shadow-color) !default;

$vars: component.vars(Popover, (
    radius: $radius,
    padding: $padding,
    background-color: $background-color,
    foreground-color: $foreground-color,
    font-size: $font-size,
    shadow: $shadow
));