@use 'base';
@use 'component';

@use './State';

@include component.define(State, State.$vars);

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: component.var(gap);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: base.var(space-s);
}

.title,
.subtitle,
.description {
    margin: 0;
    text-align: center;
}

.title {
    // @include heading(h3, bold);
    color: var(--fui-text-color);
}

.subtitle {
    // @include heading(h4, normal);
    color: var(--fui-text-color);
}

.description {
    // @include text(p2);
    color: var(--fui-text-color);
}