.root {
    position: relative;
    border: 1px solid var(--ui-border-color);
    border-radius: 8px;
    background-color: var(--ui-background-color);
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "main aside"
        "code aside";
    overflow: hidden;
}

.main {
    grid-area: main;
    position: relative;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.content {
    width: 100%;
    padding: 16px;
}

.drawer {
    grid-area: aside;
}

.code {
    grid-area: code;
    border-top: 1px solid var(--ui-border-color);
}

.actions {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 4px;
    z-index: 1;
}

.align {
    &-start .main {
        align-self: center;
        justify-content: flex-start;
    }

    &-center .main {
        align-self: center;
        justify-content: center;
    }

    &-end .main {
        align-self: center;
        justify-content: flex-start;
    }
}