.root {
    position: relative;
    border: 1px solid var(--kui-border-color);
    border-radius: 8px;
    background-color: var(--kui-surface-color);
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "main aside"
        "code aside";
    overflow: hidden;
}

.main {
    position: relative;
    grid-area: main;
    box-sizing: border-box;
    padding: 16px 36px 16px 16px;
}

.drawer {
    grid-area: aside;
}

.code {
    grid-area: code;
    border-top: 1px solid var(--kui-border-color);
}

.actions {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    gap: 4px;
    z-index: 1;
}

.align {
    &-start .main {
        align-self: center;
        justify-content: flex-start;
    }

    &-center .main {
        align-self: center;
        justify-content: center;
    }

    &-end .main {
        align-self: center;
        justify-content: flex-start;
    }
}