@use '../../../../src/side-sheet';
@use '../../../../src/text-field';

.demo {
    position: relative;
    overflow: hidden;

    &--with-settings {
        min-height: 360px;
    }

    .mdc-side-sheet {
        @include side-sheet.width(480px);

        &__content {
            padding: 8px 16px;
        }

        .mdc-text-field {
            @include text-field.outlined-height(42px);
            width: 100%;
            margin-bottom: 16px;
            padding-right: 8px;

            &__icon--trailing {
                padding: 0;
            }
        }

        .mdc-form-field {
            width: 100%;
            padding: 8px 8px 8px 8px;
            margin-bottom: 8px;
            box-sizing: border-box;
        }

        .mdc-segmented-button {
            &__label {
                text-transform: none;
            }
        }

        fieldset {
            margin-bottom: 8px;
        }
    }

    + .demo {
        margin-top: 1rem;
    }
}