@use 'component';
@use 'theme';

$size: 20px !default;
$border-color: theme.var(border-color) !default;
$background-color: theme.var(surface-color) !default;
$gap: theme.var(space-s) !default;

$vars: component.define(Radio, (
    size: $size,
    border-color: $border-color,
    background-color: $background-color,
    gap: $gap
));
