@use 'base';
@use 'component';

$size: 20px !default;
$border-color: base.var(border-color) !default;
$background-color: base.var(surface-color) !default;
$gap: base.var(space-s) !default;

$vars: component.define(Radio, (
    size: $size,
    border-color: $border-color,
    background-color: $background-color,
    gap: $gap
));
