@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    size: 16px,
    gap: base.var(space-xs),
    checked-border-width: 5px
) !default;

$m: (
    size: 20px,
    gap: base.var(space-s),
    checked-border-width: 6px
) !default;

$l: (
    size: 24px,
    gap: base.var(space-m),
    checked-border-width: 7px
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$size: map.get($m, size) !default;
$border-color: base.var(outlined-color) !default;
$border-width: 1px !default;
$background-color: base.var(plain-color) !default;
$gap: base.var(space-s) !default;

$vars: component.vars(Radio, (
    size: $size,
    border-color: $border-color,
    border-width: $border-width,
    background-color: $background-color,
    gap: $gap,
    checked-border-width: 6px
));
