@use 'base';
@use 'component';

@use './Radio';

@include component.define(Radio, Radio.$vars);

.root {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.input {
    appearance: none;
    width: component.var(size);
    height: component.var(size);
    border: component.var(border-width) solid component.var(border-color);
    border-radius: 100%;
    background-color: component.var(background-color);
    outline: none;
    margin: 0;
    padding: 0;
    transition: all .2s;
    cursor: pointer;
}

.label {
    cursor: pointer;
    padding-left: component.var(gap);
}


// States

.input {
    &:hover {
        @include component.vars((
            background-color: base.var(plain-background-hover-color)
        ));
    }

    &:active {
        @include component.vars((
            background-color: base.var(plain-background-active-color)
        ));
    }

    &:checked {
        @include component.vars((
            border-color: base.var(filled-brand-background-color)
        ));

        border-width: component.var(_checked-border-width);

        &:hover {
            @include component.vars((
                border-color: base.var(filled-brand-background-hover-color)
            ));
        }

        &:active {
            @include component.vars((
                border-color: base.var(filled-brand-background-active-color)
            ));
        }
    }

    &:disabled {
        opacity: base.var(opacity-medium);
        pointer-events: none;
    }
}

.disabled {
    .input,
    .label {
        cursor: default;
    }
}


// Sizes

@include component.classes((
    s: (
        size: 16px,
        gap: base.var(space-xs),
        _checked-border-width: 5px
    ),
    m: (
        size: 20px,
        gap: base.var(space-s),
        _checked-border-width: 6px
    ),
    l: (
        size: 24px,
        gap: base.var(space-m),
        _checked-border-width: 7px
    )
));