@use 'base';
@use 'component';

@use './Radio';

@include component.define(Radio, Radio.$vars);

.root {
    display: flex;
    align-items: center;
    gap: component.var(gap);
}

.input {
    appearance: none;
    width: component.var(size);
    height: component.var(size);
    border: 2px solid component.var(border-color);
    border-radius: 100%;
    background-color: component.var(background-color);
    outline: none;
    margin: 0;
    padding: 0;
    transition: all .2s;
    cursor: pointer;
}

.label {
    cursor: pointer;
}


// States

.input {
    &:hover {
        border-color: base.var(primary-color);
    }

    &:active {
        border-color: base.var(primary-color-active);
        background-color: base.var(primary-color-active);
    }

    &:checked {
        border-color: base.var(primary-color);
        border-width: base.var(checked-border-width);

        &:hover {
            border-color: var(--ui-primary-color);
        }

        &:active {
            border-color: var(--ui-primary-active-color);
            background-color: var(--ui-surface-color);
        }
    }
}

.disabled {
    .input,
    .label {
        cursor: default;
    }
}


// Sizes

@include component.declare((
    s: (
        size: 16px,
        checked-border-width: 5px,
        gap: base.var(space-xs)
    ),
    m: (
        size: 20px,
        checked-border-width: 6px,
        gap: base.var(space-s)
    ),
    l: (
        size: 24px,
        checked-border-width: 7px,
        gap: base.var(space-m)
    )
));