@use 'component';
@use 'theme';

@use './RadioGroup';

@include component.init(RadioGroup, RadioGroup.$vars);

.root {
    display: flex;
    gap: component.var(gap);
    align-items: center;
    flex-wrap: wrap;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}