@use 'component';
@use 'theme';

$height: null !default;
$padding: null !default;
$gap: theme.var(space-xs) !default;
$border-color: theme.var(border-color) !default;
$border-width: 1px !default;
$border-radius: theme.var(border-radius-m) !default;
$background-color: theme.var(surface-color) !default;
$label-color: theme.var(text-secondary-color) !default;
$text-color: theme.var(text-color) !default;
$font-size: theme.var(font-size-m) !default;
$font-weight: theme.var(font-weight-normal) !default;
$line-height: theme.var(line-height) !default;

$vars: component.define('Input', (
    height: $height,
    padding: $padding,
    gap: $gap,
    border-color: $border-color,
    border-width: $border-width,
    border-radius: $border-radius,
    background-color: $background-color,
    label-color: $label-color,
    text-color: $text-color,
    font-size: $font-size,
    font-weight: $font-weight,
    line-height: $line-height,
    foo: --gap,
    _bar: --foo
));