@use 'component';
@use 'theme';

@use './Input';

@include component.init(Input, Input.$vars);

.root {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: component.var(height);
    display: flex;
    align-items: center;
    padding: component.var(padding);
    gap: component.var(gap);
    border-radius: component.var(border-radius);
    background-clip: padding-box;
    background-color: component.var(background-color);
    color: component.var(text-color);
    font-family: theme.var(font-family);
    font-size: component.var(font-size);
    font-weight: component.var(font-weight);
    line-height: component.var(line-height);
    transition: border-color 0.2s ease-in-out;
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    gap: component.var(gap);
}

.control {
    height: 100%;
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
}

.label {
    position: absolute;
    color: component.var(label-color);
    transition: transform .2s;
    transform-origin: top left;
}

.input {
    appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    z-index: 1;
}

.label + .input::placeholder {
    visibility: hidden;
}


// States

.focused {
    @include component.vars((
        border-color: theme.var(primary-color)
    ));
}

.active,
.focused {
    .label {
        transform: scale(.75) translate(0, -35%);
    }

    .label + .input {
        padding-top: .875em;
    }
}

.invalid {
    @include component.vars((
        border-color: theme.var(danger-color)
    ));
}

.disabled {
    
}


// Shapes

@include component.declare((
    rounded: (border-radius: theme.var(border-radius-m)),
    rectangular: (border-radius: 0),
    circular: (border-radius: component.var(height))
));


// Sizes

@include component.declare((
    s: (
        height: 32px,
        padding: 0 8px,
        font-size: 12px
    ),
    m: (
        height: 36px,
        padding: 0 12px,
        font-size: 14px
    ),
    l: (
        height: 48px,
        padding: 0 16px,
        font-size: 16px
    )
));


// Variants

.outlined {
    @include component.vars((
        border-color: theme.var(border-color),
        background-color: transparent
    ));

    border: component.var(border-width) solid component.var(border-color);
}

.underlined {
    @include component.vars((
        background-color: transparent
    ));
    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: component.var(border-width) solid component.var(border-color);
}

.tinted {
    @include component.vars((
        background-color: theme.var(surface-color)
    ));
}
    
.outlined-tinted,
.tinted-outlined {
    @extend .outlined;
    @extend .tinted;
}

.underlined-tinted,
.tinted-underlined {
    @extend .underlined;
    @extend .tinted;
}

.outlined,
.underlined {
    &:focus-within,
    &.focused {
        @include component.vars((
            border-color: theme.var(primary-color)
        ));
    }
}


// Misc

.root[data-validation-message] {
    margin-bottom: 1rem;

    &::after {
        content: attr(data-validation-message);
        bottom: -18px;
        position: absolute;
        left: 0;
        font-size: .8rem;
        line-height: 1rem;
        color: var(--ui-Input-danger-color);
    }
}