@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    size: 14px,
    padding: base.var(space-xxs),
    font-size: base.var(font-size-xxs)
) !default;

$m: (
    size: 18px,
    padding: base.var(space-xxs),
    font-size: base.var(font-size-xs)
) !default;

$l: (
    size: 24px,
    padding: base.var(space-xs),
    font-size: base.var(font-size-s)
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$size: map.get($m, size) !default;
$padding: map.get($m, padding) !default;
$font-size: map.get($m, font-size) !default;

$vars: component.vars(Badge, (
    size: $size,
    padding: $padding,
    font-size: $font-size
));