@use '../../styles/component';
@use '../../styles/theme';

@include component.define('Badge', (
    _size: auto,
    border-color: transparent,
    border-radius: _size,
    border-width: 0,
    background-color: transparent,
    text-color: theme.var(text-primary-color),
    font-size: theme.var(font-size-smaller),
    ring-width: 2px,
    ring-color: theme.var(surface-color)
));

$vars: component.vars();

.root {
    box-sizing: border-box;
    display: inline-flex;
    min-width: component.var(_size);
    min-height: component.var(_size);
    align-items: center;
    place-content: center;
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(text-color);
    font-family: theme.var(font-family);
    font-size: component.var(font-size);
    font-weight: theme.var(font-weight-semibold);

    &:empty {
        min-width: calc(component.var(_size) * 0.5);
        min-height: calc(component.var(_size) * 0.5);
    }
}


// Sizes

.s {
    @include component.vars((
        size: 14px,
        padding-x: 4px,
        font-size: 10px
    ));
}

.m {
    @include component.vars((
        size: 18px,
        padding-x: 6px,
        font-size: 12px
    ));
}

.l {
    @include component.vars((
        size: 24px,
        padding-x: 8px,
        font-size: 14px
    ));
}


// Variants

@include component.variants;