@use '../../src/styles/media';

.root {
    width: 100%;
    min-height: 100dvh;
    
    @include media.from(m) {
        height: 100dvh;
        display: grid;
        grid-template-columns: max-content auto;
        overflow: hidden;
    }
}

.main {
    box-sizing: border-box;
    padding: 16px;
    overflow: hidden auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    padding-right: 8px;
    gap: 16px;
}

.title {
    text-decoration: none;
}

.nav {
    flex: 1;
    overflow-y: auto;
}

.link {
    text-decoration: none;
}

.subtitle {
    margin: 8px 12px;
}

.menuButton {
    position: fixed;
    top: 16px;
    right: 16px;
    margin-left: auto;
}