@use 'sass:meta';

@use '../../src/styles/themes';

@include themes.light {
    @include meta.load-css('highlight.js/scss/github.scss');
}

@include themes.dark {
    @include meta.load-css('highlight.js/scss/github-dark.scss');
}

body {
    margin: 0;
    padding: 0;

    @include themes.scheme(dark) {
        background-color: black;
        color: white;
    }
}

.markdown {
    blockquote {
        margin: 0 0 1rem 0;
        padding: 0 1rem;
        border-left: 4px solid var(--ui-border-color);
    }
    
    pre {
        line-height: 1.45;
        border-radius: 8px;
        padding: 8px;
        overflow: auto;
    }
}