@use '../../src/styles/colors/theme';

@include theme.dark {
    @import 'highlight.js/scss/github-dark.scss';
}

@include theme.light {
    @import 'highlight.js/scss/github.scss';
}

body {
    margin: 0;
    padding: 0;
}

.markdown {
    blockquote {
        margin: 0 0 1rem 0;
        padding: 0 1rem;
        border-left: 4px solid var(--kui-border-color);
    }
    
    pre {
        line-height: 1.45;
        border-radius: 8px;
        padding: 8px;
        overflow: auto;
    
        code.hljs {
            background-color: transparent;
        }
    }
}