@use 'sass:map';

@use 'base';
@use 'component';

@use '../Input';

$menu-shadow: base.var(shadow-m) !default;

$vars: component.vars(Checkbox, map.merge(Input.$vars, (
    menu-shadow: $menu-shadow
)));