@use 'sass:map';

@use 'base';
@use 'component';

$xs: (
    height: 24px,
    padding: 8px,
    gap: 4px,
    font-size: base.var(font-size-xs)
) !default;

$s: (
    height: 28px,
    padding: 8px,
    gap: 4px,
    font-size: base.var(font-size-s)
) !default;;

$m: (
    height: 32px,
    padding: 12px,
    gap: 4px,
    font-size: base.var(font-size-m)
) !default;;

$l: (
    height: 40px,
    padding: 16px,
    gap: 8px,
    font-size: base.var(font-size-l)
) !default;;

$xl: (
    height: 48px,
    padding: 16px,
    gap: 8px,
    font-size: base.var(font-size-xl)
) !default;

$sizes: (
    xs: $xs,
    s: $s,
    m: $m,
    l: $l,
    xl: $xl
) !default;

$height: auto !default;
$padding: null !default;
$gap: base.var(space-xs) !default;
$border-radius: null !default;
$font-size: map.get($sizes, $m, font-size) !default;
$font-weight: base.var(font-weight-normal) !default;

$vars: component.vars(Button, (
    height: $height,
    padding: $padding,
    gap: $gap,
    border-radius: $border-radius,
    font-size: $font-size,
    font-weight: $font-weight,
));