@use '../../styles/component';
@use '../../styles/theme';

@include component.define('Button', (
    height: auto,
    padding: null,
    gap: theme.var(space-xs),
    border-color: null,
    border-color-hover: null,
    border-color-active: null,
    border-radius: null,
    border-width: null,
    background-color: null,
    background-color-hover: null,
    background-color-active: null,
    text-color: null,
    text-color-hover: null,
    text-color-active: null,
    font-size: theme.var(font-size),
    font-weight: theme.var(font-weight-normal),
    line-height: 1,
    icon-color: currentColor
));

$vars: component.vars();

.root {
    position: relative;
    box-sizing: border-box;
    min-height: component.var(height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 component.var(padding);
    gap: component.var(gap);
    border: none;
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(text-color);
    font-family: theme.var(font-family);
    font-size: component.var(font-size);
    font-weight: theme.var(font-weight-normal);
    // line-height: component.var(line-height);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
    cursor: pointer;
    user-select: none;

    &:has(.icon, .start) {
        padding-left: calc(#{component.var(padding)} * 0.625);
    }

    &:has(.end) {
        padding-right: calc(#{component.var(padding)} * 0.625);
    }

    &:hover {
        border-color: component.var(border-color-hover);
        background-color: component.var(background-color-hover);
        color: component.var(text-color-hover);
    }
    
    &.active,
    &:active {
        border-color: component.var(border-color-active);
        background-color: component.var(background-color-active);
        color: component.var(text-color-active);
    }
    
    &.loading,
    &:disabled {
        opacity: theme.var(disabled-opacity);
        cursor: default;
    }
}

.content,
.icon,
.start,
.end {
    display: inline-flex;
    align-items: center;
}

.spinner {
    position: absolute;
    margin: auto;
}

.fluid {
    width: 100%;
}

.icon-before {
    .icon {
        order: 0;
    }
}

.icon-after {
    .icon {
        order: 1;
    }
}


// Sizes

.xs {
    @include component.vars((
        height: 24px,
        padding: 8px,
        gap: 4px,
        font-size: theme.var(font-size-xs)
    ));
}

.s {
    @include component.vars((
        height: 28px,
        padding: 8px,
        gap: 4px,
        font-size: theme.var(font-size-s)
    ));
}

.m {
    @include component.vars((
        height: 32px,
        padding: 12px,
        gap: 4px,
        font-size: theme.var(font-size-m)
    ));
}

.l {
    @include component.vars((
        height: 40px,
        padding: 16px,
        gap: 8px,
        font-size: theme.var(font-size-l)
    ));
}

.xl {
    @include component.vars((
        height: 48px,
        padding: 16px,
        gap: 8px,
        font-size: theme.var(font-size-xl)
    ));
}


// Shapes

.circular {
    @include component.vars((
        border-radius: --height
    ));
}

.rectangular {
    @include component.vars((
        border-radius: 0
    ));
}

.rounded {
    @include component.vars((
        border-radius: calc(component.var(height) / 4)
    ));
}


// Variants

@include component.variants;

.text {
    @include component.color-state-vars((
        'text-color': primary
    ));
    @include component.palettes-color-state-vars('text-color');

    @include component.vars((
        height: auto,
        line-height: inherit,
        background-color: transparent,
        padding: 0
    ));

    justify-content: flex-start;
}


// Icon

.icon-button {
    @include component.vars((
        padding: 0
    ));

    width: component.var(height);
    height: component.var(height);
    min-height: auto;

    &.xs {
        @include component.vars((
            height: 16px,
            border-radius: theme.var(border-radius-xs)
        ));
    }

    &.s {
        @include component.vars((
            height: 24px,
            border-radius: theme.var(border-radius-s)
        ));
    }

    &.m {
        @include component.vars((
            height: 32px
        ));
    }

    &.l {
        @include component.vars((
            height: 40px
        ));
    }

    &.xl {
        @include component.vars((
            height: 48px
        ));
    }

    &.text {
        &.xs
        &.s,
        &.m,
        &.l,
        &.xl {
            --ui-Button-size: auto;
        }
    }
}