@use 'base';
@use 'component';

@use './Button';

@include component.define(Button, Button.$vars);

.root {
    box-sizing: border-box;
    position: relative;
    min-height: component.var(height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 component.var(padding);
    gap: component.var(gap);
    border: none;
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(foreground-color);
    font-family: base.var(font-family);
    font-size: component.var(font-size);
    font-weight: base.var(font-weight-normal);
    // line-height: component.var(line-height);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
    cursor: pointer;
    user-select: none;

    &:has(.start) {
        padding-left: calc(#{component.var(padding)} * 0.625);
    }

    &:has(.end) {
        padding-right: calc(#{component.var(padding)} * 0.625);
    }

    &:hover {
        border-color: component.var(border-hover-color);
        background-color: component.var(background-hover-color);
        color: component.var(foreground-hover-color);
    }
    
    &.active,
    &:active {
        border-color: component.var(border-active-color);
        background-color: component.var(background-active-color);
        color: component.var(foreground-active-color);
    }
    
    &.loading,
    &:disabled {
        opacity: base.var(opacity-disabled);
        cursor: default;
    }
}

.content,
.icon,
.start,
.end {
    display: inline-flex;
    align-items: center;
}

.spinner {
    position: absolute;
    margin: auto;
}

.fluid {
    width: 100%;
}


// Sizes

@include component.classes((
    xs: (
        height: 24px,
        padding: 8px,
        gap: 4px,
        font-size: base.var(font-size-xs)
    ),
    s: (
        height: 28px,
        padding: 8px,
        gap: 4px,
        font-size: base.var(font-size-s)
    ),
    m: (
        height: 32px,
        padding: 12px,
        gap: 4px,
        font-size: base.var(font-size-m)
    ),
    l: (
        height: 40px,
        padding: 16px,
        gap: 8px,
        font-size: base.var(font-size-l)
    ),
    xl: (
        height: 48px,
        padding: 16px,
        gap: 8px,
        font-size: base.var(font-size-xl)
    )
));


// Shapes

@include component.classes((
    circular: (border-radius: component.var(height)),
    rectangular: (border-radius: 0),
    rounded: (border-radius: calc(component.var(height) / 4))
));


// Variants

@include component.variants;

.text {
    @include component.vars((
        height: auto,
        padding: 0,
        background-color: transparent,
        line-height: inherit
    ));

    @include component.color-state-vars((
        'foreground-color': primary
    ));

    justify-content: flex-start;

    @include component.palettes-state-vars('foreground-color');
}


// Icon

.icon-button {
    @include component.vars((
        padding: 0
    ));

    width: component.var(height);
    height: component.var(height);
    min-height: auto;

    @include component.declare((
        -xs: (
            height: 16px,
            border-radius: base.var(border-radius-xs)
        ),
        -s: (
            height: 24px,
            border-radius: base.var(border-radius-s)
        ),
        -m: (
            height: 32px
        ),
        -l: (
            height: 40px
        ),
        -xl: (
            height: 48px
        )
    ));

    &.text {
        @include component.vars((
            size: auto
        ));
    }
}