@use 'sass:map';
@use '../../styles/theme';
@use '../../styles/component';
@use './Button';

@include component.define('ButtonGroup', (
    gap: theme.var(space-xs)
));

.root {
    position: relative;
    display: inline-flex;
    gap: component.var(gap);
    vertical-align: middle;
}

.button {
    flex: 1 1 auto;

    &:hover,
    &:active {
        z-index: 1;
    }
}

.joined {
    @include component.var(gap, 0);
}

.vertical {
    flex-direction: column;
}

.joined:not(.vertical) {
    .button {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    
    .button + .button {
        margin-left: -1px;
    }
}

.joined.vertical {
    .button {
        &:first-child {
            border-radius: map.get(Button.$vars, 'border-radius');
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:last-child {
            border-radius: map.get(Button.$vars, 'border-radius');
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .button + .button {
        margin-top: -1px;
    }
}