@use 'base';
@use 'component';
@use 'elements';

@use './Button';

@include component.define(Button, Button.$vars) {
    .root {
        box-sizing: border-box;
        position: relative;
        min-height: component.var(height);
        border: none;
        padding-inline: component.var(padding);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: component.var(gap);
        border-radius: component.var(radius);
        font-family: base.var(font-family);
        font-size: component.var(font-size);
        font-weight: component.var(font-weight);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;

        @include elements.interactive;
        @include elements.disabled-state;
        @include elements.slot-padding(component.var(padding), base.var(space-xs));
    }

    .start,
    .content,
    .end {
        display: inline-flex;
        align-items: center;
    }

    .startIcon,
    .endIcon {
        position: relative;
    }

    .fluid {
        width: 100%;
    }

    .loading {
        pointer-events: none;

        .loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .start,
        .icon,
        .content,
        .end {
            visibility: hidden;
        }
    }

    @include component.sizes(Button.$sizes);

    .icon-button {
        @include component.vars((
            padding: 0
        ));

        width: component.var(height);
        height: component.var(height);
        min-height: auto;

        @include component.declare((
            -xs: (
                height: 16px,
                border-radius: base.var(border-radius-xs)
            ),
            -s: (
                height: 24px,
                border-radius: base.var(border-radius-s)
            ),
            -m: (
                height: 32px
            ),
            -l: (
                height: 40px
            ),
            -xl: (
                height: 48px
            )
        ));
    }
}