@use 'base';
@use 'component';

$height: auto !default;
$padding: null !default;
$gap: base.var(space-xs) !default;
$border-color: null !default;
$border-hover-color: null !default;
$border-active-color: null !default;
$border-radius: null !default;
$border-width: null !default;
$background-color: null !default;
$background-hover-color: null !default;
$background-active-color: null !default;
$foreground-color: null !default;
$foreground-hover-color: null !default;
$foreground-active-color: null !default;
$font-size: base.var(font-size) !default;
$font-weight: base.var(font-weight-normal) !default;
$line-height: 1 !default;
$icon-color: currentColor !default;

$vars: component.vars(Button, (
    height: $height,
    padding: $padding,
    gap: $gap,
    border-color: $border-color,
    border-hover-color: $border-hover-color,
    border-active-color: $border-active-color,
    border-radius: $border-radius,
    border-width: $border-width,
    background-color: $background-color,
    background-hover-color: $background-hover-color,
    background-active-color: $background-active-color,
    foreground-color: $foreground-color,
    foreground-hover-color: $foreground-hover-color,
    foreground-active-color: $foreground-active-color,
    font-size: $font-size,
    font-weight: $font-weight,
    line-height: $line-height,
    icon-color: $icon-color
));