@use 'sass:map';

@use 'base';
@use 'component';

@use './Button';
@use './ButtonGroup';

@include component.define(ButtonGroup, ButtonGroup.$vars) {
    .root {
        position: relative;
        display: inline-flex;
        gap: component.var(gap);
    }

    .button {
        flex: 1 1 auto;

        &:hover,
        &:active {
            z-index: 1;
        }
    }

    .fluid {
        width: 100%;
    }

    .horizontal {
        flex-direction: row;
    }

    .vertical {
        flex-direction: column;
    }

    .joined {
        gap: 0;
    }

    .joined.horizontal {
        .button {
            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        
            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .joined.vertical {
        .button {
            &:first-child {
                border-radius: map.get(Button.$vars, border-radius);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:last-child {
                border-radius: map.get(Button.$vars, border-radius);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }

        .button + .button {
            border-top: 0px;
        }
    }

    @include component.gaps((
        s: base.var(space-xxs),
        m: base.var(space-xs),
        l: base.var(space-s),
    ));
}