@use 'sass:list';
@use 'sass:math';

@use 'component';
@use 'sizes';
@use 'theme';
@use 'utils/units' as *;

@use './Text';

@include component.init(Text, Text.$vars);

.root {
    margin: 0;
    display: flex;
    align-items: center;
    gap: component.var(gap);
    font-family: component.var(font-family);
    font-size: component.var(font-size);
    font-weight: component.var(font-weight);
    color: component.var(color);
}

.content {
    line-height: component.var(line-height);
    letter-spacing: component.var(letter-spacing);
}

.start,
.end {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: component.var(line-height);
}


// Colors

@include component.palettes-vars(color);

.inherit {
    color: inherit;
}


// Sizes

@each $size, $values in sizes.$text-sizes {
    $font-size: list.nth($values, 1);
    $line-height: list.nth($values, 2);

    .#{$size} {
        @include component.vars((
            font-size: rem($font-size),
            line-height: math.div($line-height, $font-size)
        ));
    }
}


// Weight

@include component.declare((
    light: (font-weight: theme.var(font-weight-light)),
    normal: (font-weight: theme.var(font-weight-normal)),
    semibold: (font-weight: theme.var(font-weight-semibold)),
    bold: (font-weight: theme.var(font-weight-bold))
));


// Align

.align {
    &-start {
        justify-content: flex-start;
        text-align: left;
    }

    &-center {
        justify-content: center;
        text-align: center;
    }

    &-end {
        justify-content: flex-end;
        text-align: right;
    }
}


// Misc

.inline {
    display: inline-flex;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.strikethrough {
    text-decoration: line-through;
}

.ellipsis {
    .content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.muted {
    opacity: theme.var(opacity-muted);
}

@include component.declare((
    mt: 1em,
    mt-s: (margin-top: theme.var(space-s)),
    mt-m: (margin-top: theme.var(space-m)),
    mt-l: (margin-top: theme.var(space-l)),
    mb: 1em,
    mb-s: (margin-bottom: theme.var(space-s)),
    mb-m: (margin-bottom: theme.var(space-m)),
    mb-l: (margin-bottom: theme.var(space-l)),
));

.link {
    @include component.vars((
        color: theme.var(primary-color),
        hover-color: theme.var(primary-color-hover),
        active-color: theme.var(primary-color-active),
        disabled-color: theme.var(primary-color-disabled),
    ));

    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: component.var(hover-color);
    }
    
    &:active {
        color: component.var(active-color);
    }

    &.disabled {
        color: component.var(disabled-color);
        cursor: default;
    }
}