@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

@use 'base';
@use 'component';

// (font-size, line-height, gap)
$xxs: (10px, 14px, base.var(space-xxs)) !default;
$xs: (12px, 16px, base.var(space-xxs)) !default;
$s: (14px, 18px, base.var(space-xs)) !default;
$m: (16px, 22px, base.var(space-xs)) !default;
$l: (20px, 26px, base.var(space-xs)) !default;
$xl: (24px, 30px, base.var(space-s)) !default;
$xxl: (28px, 34px, base.var(space-s)) !default;

$sizes: (
    xxs: $xxs,
    xs: $xs,
    s: $s,
    m: $m,
    l: $l,
    xl: $xl,
    xxl: $xxl
);

$color: initial !default;
$font: base.var(font-family) !default;
$size: initial !default;
$weight: initial !default;
$height: base.var(line-height) !default;
$spacing: 0 !default;
$gap: base.var(space-xs) !default;

$vars: component.vars(Text, (
    color: $color,
    font: $font,
    size: $size,
    weight: $weight,
    height: $height,
    spacing: $spacing,
    gap: $gap
));

@mixin text($size: m, $weight: normal, $color: primary) {
    $_sizes: map.get($sizes, $size);
    $font-size: list.nth($_sizes, 1);
    $line-height: list.nth($_sizes, 2);

    font-family: base.var(font-family);
    font-size: $font-size;
    font-weight: map.get(base.$font-weights, $weight);
    line-height: math.div($line-height, $font-size);
    color: base.var(foreground-#{$color}-color);
}