@use '../../styles/mixins' as *;

.root {
    display: flex;
    align-items: center;
    font-family: var(--ui-font-family);
}

.avatar {
    
}

.content {
    display: flex;
    gap: 8px;
    align-items: center;
}

.meta {
    display: flex;
}

.age {

}

.relation {
    padding: 4px 8px;
    background-color: var(--ui-extra-light-gray);
    color: var(--ui-dark-gray);
}


// Size

.small {
    // .name {
    //     @include heading('h6');
    // }

    // .age {
    //     @include text('p5');
    // }

    // .relation {
    //     @include text('p5');
    // }
}

.medium {
    // .name {
    //     @include heading('h4');
    // }

    // .age {
    //     @include text('p4');
    // }

    // .relation {
    //     @include text('p4');
    // }
}

.large {
    .content {
        flex-direction: column;
        gap: 4px;
    }

    // .name {
    //     @include heading('h4');
    // }

    // .age {
    //     @include text('p4');
    // }

    // .relation {
    //     @include text('p4');
    // }
}


// Orientation