@use 'colors';
@use 'colors/palettes';
@use 'colors/states';
@use 'utils/color';
@use 'utils/css';

.class {
    @include colors.var(background-color, #fff); 
    @include colors.var(background-color, plain);
    @include colors.var(foreground-color, plain-contrast);
    @include colors.var(foreground-color, -plain);

    @include colors.vars((
        background-color: primary,
        foreground-color: -primary
    ), $prefix: 'custom-', $postfix: '-v2');
}

.palettes {
    $palette: color.generate-shades(oklch(55.6% 0 0));

    @each $i, $color in $palette {
        @include colors.var(blue-#{$i}, $color);
    }

    @each $i, $color in palettes.contrast($palette) {
        @include colors.var(contrast-color-#{$i}, $color);
    }
}

@include palettes.define using ($palette) {
    @include palettes.vars($palette, (
        background-color: $palette,
        foreground-color: -#{$palette}
    ));
}