@use 'base';
@use 'component';

$vars: component.vars(Component, (
    background-color: base.var(background-color),
    foreground-color: base.var(foreground-color),
    padding-x: base.var(padding),
    padding-y: base.var(padding),
    padding: --padding-x --padding-y,
    _width: auto,
    _height: auto,
    _size: --_width --_height
));

// Definition

@include component.define(Component, $vars);

.component {
    @include component.define(Component, $vars);
}


// Vars

.vars {
    @include component.vars((
        background-color: red,
        foreground-color: white
    ));
    background-color: component.var(background-color);
    color: component.var(foreground-color);
}


// Declarations

.declarations {
    @include component.declare((
        '.small': (
            padding-x: base.var(padding-s),
            padding-y: base.var(padding-s),

            '.rounded': (
                border-radius: base.var(border-radius-s)
            )
        ),
        '.small.rounded:hover': (
            border-radius: base.var(border-radius-s)
        )
    ));
}


// Classes

.classes {
    @include component.classes((
        small: (
            padding-x: base.var(padding-s),
            padding-y: base.var(padding-s)
        ),
        large: (
            padding-x: base.var(padding-l),
            padding-y: base.var(padding-l)
        )
    ));
}


// States

.states {
    @include component.states((
        hover: (
            padding-x: base.var(padding-s),
            padding-y: base.var(padding-s)
        ),
        active: (
            padding-x: base.var(padding-l),
            padding-y: base.var(padding-l)
        )
    ));
}


// Color State Vars

// 1. List usage
.color-state-vars-list {
    @include component.color-state-vars((
        background-color,
        border-color
    ), plain);
}

// 2. Map usage
.color-state-vars-map {
    @include component.color-state-vars((
        background-color: plain,
        foreground-color: -plain
    ));
}


// Palette Vars

.palettes-vars-list-with-number {
    @include component.palette-vars((
        background-color, border-color
    ), 5);
}

.palettes-vars-list-with-string {
    @include component.palette-vars((
        background-color, border-color
    ), plain);
}

.palettes-vars-list-with-placeholder {
    @include component.palette-vars((
        background-color, border-color
    ), 'plain-$');
}

.palettes-vars-map-with-number{
    @include component.palette-vars((
        background-color: 5,
        border-color: 5
    ));
}

.palettes-vars-map-with-string {
    @include component.palette-vars((
        background-color: plain,
        foreground-color: -plain
    ));
}

.palettes-vars-map-with-placeholder {
    @include component.palette-vars((
        background-color: 'plain-$',
        foreground-color: '-plain-$'
    ));
}


// Palette State Vars

.palette-state-vars-list-with-string {
    @include component.palette-state-vars((
        background-color, border-color
    ), plain);
}

.palette-state-vars-map-with-string {
    @include component.palette-state-vars((
        background-color: plain, 
        border-color: plain
    ));
}

.palette-state-vars-map-with-placeholder {
    @include component.palette-state-vars((
        background-color: '$', 
        foreground-color: '-$'
    ));
}


// Variants

.variants {
    @include component.plain;
    @include component.filled;
    @include component.outlined;
    @include component.tinted;
    @include component.outlined-tinted;
}