@use 'component';
@use 'theme';

@use './Menu';

@include component.init(Menu, Menu.$vars);

.root {
    display: flex;
    flex-direction: column;
    padding: component.var(padding);
    background-color: component.var(background-color);
    overflow-y: auto;
}

.heading {
    margin: 0;
    padding: 8px 16px;
}