@use 'component';

@use './MenuItem';

@include component.define(MenuItem, MenuItem.$vars);

.root {
    min-height: component.var(height);
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: none;
    background-color: component.var(background-color);
    color: component.var(foreground-color);
    font-size: component.var(font-size);
    cursor: pointer;
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


// Sizes

@include component.classes((
    s: (height: 36px),
    m: (height: 40px),
    l: (height: 48px),
));


// Variants

@include component.variants;