@use 'base';
@use 'component';

$height: auto !default;
$padding: (base.var(space-xs) 0) !default;
$gap: 8px !default;
$background-color: base.var(surface-color) !default;
$text-color: base.var(text-color) !default;
$border-color: base.var(border-color) !default;
$border-radius: base.var(border-radius-m) !default;
$border-width: 1px !default;
$font-size: base.var(font-size) !default;

$vars: component.vars(MenuItem, (
    height: $height,
    padding: $padding,
    gap: $gap,
    background-color: $background-color,
    text-color: $text-color,
    border-color: $border-color,
    border-radius: $border-radius,
    border-width: $border-width,
    font-size: $font-size
));
