@use 'component';
@use 'theme';

@include component.define('MenuItem', (
    height: auto,
    padding: (theme.var(space-xs) 0),
    gap: 8px,
    background-color: theme.var(surface-color),
    text-color: theme.var(text-color),
    border-color: theme.var(border-color),
    border-radius: theme.var(border-radius-m),
    border-width: 1px,
    font-size: theme.var(font-size),
));

$vars: component.vars();

.root {
    min-height: component.var(height);
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: none;
    background-color: component.var(background-color);
    color: component.var(text-color);
    font-size: component.var(font-size);
    cursor: pointer;
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


// Sizes

@include component.declare((
    s: (height: 36px),
    m: (height: 40px),
    l: (height: 48px),
));


// Variants

@include component.variants;