@use 'component';
@use 'theme';

@include component.define('Pill', (
    height: auto,
    padding: null,
    gap: theme.var(space-xxs),
    border-color: null,
    border-color-hover: null,
    border-color-active: null,
    border-radius: null,
    border-width: null,
    background-color: null,
    background-color-hover: null,
    background-color-active: null,
    text-color: null,
    text-color-hover: null,
    text-color-active: null,
    font-size: theme.var(font-size),
    font-weight: theme.var(font-weight-normal),
    line-height: 1,
    icon-color: currentColor
));

$vars: component.vars();

.root {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: component.var(height);
    padding: 0 component.var(padding);
    gap: component.var(gap);
    border: none;
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(text-color);
    font-family: theme.var(font-family);
    font-size: component.var(font-size);
    font-weight: component.var(font-weight);
    // line-height: component.var(line-height);

    &:has(.icon, .start) {
        padding-left: calc(#{component.var(padding)} * 0.625);
    }

    &:has(.end) {
        padding-right: calc(#{component.var(padding)} * 0.625);
    }
}

.content,
.icon,
.start,
.end {
    display: inline-flex;
    align-items: center;
}

.interactive {
    cursor: pointer;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out;

    &:hover {
        border-color: component.var(border-color-hover);
        background-color: component.var(background-color-hover);
        color: component.var(text-color-hover);
    }

    &:active {
        border-color: component.var(border-color-active);
        background-color: component.var(background-color-active);
        color: component.var(text-color-active);
    }
    
    &:disabled {
        opacity: theme.var(disabled-opacity);
        cursor: default;
    }
}

.icon-before {
    .icon {
        order: 0;
    }
}

.icon-after {
    .icon {
        order: 1;
    }
}


// Sizes

.s {
    @include component.vars((
        height: 18px,
        padding: 4px,
        font-size: 12px
    ));
}

.m {
    @include component.vars((
        height: 24px,
        padding: 6px,
        font-size: 14px
    ));
}

.l {
    @include component.vars((
        height: 30px,
        padding: 8px,
        font-size: 16px
    ));
}


// Shapes

.circular {
    @include component.vars((
        border-radius: --height
    ));
}

.rectangular {
    @include component.vars((
        border-radius: 0
    ));
}

.rounded {
    @include component.vars((
        border-radius: calc(component.var(height) / 4)
    ));
}

// Variants

.plain {    
    @include component.color-state-vars((
        'background-color': plain,
        'text-color': on-plain
    ));
    @include component.palettes-color-state-vars((
        'background-color': plain,
        'text-color': '$'
    ));
}

.filled {
    @include component.color-state-vars((
        'background-color': filled,
        'text-color': on-filled
    ));
    @include component.palettes-color-state-vars((
        'background-color': filled,
        'text-color': on-filled
    ));
}

.outlined {
    @include component.vars((
        border-width: 1px
    ));

    @include component.color-state-vars((
        'border-color': border,
        'background-color': plain,
        'text-color': primary
    ));

    @include component.palettes-color-state-vars((
        'border-color': '$',
        'background-color': plain,
        'text-color': '$'
    ));

    border: component.var(border-width) solid component.var(border-color);
}

.tinted {
    @include component.color-state-vars((
        'background-color': tinted,
        'text-color': primary
    ));
    @include component.palettes-color-state-vars((
        'background-color': tinted,
        'text-color': primary
    ));
}