@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    height: 18px,
    radius: base.var(radius-xs),
    padding: base.var(space-xxs),
    gap: base.var(space-xxs),
    font-size: 12px
) !default;
    
$m: (
    height: 24px,
    radius: base.var(radius-s),
    padding: base.var(space-xs),
    gap: base.var(space-xxs),
    font-size: 14px
) !default;

$l: (
    height: 30px,
    radius: base.var(radius-m),
    padding: base.var(space-s),
    gap: base.var(space-xs),
    font-size: 16px
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$height: map.get($m, height) !default;
$radius: map.get($m, radius) !default;
$padding: map.get($m, padding) !default;
$gap: map.get($m, gap) !default;
$font-size: map.get($m, font-size) !default;
$font-weight: base.var(font-weight-normal) !default;

$vars: component.vars(Pill, (
    height: $height,
    radius: $radius,
    padding: $padding,
    gap: $gap,
    font-size: $font-size,
    font-weight: $font-weight
));