@use 'base';
@use 'component';

@use './PillGroup';

@include component.define(PillGroup, PillGroup.$vars) {
    .root {
        display: flex;
        gap: component.var(gap);
        align-items: center;
        flex-wrap: wrap;
    }

    .pill {
        flex-shrink: 0;
    }

    @include component.gaps((
        s: base.var(space-xxs),
        m: base.var(space-xs),
        l: base.var(space-s)
    ));
}