@use 'base';
@use 'component';
@use 'elements';

@use './Pill';

@include component.define(Pill, Pill.$vars) {
    .root {
        box-sizing: border-box;
        height: component.var(height);
        padding: 0 component.var(padding);
        display: inline-flex;
        align-items: center;
        gap: component.var(gap);
        border-radius: component.var(_radius, component.var(radius));
        font-family: base.var(font-family);
        font-size: component.var(font-size);
        font-weight: component.var(font-weight);

        @include elements.slot-padding(component.var(padding), base.var(space-xxs));
    }

    .content {
        line-height: 1;
    }

    .content,
    .icon,
    .start,
    .end {
        display: inline-flex;
        align-items: center;
    }

    @include component.sizes(Pill.$sizes);
}