@use 'component';

@use './PillGroup';

@include component.init(PillGroup, PillGroup.$vars);

.root {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: wrap;
}

.pill {
    flex-shrink: 0;
}