@use 'base';
@use 'component';

@use './Textarea';

@include component.define(Textarea, Textarea.$vars) {
    .root {
        appearance: none;
        box-sizing: border-box;
        align-self: center;
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        padding: 0;
        background: transparent;
        font-family: inherit;
        font-size: inherit;
        line-height: 1.4;
        overflow: hidden;
    }
}