@use 'component';
@use 'theme';

@use './List';

@include component.init(List, List.$vars);

.root {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: component.var(gap);
}


// Sizes

@include component.declare((
    s: (height: 36px),
    m: (height: 40px),
    l: (height: 48px)
));


// Gap

@include component.declare((
    gap-s: (gap: theme.var(gap-xxs)),
    gap-m: (gap: theme.var(gap-xs)),
    gap-l: (gap: theme.var(gap-s))
));