@use 'component';
@use 'theme';

@include component.define('ListItem', (
    height: auto,
    padding: 8px 16px,
    border-color: null,
    border-color-hover: null,
    border-color-active: null,
    border-radius: theme.var(border-radius-m),
    border-width: 1px,
    gap: theme.var(gap-xs),
    background-color: null,
    background-color-hover: null,
    background-color-active: null,
    text-color: null,
    text-color-hover: null,
    text-color-active: null,
));

$vars: component.vars();

.root {
    box-sizing: border-box;
    min-height: component.var(height);
    display: flex;
    align-items: center;
    border-radius: component.var(border-radius);
    padding: component.var(padding);
    gap: component.var(gap);
    background-color: component.var(background-color);
    color: component.var(text-color);
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    overflow: hidden;
}


// States

.interactive {
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out;

    &:hover {
        border-color: component.var(border-color-hover);
        background-color: component.var(background-color-hover);
        color: component.var(text-color-hover);
    }
    
    &:active {
        border-color: component.var(border-color-active);
        background-color: component.var(background-color-active);
        color: component.var(text-color-active);
    }
}


// Shapes

@include component.declare((
    rounded: (border-radius: theme.var(border-radius-s)),
    circular: (border-radius: component.var(height)),
    rectangular: (border-radius: 0)
));


// Variants

@include component.variants;