@use 'base';
@use 'component';

@use './List';

@include component.define(List, List.$vars);

.root {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: component.var(gap);
}


// Sizes

@include component.classes((
    s: (height: 36px),
    m: (height: 40px),
    l: (height: 48px)
));


// Gap

@include component.classes((
    gap-s: (gap: base.var(gap-xxs)),
    gap-m: (gap: base.var(gap-xs)),
    gap-l: (gap: base.var(gap-s))
));