@use 'base';
@use 'component';

@use './ListItem';

@include component.init(ListItem, ListItem.$vars);

.root {
    box-sizing: border-box;
    min-height: component.var(height);
    display: flex;
    align-items: center;
    border-radius: component.var(border-radius);
    padding: component.var(padding);
    gap: component.var(gap);
    background-color: component.var(background-color);
    color: component.var(text-color);
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    overflow: hidden;
}


// States

.interactive {
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out;

    &:hover {
        border-color: component.var(border-color-hover);
        background-color: component.var(background-color-hover);
        color: component.var(text-color-hover);
    }
    
    &.active,
    &:active {
        border-color: component.var(border-color-active);
        background-color: component.var(background-color-active);
        color: component.var(text-color-active);
    }
}


// Shapes

@include component.declare((
    rounded: (border-radius: base.var(border-radius-s)),
    circular: (border-radius: component.var(height)),
    rectangular: (border-radius: 0)
));


// Variants

@include component.variants;