@use 'sass:map';

@use '../../styles/functions' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as global;

.root {
    --ui-ListItem-padding: 8px 16px;
    --ui-ListItem-gap: var(--ui-gap-smaller);

    box-sizing: border-box;
    min-height: var(--ui-ListItem-height, auto);
    display: flex;
    align-items: center;
    border-radius: var(--ui-ListItem-border-radius);
    padding: var(--ui-ListItem-padding);
    gap: var(--ui-ListItem-gap);
    background-color: var(--ui-ListItem-background-color);
    color: var(--ui-ListItem-text-color);
    font-family: var(--ui-font-family);
    font-weight: var(--ui-font-weight-normal);
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    overflow: hidden;
}


// States

.root.interactive {
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    &:hover {
        background-color: var(--ui-ListItem-hover-background-color);
        border-color: var(--ui-ListItem-hover-border-color, transparent);
        color: var(--ui-ListItem-hover-text-color);
    }
    
    &:active {
        background-color: var(--ui-ListItem-active-background-color);
        border-color: var(--ui-ListItem-active-border-color, transparent);
        color: var(--ui-ListItem-active-text-color);
    }
    
    &.disabled {
        background-color: var(--ui-ListItem-disabled-background-color);
        border-color: var(--ui-ListItem-disabled-border-color, transparent);
        color: var(--ui-ListItem-disabled-text-color);
        cursor: default;
    }
}


// Shapes

.rounded {
    --ui-ListItem-border-radius: var(--ui-border-radius-small);
}

.circular {
    --ui-ListItem-border-radius: 25px;
}

.rectangular {
    --ui-ListItem-border-radius: 0;
}


// Variants

.plain {
    --ui-ListItem-text-color: var(--ui-text-color);

    @include color-state-variables('ListItem', 'background-color', plain);
    @include color-state-variables-for-palettes('ListItem', 'background-color', $color: 0, $override: (
        'base': none
    ));
    @include color-state-variables-for-palettes('ListItem', 'text-color');
}

.filled {
    @include color-state-variables-for-palettes('ListItem', 'background-color');
    @include color-state-variables-for-palettes('ListItem', 'text-color', $on: true);
}

.outlined {
    @include color-state-variables('ListItem', 'border-color', neutral);
    @include color-state-variables('ListItem', 'background-color', plain);
    @include color-state-variables-for-palettes('ListItem', 'border-color');
    @include color-state-variables-for-palettes('ListItem', 'background-color', $color: 0, $override: (
        'base': none
    ));
    @include color-state-variables-for-palettes('ListItem', 'text-color');

    --ui-ListItem-border-width: 1px;
    --ui-ListItem-text-color: var(--ui-text-color);

    border: var(--ui-ListItem-border-width) solid var(--ui-ListItem-border-color);
}

.tinted {
    @include color-state-variables('ListItem', 'background-color', tinted);
    @include color-state-variables-for-palettes('ListItem', 'background-color', $color: 1);
    @include color-state-variables-for-palettes('ListItem', 'text-color');

    --ui-ListItem-text-color: var(--ui-text-color);
}

.selected {
    &.plain {
        --ui-ListItem-text-color: var(--ui-text-color);

        @include color-state-variables('ListItem', 'background-color', neutral);
        @include color-state-variables-for-palettes('ListItem', 'background-color', $color: 1, $override: (
            'base': none
        ));
        @include color-state-variables-for-palettes('ListItem', 'text-color');
    }
    
    &.filled {
        @include color-state-variables('ListItem', 'background-color', neutral);
        @include color-state-variables('ListItem', 'text-color', on-neutral);
        @include color-state-variables-for-palettes('ListItem', 'background-color');
        @include color-state-variables-for-palettes('ListItem', 'text-color', $on: true);
    }
    
    &.outlined {
        --ui-ListItem-text-color: var(--ui-text-color);

        @include color-state-variables('ListItem', 'border-color', primary);
        @include color-state-variables('ListItem', 'background-color', neutral);
        @include color-state-variables-for-palettes('ListItem', 'border-color');
        @include color-state-variables-for-palettes('ListItem', 'background-color', $color: 1, $override: (
            'base': none
        ));
    }
    
    &.tinted {
        @include color-state-variables('ListItem', 'background-color', neutral);
        @include color-state-variables-for-palettes('ListItem', 'background-color', $color: 2);
        @include color-state-variables-for-palettes('ListItem', 'text-color');
    }
}