@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

@use 'base';
@use 'component';

@use './variables';
@use './mixins';

@use './Grid';
@use './GridItem';

@include component.define(GridItem, GridItem.$vars) {
    .root {
        @each $size in map.keys(variables.$columns) {
            @include mixins.media-query($size) {
                @include mixins.cell-span($size, variables.$default-column-span);
            }
        }
    }

    .align {
        &-start {
            align-self: start;
        }

        &-center {
            align-self: center;
        }

        &-end {
            align-self: end;
        }
    }

    @each $size in map.keys(variables.$columns) {
        @include mixins.media-query($size) {
            @for $span from 1 through map.get(variables.$columns, variables.$upper-breakpoint) {
                .span-#{$span},
                .span-#{$span}-#{$size} {
                    @include mixins.cell-span($size, $span);
                }
            }
        }
    }

    @for $i from 1 through map.get(variables.$columns, variables.$upper-breakpoint) {
        .order-#{$i} {
            order: $i;
        }
    }
}