@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

@use 'component';
@use 'theme';

@use './mixins';
@use './variables';
@use './Grid';

@include component.init(Grid, Grid.$vars);

.root {
    @each $size in map.keys(variables.$columns) {
        @include component.var(columns-#{$size}, map.get(
            variables.$columns,
            $size
        ));

        @include component.var(column-width-#{$size}, map.get(
            variables.$column-width,
            $size
        ));

        @include component.var(margin-#{$size}, map.get(
            variables.$margin,
            $size
        ));

        @include component.var(gutter-#{$size}, map.get(
            variables.$gutter,
            $size
        ));
    }

    @each $size in map.keys(variables.$columns) {
        @include mixins.media-query($size) {
            box-sizing: border-box;

            @if variables.$max-width {
                max-width: variables.$max-width;
            }
        }
    }
}

.inner {
    @each $size in map.keys(variables.$columns) {
        @include mixins.media-query($size) {
            display: flex;
            flex-flow: row wrap;
            align-items: stretch;
            gap: component.var(gutter-#{$size});

            @supports (display: grid) {
                display: grid;
                grid-template-columns: repeat(
                    map.get(variables.$columns, $size),
                    minmax(0, 1fr)
                );
            }
        }
    }
}

.align {
    &-left {
        margin-right: auto;
        margin-left: 0;
    }

    &-center {
        margin-left: auto;
        margin-right: auto;
    }

    &-right {
        margin-right: 0;
        margin-left: auto;
    }
}

.fixed-column-width {
    @each $size in map.keys(variables.$columns) {
        @include mixins.media-query($size) {
            $column-count: map.get(variables.$columns, $size);
            $gutter-number: $column-count - 1;
            $margin-number: 2;

            width: calc(
                component.var(column-width-#{$size}) * #{$column-count} +
                component.var(gutter-#{$size}) * #{$gutter-number} +
                component.var(margin-#{$size}) * #{$margin-number}
            );
        }
    }
}