@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

@use 'base';
@use 'component';

@use './mixins';
@use './variables';
@use './Grid';

@include component.define(Grid, Grid.$vars) {
    .root {
        @each $size in map.keys(variables.$columns) {
            @include component.var(columns-#{$size}, map.get(
                variables.$columns,
                $size
            ));

            @include component.var(column-width-#{$size}, map.get(
                variables.$column-width,
                $size
            ));

            @include component.var(margin-#{$size}, map.get(
                variables.$margin,
                $size
            ));

            @include component.var(gutter-#{$size}, map.get(
                variables.$gutter,
                $size
            ));
        }

        @each $size in map.keys(variables.$columns) {
            @include mixins.media-query($size) {
                box-sizing: border-box;

                @if variables.$max-width {
                    max-width: variables.$max-width;
                }
            }
        }
    }

    .inner {
        width: 100%;
        height: 100%;
        display: grid;

        @each $size in map.keys(variables.$columns) {
            @include mixins.media-query($size) {
                grid-template-columns: repeat(
                    map.get(variables.$columns, $size),
                    minmax(0, 1fr)
                );
                gap: component.var(gutter-#{$size});
            }
        }
    }

    .align {
        &-left {
            margin-right: auto;
            margin-left: 0;
        }

        &-center {
            margin-left: auto;
            margin-right: auto;
        }

        &-right {
            margin-right: 0;
            margin-left: auto;
        }
    }
}