@use 'component';

$columns-desktop: null !default;
$columns-tablet: null !default;
$columns-phone: null !default;
$column-width-desktop: null !default;
$column-width-tablet: null !default;
$column-width-phone: null !default;
$margin-desktop: null !default;
$margin-tablet: null !default;
$margin-phone: null !default;
$gutter-desktop: null !default;
$gutter-tablet: null !default;
$gutter-phone: null !default;

$vars: component.define(Grid, (
    columns-desktop: $columns-desktop,
    columns-tablet: $columns-tablet,
    columns-phone: $columns-phone,
    column-width-desktop: $column-width-desktop,
    column-width-tablet: $column-width-tablet,
    column-width-phone: $column-width-phone,
    margin-desktop: $margin-desktop,
    margin-tablet: $margin-tablet,
    margin-phone: $margin-phone,
    gutter-desktop: $gutter-desktop,
    gutter-tablet: $gutter-tablet,
    gutter-phone: $gutter-phone
));
