@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

@use './variables';

@mixin cell-span($size, $span) {
    grid-column-end: span math.min($span, map.get(variables.$columns, $size));
}

// returns the lower grid boundary or null if the smallest grid is selected
@function breakpoint-min($size) {
    $min: map.get(variables.$breakpoints, $size);

    @return if($min > 0, $min, null);
}

// returns the upper grid boundary or null if the largest grid is selected
@function breakpoint-max($size) {
    $names: map.keys(variables.$columns);
    $n: list.index($names, $size);
    $prev: if($n > 1, list.nth($names, $n - 1), null);

    @return if($prev, (breakpoint-min($prev) - 1px), null);
}

@mixin media-query($size) {
    $min: breakpoint-min($size);
    $max: breakpoint-max($size);

    @if $min == null and $max != null {
        // Phone
        @media (max-width: $max) {
            @content;
        }
    } @else if $min != null and $max != null {
        // Tablet
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $min != null and $max == null {
        // Desktop
        @media (min-width: $min) {
            @content;
        }
    } @else {
        // Fallback - no breakpoints defined
        @content;
    }
}