@use 'component';
@use 'theme';

@include component.define('TabsList', ());

$vars: component.vars();

.root {
    display: flex;
}


// Align

.align {
    &-start {
        justify-content: start;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: end;
    }
}

.tab {

}


// Misc

.fluid {
    .tab {
        flex: 1;
    }
}