@use 'animation';
@use 'component';

@use './Toast';

:export {
    enterDuration: #{Toast.$enter-duration};
    exitDuration: #{Toast.$exit-duration};
}

@include component.define(Toast, Toast.$vars) {
    .container {
        position: fixed;
        bottom: 16px;
        right: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 1000;
    }

    .root {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: component.var(radius);
        background-color: component.var(background-color);
        color: component.var(foreground-color);
        box-shadow: component.var(shadow);
        overflow: hidden;
        z-index: 10000;
    }
}