@use 'sass:math';

@use 'base';
@use 'component';

@use './Switch';

@include component.define(Switch, Switch.$vars);

.root {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    appearance: none;
    position: relative;
    width: component.var(input-width);
    height: component.var(input-height);
    margin: 0;
    border: none;
    display: inline-flex;
    align-items: center;
    background-color: component.var(background-color);
    border: 2px solid base.var(tinted-color);
    border-color: base.var(tinted-color);
    border-radius: component.var(input-height);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    // thumb
    &::after {
        $size: calc(#{component.var(input-height)} - 8px);

        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        box-sizing: border-box;
        width: $size;
        height: $size;
        border-radius: 100%;
        background-color: component.var(thumb-background-color);
        transition:
            background-color 0.2s ease-in-out,
            transform 0.2s ease-in-out;
    }
}

.label {
    cursor: pointer;
}


// States

.input {
    @include component.vars((
        background-color: base.var(plain-color)
    ));

    &:hover {
        @include component.vars((
            background-color: base.var(plain-hover-color)
        ));
    }

    &:active {
        @include component.vars((
            background-color: base.var(plain-active-color)
        ));
    }

    &:disabled {

        --ui-Switch-background-color: var(--ui-neutral-disabled-color);
    }

    &:checked {
        @include component.vars((
            thumb-background-color: base.var(filled-primary-color)
        ));

        &:hover {
            @include component.vars((
                thumb-background-color: base.var(filled-primary-hover-color)
            ));
        }

        &:active {
            @include component.vars((
                thumb-background-color: base.var(filled-primary-active-color)
            ));
        }

        &:disabled {
            @include component.vars((
                thumb-background-color: base.var(primary-color-disabled)
            ));
        }

        &::after {
            transform: translateX(calc(#{component.var(input-width)} - #{component.var(input-height)}));
        }
    }
}


// Sizes

@include component.classes((
    s: (
        input-width: 28px,
        input-height: 16px
    ),
    m: (
        input-width: 36px,
        input-height: 20px
    ),
    l: (
        input-width: 44px,
        input-height: 24px
    )
));