@use 'base';
@use 'component';

$input-width: null !default;
$input-height: null !default;
$border-color: base.var(outlined-color) !default;
$background-color: base.var(plain-color) !default;
$thumb-background-color: base.var(outlined-color) !default;
$thumb-transition-speed: 0.2s !default;

$vars: component.vars(Switch, (
    input-width: $input-width,
    input-height: $input-height,
    border-color: $border-color,
    background-color: $background-color,
    thumb-background-color: $thumb-background-color,
    thumb-transition-speed: $thumb-transition-speed
));