@use 'sass:math';

@use 'base';
@use 'component';

@use './Switch';

@include component.init(Switch, Switch.$vars);

.root {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    appearance: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: component.var(input-width);
    height: component.var(input-height);
    background-color: component.var(background-color);
    border: none;
    border-radius: component.var(input-height);
    margin: 0;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    // thumb
    &::after {
        $size: calc(#{component.var(input-height)} - 6px);

        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: $size;
        height: $size;
        border-radius: 25px;
        background-color: component.var(thumb-background-color);
        transition: transform 0.2s ease-in-out;
    }
}

.label {
    cursor: pointer;
}


// States

.input {
    &:hover {
        // --ui-Switch-background-color: var(--ui-light-gray);
    }

    &:active {
        // --ui-Switch-background-color: var(--ui-gray);
    }

    &:disabled {
        --ui-Switch-background-color: var(--ui-neutral-disabled-color);
    }

    &:checked {
        @include component.vars((
            thumb-background-color: base.var(primary-color)
        ));

        &:hover {
            @include component.vars((
                thumb-background-color: base.var(primary-color-hover)
            ));
        }

        &:active {
            @include component.vars((
                thumb-background-color: base.var(primary-color-active)
            ));
        }

        &:disabled {
            @include component.vars((
                thumb-background-color: base.var(primary-color-disabled)
            ));
        }

        &::after {
            transform: translateX(calc(#{component.var(input-width)} - #{component.var(input-height)}));
        }
    }
}


// Sizes

@include component.declare((
    s: (
        input-width: 28px,
        input-height: 16px
    ),
    m: (
        input-width: 36px,
        input-height: 20px
    ),
    l: (
        input-width: 44px,
        input-height: 24px
    )
));