@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    width: 28px,
    height: 16px
) !default;

$m: (
    width: 36px,
    height: 20px
) !default;

$l: (
    width: 44px,
    height: 24px
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
);

$width: map.get($m, width) !default;
$height: map.get($m, height) !default;
$border-color: base.var(outlined-color) !default;
$background-color: base.var(plain-color) !default;
$thumb-background-color: base.var(outlined-color) !default;
$thumb-transition-speed: 0.2s !default;

$vars: component.vars(Switch, (
    width: $width,
    height: $height,
    border-color: $border-color,
    background-color: $background-color,
    thumb-background-color: $thumb-background-color,
    thumb-transition-speed: $thumb-transition-speed
));