@use 'sass:map';

@use '../base' as *;
@use 'colors';
@use 'utils/color';
@use 'utils/css';

@use './variants';

@mixin theme($theme) {
    #{if(&, '&', '')}[data-theme="#{$theme}"] {
        color-scheme: #{$theme};
        @content;
    }

    @media (prefers-color-scheme: #{$theme}) {
        @content;
    }
}

@mixin vars(
    $element-colors,
    $theme-colors,
    $variant-colors
) {
    $is-dark: $theme == 'dark';

    // Element colors
    @each $element, $color in $element-colors {
        @include var(#{$element}-color, $color);
    }

    // Theme colors
    @each $name, $color in $theme-colors {
        @include vars((
            color: $color,
            color-hover: hover-color($color),
            color-active: active-color($color)
        ), '#{$name}-');

        $contrast-color: color.contrast-color($color);
        @include vars((
            color: $contrast-color,
            color-hover: hover-color($contrast-color),
            color-active: active-color($contrast-color)
        ), 'on-#{$name}-');
    }

    // Variant colors
    @include variants.define($variant-colors, $theme-colors);
}