@use 'sass:map';
@use 'sass:meta';

@use 'base';
@use 'colors';
@use 'colors/palettes';
@use 'variants';

$border-color: palettes.$base-6 !default;
$border-inverted-color: palettes.$base-4 !default;
$border-primary-color: palettes.$base-6 !default;
$border-secondary-color: palettes.$base-7 !default;
$border-tertiary-color: palettes.$base-8 !default;

$background-color: palettes.$base-9 !default;
$background-inverted-color: palettes.$base-0 !default;
$background-primary-color: palettes.$base-9 !default;
$background-secondary-color: palettes.$base-8 !default;
$background-tertiary-color: palettes.$base-7 !default;

$foreground-color: palettes.$base-0 !default;
$foreground-inverted-color: palettes.$base-9 !default;
$foreground-primary-color: palettes.$base-0 !default;
$foreground-secondary-color: palettes.$base-4 !default;
$foreground-tertiary-color: palettes.$base-5 !default;

$backdrop-color: rgba(0, 0, 0, .5) !default;
$shadow-color: rgba(0, 0, 0, .5) !default;

$element-colors: (
    border: $border-color,
    border-inverted: $border-inverted-color,
    border-primary: $border-primary-color,
    border-secondary: $border-secondary-color,
    border-tertiary: $border-tertiary-color,

    background: $background-color,
    background-inverted: $background-inverted-color,
    background-primary: $background-primary-color,
    background-secondary: $background-secondary-color,
    background-tertiary: $background-tertiary-color,

    foreground: $foreground-color,
    foreground-inverted: $foreground-inverted-color,
    foreground-primary: $foreground-primary-color,
    foreground-secondary: $foreground-secondary-color,
    foreground-tertiary: $foreground-tertiary-color,
    
    backdrop: $backdrop-color,
    shadow: $shadow-color
) !default;

@function palette-base-color($palette) {
    @return map.get($palette, 5);
}

@function palette-element-colors($palette) {
    @return (
        border: map.get($palette, 8),
        border-inverted: colors.contrast-color(map.get($palette, 5)),
        border-primary: map.get($palette, 8),
        border-secondary: map.get($palette, 9),
        border-tertiary: map.get($palette, 10),
        
        background: map.get($palette, 5),
        background-inverted: colors.contrast-color(map.get($palette, 5)),
        background-primary: map.get($palette, 5),
        background-secondary: map.get($palette, 8),
        background-tertiary: map.get($palette, 10),
        
        foreground: map.get($palette, 5),
        foreground-inverted: colors.contrast-color(map.get($palette, 5)),
        foreground-primary: map.get($palette, 5),
        foreground-secondary: map.get($palette, 7),
        foreground-tertiary: map.get($palette, 9),
    );
}

@mixin vars {
    @each $element, $color in $element-colors {
        @include base.var(#{$element}-color, $color);
    }

    @include variants.vars($element-colors);

    @each $name, $palette in palettes.$map {
        $base-color: palette-base-color($palette);
        
        @include base.var(#{$name}-color, $base-color);
        @include base.var(on-#{$name}-color, colors.contrast-color($base-color));
        
        $element-colors: palette-element-colors($palette);

        @each $element, $color in $element-colors {
            @include base.var(#{$name}-#{$element}-color, $color);
        }

        @include variants.vars($element-colors, $postfix: '-#{$name}');
    }
}