@use 'sass:map';

@use '../base' as *;

@use 'utils/color';
@use 'utils/css';

@mixin define($variant-colors, $theme-colors) {
    // Plain
    $plain-color: map.get($variant-colors, plain);
    @include vars((
        color: css.rgba($plain-color, 0),
        color-hover: css.rgba($plain-color, .05),
        color-active: css.rgba($plain-color, .075)
    ), 'plain-');

    $on-plain-color: color.contrast-color($plain-color);
    @include vars((
        color: $on-plain-color,
        color-hover: hover-color($on-plain-color),
        color-active: active-color($on-plain-color)
    ), 'on-plain-');

    // Filled
    $filled-color: map.get($variant-colors, filled);
    @include vars((
        color: $filled-color,
        color-hover: hover-color($filled-color),
        color-active: active-color($filled-color)
    ), 'filled-');

    $on-filled-color: color.contrast-color($filled-color);
    @include vars((
        color: $on-filled-color,
        color-hover: hover-color($on-filled-color),
        color-active: active-color($on-filled-color)
    ), 'on-filled-');

    // Tinted
    $tinted-color: map.get($variant-colors, tinted);
    @include vars((
        color: $tinted-color,
        color-hover: color.adjust($tinted-color, $alpha: 0.1),
        color-active: color.adjust($tinted-color, $alpha: 0.2)
    ), 'tinted-');

    // Theme colors
    @each $name, $color in $theme-colors {
        // Plain
        $plain-color: color.change($color, $alpha: 0);
        @include vars((
            color: $plain-color,
            color-hover: color.change($color, $alpha: 0.1),
            color-active: color.change($color, $alpha: 0.15)
        ), 'plain-#{$name}-');

        $on-plain-color: $color;
        @include vars((
            color: $on-plain-color,
            color-hover: hover-color($on-plain-color),
            color-active: active-color($on-plain-color)
        ), 'on-plain-#{$name}-');

        // Filled
        $filled-color: $color;
        @include vars((
            color: $filled-color,
            color-hover: hover-color($filled-color),
            color-active: active-color($filled-color)
        ), 'filled-#{$name}-');
        
        $on-filled-color: color.contrast-color($color);
        @include vars((
            color: $on-filled-color,
            color-hover: hover-color($on-filled-color),
            color-active: active-color($on-filled-color)
        ), 'on-filled-#{$name}-');

        // Tinted
        $tinted-color: color.change($color, $alpha: 0.2);
        @include vars((
            color: $tinted-color,
            color-hover: color.change($color, $alpha: 0.25),
            color-active: color.change($color, $alpha: 0.3)
        ), 'tinted-#{$name}-');
        
        $on-tinted-color: $color;
        @include vars((
            color: $on-tinted-color,
            color-hover: color.scale($on-tinted-color, $lightness: -5%),
            color-active: color.scale($on-tinted-color, $lightness: -10%)
        ), 'on-tinted-#{$name}-');
    }
}