@use 'sass:map';

@use 'utils/css';
@use 'utils/type';

$prefix: 'kui' !default;
$root: ':root' !default;
$theme: null !default;
$sizes: (xxs, xs, s, m, l, xl, xxl);

$font-family: 'Fira Sans', Roboto, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif !default;
$font-size: 16px !default;
$font-weights: (
    light: 300,
    normal: 400,
    semibold: 500,
    bold: 600
) !default;

$line-height: 1.5 !default;

$font-sizes: (
    xxs: 10px,
    xs: 12px,
    s: 14px,
    m: 16px,
    l: 20px,
    xl: 24px,
    xxl: 28px
) !default;

$opacity: (
    full: 1,
    high: 0.75,
    medium: 0.5,
    low: 0.25,
    none: 0
) !default;

$radius-sizes: (
    xxs: 2px,
    xs: 4px,
    s: 6px,
    m: 8px,
    l: 12px,
    xl: 16px,
    xxl: 20px
) !default;

$space-sizes: (
    xxs: 4px,
    xs: 8px,
    s: 12px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 40px
) !default;

$shapes: (
    circle: 100%,
    circular: 100000px,
    rounded: map.get($radius-sizes, m),
    rectangular: 0px
) !default;

$shadows: (
    xxs: 0 1px 2px 0,
    xxs-: 0 -1px 2px 0,
    xs: 0 2px 4px 0,
    xs-: 0 -2px 4px 0,
    s: 0 4px 8px 0,
    s-: 0 -4px 8px 0,
    m: 0 8px 16px 0,
    m-: 0 -8px 16px 0,
    l: 0 16px 24px 0,
    l-: 0 -16px 24px 0,
    xl: 0 24px 32px 0,
    xl-: 0 -24px 32px 0,
    xxl: 0 32px 40px 0,
    xxl-: 0 -32px 40px 0
) !default;

$screen-sizes: (
    xxs: 360px,
    xs: 480px,
    s: 640px,
    m: 768px,
    l: 1024px,
    xl: 1280px,
    xxl: 1440px
) !default;

$breakpoints: (
    s: map.get($screen-sizes, s),
    m: map.get($screen-sizes, m),
    l: map.get($screen-sizes, l)
) !default;

@function var($name, $default-value: null) {
    @if $default-value != null {
        @return css.var('#{$prefix}-#{$name}', $default-value);
    } @else {
        @return css.var(#{$prefix}-#{$name});
    }
}

@mixin class($class) {
    .#{$prefix}-#{$class} {
        @content;
    }
}

@mixin layer($name) {
    @layer #{$name} {
        @content;
    }
}

@mixin root {
    #{$root} {
        @content;
    }
}

@mixin prop($name, $syntax, $inherits: false, $initial-value: null) {
    @include css.prop(
        --#{$prefix}-#{$name},
        $syntax,
        $inherits,
        $initial-value
    );
}

@mixin var($name, $value: null) {
    --#{$prefix}-#{$name}: #{$value};
}

@mixin vars($vars, $prefix: '') {
    @each $name, $value in $vars {
        @include var('#{$prefix}#{$name}', $value);
    }
}