@use 'sass:map';

@use './base' as *;
@use './colors';
@use './colors/palettes';
@use './elements';
@use './variants';
@use './utils/css';

// Colors

.border-color {
    border-color: var(border-color);
}

.border-inverted-color {
    border-color: var(border-inverted-color);
}

@each $color in (primary, secondary, tertiary) {
    .border-#{$color}-color {
        border-color: var(border-#{$color}-color);
    }
}

@each $name in colors.$palette-names {
    .#{$name}-border-color {
        border-color: var(#{$name}-border-color);
    }

    @each $color in (primary, secondary, tertiary) {
        .#{$name}-border-#{$color}-color {
            border-color: var(#{$name}-border-#{$color}-color);
        }
    }
}

.background-color {
    background-color: var(background-color);
}

.background-inverted-color {
    background-color: var(background-inverted-color);
}

@each $color in (primary, secondary, tertiary) {
    .background-#{$color}-color {
        background-color: var(background-#{$color}-color);
    }
}

@each $name in colors.$palette-names {
    .#{$name}-background-color {
        background-color: var(#{$name}-background-color);
    }

    @each $color in (primary, secondary, tertiary) {
        .#{$name}-background-#{$color}-color {
            background-color: var(#{$name}-background-#{$color}-color);
        }
    }
}

.foreground-color {
    color: var(foreground-color);
}

.foreground-inverted-color {
    color: var(foreground-inverted-color);
}

@each $color in (primary, secondary, tertiary) {
    .foreground-#{$color}-color {
        color: var(foreground-#{$color}-color);
    }
}

@each $name in colors.$palette-names {
    .#{$name}-foreground-color {
        color: var(#{$name}-color);
    }

    @each $color in (primary, secondary, tertiary) {
        .#{$name}-foreground-#{$color}-color {
            color: var(#{$name}-foreground-#{$color}-color);
        }
    }
}


// Opacity

@each $level in map.keys($opacity) {
    .o-#{$level} {
        opacity: #{var(opacity-#{$level})};
    }
}


// Margin

.m {
    margin: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin: var(space-#{$size});
        }
    }
}

.mx {
    margin-left: var(space-m);
    margin-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-left: var(space-#{$size});
            margin-right: var(space-#{$size});
        }
    }
}

.my {
    margin-top: var(space-m);
    margin-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-top: var(space-#{$size});
            margin-bottom: var(space-#{$size});
        }
    }
}

.mt {
    margin-top: var(space-m);
    
    @each $size in $sizes {
        &-#{$size} {
            margin-top: var(space-#{$size});
        }
    }
}

.mr {
    margin-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-right: var(space-#{$size});
        }
    }
}

.mb {
    margin-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-bottom: var(space-#{$size});
        }
    }
}

.ml {
    margin-left: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-left: var(space-#{$size});
        }
    }
}


// Padding

.p {
    padding: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding: var(space-#{$size});
        }
    }
}

.px {
    padding-left: var(space-m);
    padding-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-left: var(space-#{$size});
            padding-right: var(space-#{$size});
        }
    }
}

.py {
    padding-top: var(space-m);
    padding-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-top: var(space-#{$size});
            padding-bottom: var(space-#{$size});
        }
    }
}

.pt {
    padding-top: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-top: var(space-#{$size});
        }
    }
}

.pr {
    padding-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-right: var(space-#{$size});
        }
    }
}

.pb {
    padding-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-bottom: var(space-#{$size});
        }
    }
}

.pl {
    padding-left: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-left: var(space-#{$size});
        }
    }
}


// Gaps

@each $size in $sizes {
    .gap-#{$size} {
        @include css.var(gap, var(space-#{$size}));
        gap: var(space-#{$size})
    }
}


// Aspect Ratios

.ar {
    &-16-10 {
        aspect-ratio: 16 / 10;
    }

    &-16-9 {
        aspect-ratio: 16 / 9;
    }

    &-4-3 {
        aspect-ratio: 4 / 3;
    }

    &-3-2 {
        aspect-ratio: 3 / 2;
    }

    &-2-1 {
        aspect-ratio: 2 / 1;
    }

    &-1-1,
    &-1 {
        aspect-ratio: 1 / 1;
    }
}


// Text styles

@each $weight in map.keys($font-weights) {
    .#{$weight} {
        font-weight: #{var(font-weight-#{$weight})};
    }
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.ellipsis {
    @include elements.ellipsis;
}


// Shapes

.circular {
    border-radius: 10000px;
}

.rectangular {
    border-radius: 0;
}

.rounded {
    border-radius: var(radius-m);
    
    @each $size in map.keys($radius-sizes) {
        &-#{$size} {
            border-radius: var(radius-#{$size});
        }
    }
}


// Shadows

@each $size in $sizes {
    .shadow-#{$size} {
        box-shadow: var(shadow-#{$size}) var(shadow-color);
    }
}

@each $size in $sizes {
    .shadow-hover-#{$size} {        
        transition: box-shadow 0.15s ease-in-out;

        &:hover {
            box-shadow: var(shadow-#{$size}) var(shadow-color);
            z-index: 1;
        }
    }
}


// Variants

@include variants.plain-classes;
@include variants.filled-classes;
@include variants.outlined-classes;
@include variants.tinted-classes;
@include variants.outlined-tinted-classes;
@include variants.outlined-filled-classes;
@include variants.text-classes;


// States

.disabled {
    @include elements.disabled;
}

.interactive {
    @include elements.interactive;
}

.non-interactive {
    @include elements.non-interactive;
}