@use 'sass:map';

@use 'base' as *;
@use 'colors';
@use 'colors/palettes';
@use 'variants';

// Colors

.border-color {
    border-color: var(border-color);
}

.border-inverted-color {
    border-color: var(border-inverted-color);
}

@each $color in (primary, secondary, tertiary) {
    .border-#{$color}-color {
        border-color: var(border-#{$color}-color);
    }
}

@each $color in colors.$palette-names {
    .#{$color}-border-color {
        border-color: var(border-#{$color}-color);
    }
}

.background-color {
    background-color: var(background-color);
}

.background-inverted-color {
    background-color: var(background-inverted-color);
}

@each $color in (primary, secondary, tertiary) {
    .background-#{$color}-color {
        background-color: var(background-#{$color}-color);
    }
}

@each $color in colors.$palette-names {
    .#{$color}-background-color {
        background-color: var(#{$color}-color);
    }
}

.foreground-color {
    color: var(foreground-color);
}

.foreground-inverted-color {
    color: var(foreground-inverted-color);
}

@each $color in (primary, secondary, tertiary) {
    .foreground-#{$color}-color {
        color: var(foreground-#{$color}-color);
    }
}

@each $color in colors.$palette-names {
    .#{$color}-foreground-color {
        color: var(#{$color}-color);
    }
}


// Opacity

@each $level in map.keys($opacity) {
    .opacity-#{$level} {
        opacity: #{var(opacity-#{$level})};
    }
}


// Margin

.m {
    margin: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin: var(space-#{$size});
        }
    }
}

.mx {
    margin-left: var(space-m);
    margin-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-left: var(space-#{$size});
            margin-right: var(space-#{$size});
        }
    }
}

.my {
    margin-top: var(space-m);
    margin-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-top: var(space-#{$size});
            margin-bottom: var(space-#{$size});
        }
    }
}

.mt {
    margin-top: var(space-m);
    
    @each $size in $sizes {
        &-#{$size} {
            margin-top: var(space-#{$size});
        }
    }
}

.mr {
    margin-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-right: var(space-#{$size});
        }
    }
}

.mb {
    margin-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-bottom: var(space-#{$size});
        }
    }
}

.ml {
    margin-left: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-left: var(space-#{$size});
        }
    }
}


// Padding

.p {
    padding: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding: var(space-#{$size});
        }
    }
}

.px {
    padding-left: var(space-m);
    padding-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-left: var(space-#{$size});
            padding-right: var(space-#{$size});
        }
    }
}

.py {
    padding-top: var(space-m);
    padding-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-top: var(space-#{$size});
            padding-bottom: var(space-#{$size});
        }
    }
}

.pt {
    padding-top: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-top: var(space-#{$size});
        }
    }
}

.pr {
    padding-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-right: var(space-#{$size});
        }
    }
}

.pb {
    padding-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-bottom: var(space-#{$size});
        }
    }
}

.pl {
    padding-left: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-left: var(space-#{$size});
        }
    }
}


// Gaps

@each $size in $sizes {
    .g-#{$size} {
        gap: var(space-#{$size})
    }
}


// Aspect Ratios

.ar {
    &-16-10 {
        aspect-ratio: 16 / 10;
    }

    &-16-9 {
        aspect-ratio: 16 / 9;
    }

    &-4-3 {
        aspect-ratio: 4 / 3;
    }

    &-3-2 {
        aspect-ratio: 3 / 2;
    }

    &-2-1 {
        aspect-ratio: 2 / 1;
    }

    &-1-1,
    &-1 {
        aspect-ratio: 1 / 1;
    }
}


// Text styles

@each $weight in map.keys($font-weights) {
    .#{$weight} {
        font-weight: #{var(font-weight-#{$weight})};
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Shapes

.circular {
    border-radius: 100%;
}

.rectangular {
    border-radius: 0;
}

.rounded {
    border-radius: var(border-radius-m);

    @each $size in map.keys($border-radii) {
        &-#{$size} {
            border-radius: var(border-radius-#{$size});
        }
    }
}


// Shadows

@each $size in $sizes {
    .shadow-#{$size} {
        box-shadow: var(shadow-#{$size}) var(shadow-color);
    }
}

@each $size in $sizes {
    .shadow-hover-#{$size} {        
        &:hover {
            box-shadow: var(shadow-#{$size}) var(shadow-color);
            z-index: 1;
        }
    }
}


// Variants

@include variants.plain-styles;
@include variants.filled-styles;
@include variants.outlined-styles;
@include variants.tinted-styles;
@include variants.outlined-tinted-styles;
@include variants.outlined-filled-styles;


// States

.disabled {
    cursor: default;
    opacity: var(opacity-medium);
    pointer-events: none;
}

.interactive {
    cursor: pointer;
    user-select: none;
    
    &:hover {
        border-color: var(border-hover-color);
        background-color: var(background-hover-color);
        color: var(foreground-hover-color);
    }
    
    &:active {
        border-color: var(border-active-color);
        background-color: var(background-active-color);
        color: var(foreground-active-color);
    }
}

.static {
    &:hover {
        border-color: var(border-color);
        background-color: var(background-color);
        color: var(foreground-color);
    }

    &:active {
        border-color: var(border-color);
        background-color: var(background-color);
        color: var(foreground-color);
    }
}