@use 'sass:map';

@use 'base' as *;
@use 'colors';

// Colors

@each $color in colors.$palette-names {
    @include class(#{$color}-background-color) {
        background-color: #{var(#{$color}-color)};
    }
}

@each $color in colors.$palette-names {
    @include class(#{$color}-foreground-color) {
        color: #{var(#{$color}-color)};
    }
}

@each $color in (primary, secondary, tertiary) {
    @include class(border-#{$color}-color) {
        border-color: #{var(border-#{$color}-color)};
    }
}

@each $color in (primary, secondary, tertiary) {
    @include class(background-#{$color}-color) {
        background-color: #{var(background-#{$color}-color)};
    }
}

@each $color in (primary, secondary, tertiary) {
    @include class(foreground-#{$color}-color) {
        color: #{var(foreground-#{$color}-color)};
    }
}


// Opacity

@each $level in map.keys($opacity) {
    @include class(opacity-#{$level}) {
        opacity: #{var(opacity-#{$level})};
    }
}

// Weight

@each $level in map.keys($font-weights) {
    @include class(weight-#{$level}) {
        font-weight: #{var(font-weight-#{$level})};
    }
}

// Margin

@include class(m) {
    margin: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin: var(space-#{$size});
        }
    }
}

@include class(mx) {
    margin-left: var(space-m);
    margin-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-left: var(space-#{$size});
            margin-right: var(space-#{$size});
        }
    }
}

@include class(my) {
    margin-top: var(space-m);
    margin-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-top: var(space-#{$size});
            margin-bottom: var(space-#{$size});
        }
    }
}

@include class(mt) {
    margin-top: var(space-m);
    
    @each $size in $sizes {
        &-#{$size} {
            margin-top: var(space-#{$size});
        }
    }
}

@include class(mr) {
    margin-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-right: var(space-#{$size});
        }
    }
}

@include class(mb) {
    margin-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-bottom: var(space-#{$size});
        }
    }
}

@include class(ml) {
    margin-left: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            margin-left: var(space-#{$size});
        }
    }
}


// Padding

@include class(p) {
    padding: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding: var(space-#{$size});
        }
    }
}

@include class(px) {
    padding-left: var(space-m);
    padding-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-left: var(space-#{$size});
            padding-right: var(space-#{$size});
        }
    }
}

@include class(py) {
    padding-top: var(space-m);
    padding-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-top: var(space-#{$size});
            padding-bottom: var(space-#{$size});
        }
    }
}

@include class(pt) {
    padding-top: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-top: var(space-#{$size});
        }
    }
}

@include class(pr) {
    padding-right: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-right: var(space-#{$size});
        }
    }
}

@include class(pb) {
    padding-bottom: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-bottom: var(space-#{$size});
        }
    }
}

@include class(pl) {
    padding-left: var(space-m);

    @each $size in $sizes {
        &-#{$size} {
            padding-left: var(space-#{$size});
        }
    }
}


// Gap

@each $size in $sizes {
    @include class(gap-#{$size}) {
        gap: var(space-#{$size})
    }
}


// Text styles

@include class(italic) {
    font-style: italic;
}

@include class(capitalize) {
    text-transform: capitalize;
}

@include class(uppercase) {
    text-transform: uppercase;
}

@include class(strikethrough) {
    text-decoration: line-through;
}

@include class(underline) {
    text-decoration: underline;
}

@include class(ellipsis) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}