@use 'sass:map';
@use 'sass:meta';

@use './utils/color';
@use './utils/type';

$black: #000;
$white: #fff;
$gray: #98979d;
$red: #db4437;
$orange: #f4b400;
$green: #0f9d58;
$blue: #4285f4;
$purple: #ab47bc;

$neutral: (
    0: #fafafa,
    1: #f5f5f5,
    2: #e5e5e5,
    3: #d4d4d4,
    4: #a3a3a3,
    5: #737373,
    6: #525252,
    7: #404040,
    8: #262626,
    9: #171717,
    10: #0a0a0a
);

$primary: (
    0: #F1F6FE,
    1: #E2EDFD,
    2: #C5DAFC,
    3: #A3C4FA,
    4: #7DACF7,
    5: #4285F4,
    6: #2B77F3,
    7: #0E63EC,
    8: #0B51C1,
    9: #083B8C,
    10: #052457
);

$secondary: (
    0: #FEF6F6,
    1: #FDE8E8,
    2: #FBCDCB,
    3: #F8ADAA,
    4: #F48480,
    5: #EE3F39,
    6: #E61B14,
    7: #CA1711,
    8: #A9140F,
    9: #750E0A,
    10: #500907
);

$danger: (
    0: #FDF3F2,
    1: #FAE7E5,
    2: #F6CFCB,
    3: #EFAEA9,
    4: #E8867D,
    5: #DB4437,
    6: #CF3425,
    7: #B62D21,
    8: #97261B,
    9: #6C1B13,
    10: #4E130E
);

$info: (
    0: #FAF4FB,
    1: #F3E5F5,
    2: #E9CEED,
    3: #D9ADE1,
    4: #C684D2,
    5: #AB47BC,
    6: #983DA8,
    7: #873696,
    8: #732E7F,
    9: #4A1E52,
    10: #3D1943
);

$success: (
    0: #E3FCF0,
    1: #C2F9DF,
    2: #73F2B5,
    3: #15E07E,
    4: #13C46E,
    5: #0F9D58,
    6: #0D8C4F,
    7: #0C7E47,
    8: #0A663A,
    9: #074B2A,
    10: #042F1A
);

$warning: (
    0: #FFFAEB,
    1: #FFF3D1,
    2: #FFE7A3,
    3: #FFD86B,
    4: #FFC629,
    5: #F4B400,
    6: #E0A500,
    7: #C28E00,
    8: #A37800,
    9: #755600,
    10: #523C00
);

$palette-names: (
    neutral,
    primary,
    secondary,
    danger,
    info,
    success,
    warning
);

$palettes: (
    neutral: $neutral,
    primary: $primary,
    secondary: $secondary,
    danger: $danger,
    info: $info,
    success: $success,
    warning: $warning
);

$dark-theme-colors: (
    neutral: map.get($neutral, 4),
    primary: map.get($primary, 4),
    secondary: map.get($secondary, 4),
    danger: map.get($danger, 4),
    info: map.get($info, 4),
    success: map.get($success, 4),
    warning: map.get($warning, 4)
) !default;

$dark-element-colors: (
    backdrop: rgba(0, 0, 0, .5),
    background: $black,
    border: map.get($neutral, 8),
    border-light: map.get($neutral, 9),
    icon: map.get($neutral, 6),
    icon-muted: map.get($neutral, 7),
    text: map.get($neutral, 0),
    text-primary: map.get($neutral, 0),
    text-secondary: map.get($neutral, 1),
    text-tertiary: map.get($neutral, 2),
    surface: map.get($neutral, 9),
    surface-primary: map.get($neutral, 9),
    surface-secondary: map.get($neutral, 7),
    surface-tertiary: map.get($neutral, 6),
    surface-inverted: map.get($neutral, 0)
) !default;

$light-theme-colors: (
    neutral: map.get($neutral, 5),
    primary: map.get($primary, 5),
    secondary: map.get($secondary, 5),
    danger: map.get($danger, 5),
    info: map.get($info, 5),
    success: map.get($success, 5),
    warning: map.get($warning, 5)
) !default;

$light-element-colors: (
    backdrop: rgba(0, 0, 0, .25),
    background: $white,
    border: map.get($neutral, 2),
    border-light: map.get($neutral, 1),
    icon: map.get($neutral, 3),
    icon-muted: map.get($neutral, 2),
    text: map.get($neutral, 10),
    text-primary: map.get($neutral, 10),
    text-secondary: map.get($neutral, 9),
    text-tertiary: map.get($neutral, 8),
    surface: map.get($neutral, 1),
    surface-primary: map.get($neutral, 0),
    surface-secondary: map.get($neutral, 1),
    surface-tertiary: map.get($neutral, 2),
    surface-inverted: map.get($neutral, 10)
) !default;

$opacity: (
    active: 1,
    inactive: .75,
    disabled: .5
) !default;

@function on-color($color, $invert: false) {
    @return color.contrast-color($color, $invert: $invert);
}

@function hover-color($color, $invert: false) {
    @return color.scale($color, $lightness: if($invert, 5%, -5%));
}

@function active-color($color, $invert: false) {
    @return color.scale($color, $lightness: if($invert, 10%, -10%));
}

@function state-colors($color, $override: ()) {
    @return (
        'hover': if(map.has-key($override, 'hover'),
            map.get($override, 'hover'),
            hover-color($color)
        ),
        'active': if(map.has-key($override, 'active'),
            map.get($override, 'active'),
            active-color($color)
        )
    );
}

@function palette($color) { 
    @return (
        0: color.scale($color, $lightness: 90%),
        1: color.scale($color, $lightness: 80%),
        2: color.scale($color, $lightness: 60%),
        3: color.scale($color, $lightness: 40%),
        4: color.scale($color, $lightness: 20%),
        5: color.scale($color, $lightness: 0%),
        6: color.scale($color, $lightness: -20%),
        7: color.scale($color, $lightness: -40%),
        8: color.scale($color, $lightness: -60%),
        9: color.scale($color, $lightness: -80%),
        10: color.scale($color, $lightness: -90%)
    );
}

@function on-palette($palette) {
    @return (
        0: on-color(map.get($palette, 0)),
        1: on-color(map.get($palette, 1)),
        2: on-color(map.get($palette, 2)),
        3: on-color(map.get($palette, 3)),
        4: on-color(map.get($palette, 4)),
        5: on-color(map.get($palette, 5)),
        6: on-color(map.get($palette, 6)),
        7: on-color(map.get($palette, 7)),
        8: on-color(map.get($palette, 8)),
        9: on-color(map.get($palette, 9)),
        10: on-color(map.get($palette, 10))
    );
}