@use 'sass:map';
@use 'sass:meta';

@use './base';
@use './colors';
@use './utils/css';
@use './utils/list';
@use './utils/string';
@use './utils/type';

@function define($component, $vars) {
    @each $name, $value in $vars {
        $_value: _get-var-value($value, $component);
        $vars: map.set($vars, $name, $_value);
    }

    @return $vars;
}

$-name: '';
$-vars: ();

@mixin init($name, $vars) {
    $-name: $name !global;
    $-vars: $vars !global;

    #{if(&, '&', '.root')} {
        @include vars($vars);
    }
}

@function var($name) {
    @if not map.has-key($-vars, $name) {
        @error 'No variable "#{$name}"';
    }

    $value: map.get($-vars, $name);

    @if _is-private-var($name) {
        @return css.var($name, $value);
    } @else {
        @return base.var('#{$-name}-#{$name}', $value);
    }
}

@mixin declare($arg) {
    @each $name, $vars in $arg {
        #{if(&, &, '')}.#{$name} {
            @include vars($vars);
        }
    }
}

@mixin states($states) {
    @each $state, $vars in $states {
        &:#{$state} {
            @include vars($vars);
        }
    }
}

@mixin vars($vars) {
    @each $name, $value in $vars {
        @include var($name, $value);
    }
}

@mixin var($name, $value) {
    $_value: _get-var-value($value);

    @if _is-private-var($name) {
        @include css.var($name, $_value);
    } @else {
        @include base.var('#{$-name}-#{$name}', $_value);
    }
}

@mixin color-state-vars($args...) {
    @include theme.color-state-vars(
        $prefix: '#{$-name}-',
        $args...
    );
}

@mixin palette-vars($args...) {
    @include theme.palette-vars(
        $prefix: '#{$-name}-',
        $args...
    );
}

@mixin palettes-vars($args...) {
    @include theme.palettes-vars(
        $prefix: '#{$-name}-',
        $args...
    );
}

@mixin palette-color-state-vars($args...) {
    @include theme.color-state-vars-for-palette(
        $prefix: '#{$-name}-',
        $args...
    );
}

@mixin palettes-color-state-vars($args...) {
    @include theme.palettes-color-state-vars(
        $prefix: '#{$-name}-',
        $args...
    );
}

@function _get-var-value($value: null, $prefix: null) {
    @if type.is-list($value) {
        @return list.map($value, meta.get-function('_get-var-value'), $prefix);
    }

    @if _is-private-var-value($value) {
        @return css.var(string.slice($value, 3));
    }

    @if _is-public-var-value($value) {
        @return base.var('#{$prefix}-#{string.slice($value, 3)}');
    }

    @return $value;
}

@function _is-private-var($name) {
    @return string.starts-with($name, '_');
}

@function _is-private-var-value($value) {
    @return string.starts-with($value, '--_');
}

@function _is-public-var($name) {
    @return string.starts-with($name, '--');
}

@function _is-public-var-value($value) {
    @return string.starts-with($value, '--');
}

@mixin variants(
    $plain: true,
    $filled: true,
    $outlined: true,
    $tinted: true
) {
    @if ($plain) {
        @include plain;
    }

    @if ($filled) {
        @include filled;
    }

    @if ($outlined) {
        @include outlined;
    }

    @if ($tinted) {
        @include tinted;
    }
}

@mixin plain {
    .plain {
        @include color-state-vars((
            'background-color': plain,
            'text-color': on-plain
        ));
        @include palettes-color-state-vars((
            'background-color': plain,
            'text-color': on-plain
        ));
    }
}

@mixin filled {
    .filled {
        @include color-state-vars((
            'background-color': filled,
            'text-color': on-filled
        ));
        @include palettes-color-state-vars((
            'background-color': filled,
            'text-color': on-filled
        ));
    }
}

@mixin outlined {
    .outlined {
        @include vars((
            border-width: 1px
        ));

        @include color-state-vars((
            'border-color': border,
            'background-color': plain,
            'text-color': primary
        ));

        @include palettes-color-state-vars((
            'border-color': '$',
            'background-color': plain,
            'text-color': '$'
        ));

        border: var(border-width) solid var(border-color);
    }
}

@mixin tinted {
    .tinted {
        @include color-state-vars((
            'background-color': tinted,
            'text-color': on-tinted
        ));
        @include palettes-color-state-vars((
            'background-color': tinted,
            'text-color': on-tinted
        ));
    }
}