@use 'sass:map';

@use './sizes';

$bp-s: map.get(sizes.$screen-sizes, s);
$bp-m: map.get(sizes.$screen-sizes, m);
$bp-l: map.get(sizes.$screen-sizes, l);

$breakpoints: (
    sm: '(max-width: #{$bp-s - 1})',
    gt-sm: '(min-width: #{$bp-s})',

    lt-md: '(max-width: #{$bp-s - 1})',
    md: '(min-width: #{$bp-s}) and (max-width: #{$bp-m - 1})',
    md-up: '(min-width: #{$bp-s})',
    gt-md: '(min-width: #{$bp-m})',

    lt-lg: '(max-width: #{$bp-m - 1})',
    lg: '(min-width: #{$bp-m}) and (max-width: #{$bp-l - 1})',
    lg-up: '(min-width: #{$bp-m})',
    gt-lg: '(min-width: #{$bp-l})',

    xl: '(min-width: #{$bp-l})'
);

@mixin query($size) {
    $breakpoint: map.get($breakpoints, $size);

    @if not $breakpoint {
        @error 'Invalid breakpoint';
    } @else {
        @media #{$breakpoint} {
            @content;
        }
    }
}