@use 'sass:map';

@use './base';

$breakpoints: (
    xxs: 360px,
    xs: 480px,
    s: 640px,
    m: 768px,
    l: 1024px,
    xl: 1280px,
    xxl: 1440px
) !default;

$xxs: map.get($breakpoints, xxs);
$xs: map.get($breakpoints, xs);
$s: map.get($breakpoints, s);
$m: map.get($breakpoints, m);
$l: map.get($breakpoints, l);
$xl: map.get($breakpoints, xl);
$xxl: map.get($breakpoints, xxl);

@mixin from($bp) {
    @if map.has-key($breakpoints, $bp) {
        @media screen and (min-width: map.get($breakpoints, $bp)) {
            @content;
        }
    } @else {
        @media screen and (min-width: $bp) {
            @content;
        }
    }
}
  
@mixin to($bp) {
    @if map.has-key($breakpoints, $bp) {
        @media screen and (max-width: #{map.get($breakpoints, $bp) - 1}) {
            @content;
        }
    } @else {
        @media screen and (max-width: #{$bp - 1}) {
            @content;
        }
    }
}
  
@mixin between($from, $to) {
    @if map.has-key($breakpoints, $from) and map.has-key($breakpoints, $to) {
        @media screen and (min-width: #{map.get($breakpoints, $from)}) and (max-width: #{map.get($breakpoints, $to) - 1}) {
            @content;
        }
    } @else {
        @media screen and (min-width: #{$from}) and (max-width: #{$to - 1}) {
            @content;
        }
    }
}