@use 'sass:map';
@use 'sass:meta';
@use 'sass:selector';
@use 'sass:string';

@use './functions' as *;
@use './variables' as *;

@mixin combine-selectors($selector1, $selector2) {
    &#{selector.unify(selector.nest(&, $selector1), selector.nest(&, $selector2))} {
        @content;
    }
}

@mixin breakpoint($size) {
    $breakpoint: map-get($breakpoints, $size);

    @if not $breakpoint {
        @error 'Invalid breakpoint';
    } @else {
        @media #{$breakpoint} {
            @content;
        }
    }
}

@mixin variable($name, $value) {
    --ui-#{$name}: #{$value};
}

@mixin prop($name, $value) {
    @if meta.type-of($value) == 'string' and string.index($value, '--ui') == 1 {
        --ui-#{$name}: #{prop(string.slice($value, 6))};
    } @else {
        --ui-#{$name}: #{$value};
    }
}

@mixin props($map) {
    @each $name, $value in $map {
        @include prop($name, $value);
    }
}

@mixin component-props($component-name, $map) {
    @each $name, $value in $map {
        @include prop($component-name + "-" + $name, $value);
    }
}

@mixin caret($size: 24px) {
    &::after {
        content: '';
        display: inline-block;
        width: $size;
        height: $size;
        margin-left: auto;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJz48cGF0aCBkPSdNNiA5TDEyIDE1TDE4IDknIHN0cm9rZT0nIzUzNTI1Qycgc3Ryb2tlLXdpZHRoPScxLjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcvPjwvc3ZnPg==');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .2s;
        opacity: .5;
    }
}

@mixin css-variables {
    // Colors

    @each $name, $value in $base-colors {
        --ui-#{$name}: #{$value};
    }

    @each $name, $value in $base-colors-rgb {
        --ui-#{$name}-rgb: #{$value};
    }

    @each $name, $value in $theme-colors {
        --ui-#{$name}-color: #{$value};
    }

    @each $name, $states in $theme-state-colors {
        @each $state, $color in $states {
            --ui-#{$name}-#{$state}-color: #{$color};
        }
    }

    @each $name, $value in $theme-on-colors {
        --ui-on-#{$name}-color: #{$value};
    }

    @each $name, $states in $theme-state-on-colors {
        @each $state, $color in $states {
            --ui-on-#{$name}-#{$state}-color: #{$color};
        }
    }

    @each $name, $value in $theme-colors-rgb {
        --ui-#{$name}-rgb: #{$value};
    }

    @each $name, $palette in $palettes {
        @each $level, $color in $palette {
            --ui-#{$name}-#{$level}-color: #{$color};
        }
    }

    @each $name, $palette in $on-palettes {
        @each $level, $color in $palette {
            --ui-on-#{$name}-#{$level}-color: #{$color};
        }
    }

    @each $element, $color in $element-colors {
        --ui-#{$element}-color: #{$color};
    }
    
    // Font

    --ui-font-family: #{$font-family};
    --ui-font-size: #{$font-size};
    --ui-font-weight-light: #{$font-weight-light};
    --ui-font-weight-normal: #{$font-weight-normal};
    --ui-font-weight-semibold: #{$font-weight-semibold};
    --ui-font-weight-bold: #{$font-weight-bold};
    --ui-line-height: #{$line-height};
    
    // Sizes

    @each $size, $value in $font-sizes {
        --ui-font-size-#{$size}: #{$value};
    }

    @each $size, $value in $border-radii {
        --ui-border-radius-#{$size}: #{$value};
    }

    @each $size, $value in $gap-sizes {
        --ui-gap-#{$size}: #{$value};
    }

    @each $size, $value in $padding-sizes {
        --ui-padding-#{$size}: #{$value};
    }

    // Shadow

    @each $size, $value in $shadows {
        --ui-shadow-#{$size}: #{$value};
    }

    // Breakpoints

    @each $size, $value in $shadows {
        --ui-breakpoint-#{$size}: #{$value};
    }
}

@mixin color-variable-for-palette(
    $component,
    $name,
    $palette,
    $color: null,
    $on: false
) {
    $type-of-color: meta.type-of($color);
    $prefix: if($on, 'on-', '');
    $postfix: if($type-of-color == 'number', '-#{$color}', '');

    #{if(&, '&.#{$palette}', '.#{$palette}')} {
        @if $type-of-color == 'color' or $type-of-color == 'string' {
            @include variable(#{$component}-#{$name}, $color);
        } @else {
            @include variable(#{$component}-#{$name},
                var(--ui-#{$prefix}#{$palette}#{$postfix}-color)
            );
        }
    }
}

@mixin color-variable-for-palettes(
    $component,
    $name,
    $color: null,
    $on: false,
    $palettes: $palette-names,
    $override: ()
) {
    @each $palette in $palette-names {
        @include color-variable-for-palette(
            $component,
            $name,
            $palette,
            if(map.has-key($override, $palette),
                map.get($override, $palette),
                $color
            ),
            $on
        );
    }
}

@mixin color-state-variables($component, $name, $color, $override: ()) {
    @if meta.type-of($color) == 'color' {
        $color: map.merge(('base': $color), state-colors($color));
    } @else if (meta.type-of($color) == 'string') {
        $color: (
            'base': $color,
            'hover': $color,
            'active': $color,
            'disabled': $color
        );
    }

    $base-color: if(map.has-key($override, 'base'),
        map.get($override, 'base'),
        map.get($color, 'base')
    );
    $hover-color: if(map.has-key($override, 'hover'),
        map.get($override, 'hover'),
        map.get($color, 'hover')
    );
    $active-color: if(map.has-key($override, 'active'),
        map.get($override, 'active'),
        map.get($color, 'active')
    );
    $disabled-color: if(map.has-key($override, 'disabled'),
        map.get($override, 'disabled'),
        map.get($color, 'disabled')
    );

    @include variable(#{$component}-#{$name}, $base-color);
    @include variable(#{$component}-hover-#{$name}, $hover-color);
    @include variable(#{$component}-active-#{$name}, $active-color);
    @include variable(#{$component}-disabled-#{$name}, $disabled-color);
}

@mixin color-state-variables-for-palette(
    $component,
    $name,
    $palette,
    $color: null,
    $on: false,
    $override: ()
) {
    $type-of-color: meta.type-of($color);

    #{if(&, '&.#{$palette}', '.#{$palette}')} {
        @if $color == null {
            $prefix: if($on, 'on-', '');

            @include color-state-variables($component, $name, (
                'base': var(--ui-#{$prefix}#{$palette}-color),
                'hover': var(--ui-#{$prefix}#{$palette}-hover-color),
                'active': var(--ui-#{$prefix}#{$palette}-active-color),
                'disabled': var(--ui-#{$prefix}#{$palette}-disabled-color)
            ), $override);
        } @else if $type-of-color == 'number' {
            @include color-state-variables($component, $name, map.get($palettes, $palette, $color), $override);
        } @else if $type-of-color == 'string' {
            @include color-state-variables($component, $name, $color, $override);
        }
    }
}

@mixin color-state-variables-for-palettes(
    $component,
    $name,
    $color: null,
    $on: false,
    $palettes: $palette-names,
    $override: ()
) {
    @each $palette in $palette-names {
        @include color-state-variables-for-palette($component, $name, $palette, $color, $on, $override);
    }
}