@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';

@use './base' as *;
@use './colors';
@use './font';
@use './sizes';
@use './utils/color';
@use './utils/css';
@use './utils/string' as str;
@use './utils/type' as type;

@mixin init($theme: null) {
    @if & {
        @include base($theme);
    } @else {
        :root {
            @include base($theme);
        }
    }
}

@mixin base($theme: null) {
    @if ($theme == null) {
        @include colors.define(light);
        @include colors.define(dark);
    } @else {
        @include colors.define($theme);
    }
    
    @include vars((
        font-family: font.$font-family,
        font-size: font.$font-size,
        line-height: font.$line-height
    ));

    @each $size, $value in sizes.$font-sizes {
        @include var(font-size-#{$size}, $value);
    }

    @each $weight, $value in font.$font-weights {
        @include var(font-weight-#{$weight}, $value);
    }

    @each $size, $values in sizes.$heading-sizes {
        @include var(heading-#{$size}, list.nth($values, 1));
    }

    @each $size, $values in sizes.$text-sizes {
        @include var(text-#{$size}, list.nth($values, 1));
    }

    @each $size, $value in sizes.$border-radii {
        @include var(border-radius-#{$size}, $value);
    }

    @each $size, $value in sizes.$space-sizes {
        @include var(space-#{$size}, $value);
    }

    @each $size, $value in sizes.$shadows {
        @include var(shadow-#{$size}, $value);
    }

    @each $size, $value in sizes.$screen-sizes {
        @include var(screen-#{$size}, $value);
    }

    @each $name, $value in colors.$opacity {
        @include var(opacity-#{$name}, $value);
    }

    font-family: font.$font-family;
}