@use 'sass:color';
@use 'sass:map';

@use './functions';

/* Font */

$font-family: "Fira Sans", Roboto, "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif !default;
$font-size: 1rem !default;
$font-weights: (
    'light': 300,
    'normal': 400,
    'semibold': 500,
    'bold': 700
) !default;
$font-weight-light: map.get($font-weights, 'light');
$font-weight-normal: map.get($font-weights, 'normal');
$font-weight-semibold: map.get($font-weights, 'semibold');
$font-weight-bold: map.get($font-weights, 'bold');
$line-height: 1.5 !default;


/* Colors */

// Base

$base-colors: (
    'black': #1d1d21, // rgba(0, 0, 4, 0.886)
    'light-black': #323136, // rgba(1, 0, 6, 0.807)
    'dark-gray': #53525c, // rgba(1, 0, 14, 0.678)
    'gray': #98979d, // rgba(2, 0, 14, 0.407)
    'medium-gray': #98979d,
    'light-gray': #d4d4da, // rgba(0, 0, 35, 0.168)
    'very-light-gray': #e8e9eb, // rgba(0, 11, 33, 0.09)
    'extra-light-gray': #f2f3f8, // rgba(0, 19, 117, 0.05)
    'white': #fff,
    'red': #db4437,
    'orange': #f4b400,
    'green': #0f9d58,
    'blue': #4285f4,
    'light-blue': #afc9f3,
    'extra-light-blue': #ddebff,
    'purple': #ab47bc
) !default;

$black: map.get($base-colors, 'black');
$light-black: map.get($base-colors, 'light-black');
$dark-gray: map.get($base-colors, 'dark-gray');
$gray: map.get($base-colors, 'gray');
$medium-gray: map.get($base-colors, 'medium-gray');
$light-gray: map.get($base-colors, 'light-gray');
$very-light-gray: map.get($base-colors, 'very-light-gray');
$extra-light-gray: map.get($base-colors, 'extra-light-gray');
$white: map.get($base-colors, 'white');
$red: map.get($base-colors, 'red');
$orange: map.get($base-colors, 'orange');
$green: map.get($base-colors, 'green');
$blue: map.get($base-colors, 'blue');
$purple: map.get($base-colors, 'purple');

$black-rgb: functions.rgb($black);
$gray-rgb: functions.rgb($gray);
$white-rgb: functions.rgb($white);
$red-rgb: functions.rgb($red);
$orange-rgb: functions.rgb($orange);
$green-rgb: functions.rgb($green);
$blue-rgb: functions.rgb($blue);
$purple-rgb: functions.rgb($purple);

$base-colors-rgb: (
    'black': $black-rgb,
    'gray': $gray-rgb,
    'white': $white-rgb,
    'red': $red-rgb,
    'orange': $orange-rgb,
    'green': $green-rgb,
    'blue': $blue-rgb,
    'purple': $purple-rgb
);

// Theme

$theme-colors: (
    'neutral': $gray,
    'primary': $blue,
    'secondary': $red,
    'danger': $red,
    'info': $purple,
    'success': $green,
    'warning': $orange
) !default;

$neutral-color: map.get($theme-colors, 'neutral');
$primary-color: map.get($theme-colors, 'primary');
$secondary-color: map.get($theme-colors, 'secondary');
$danger-color: map.get($theme-colors, 'danger');
$info-color: map.get($theme-colors, 'info');
$success-color: map.get($theme-colors, 'success');
$warning-color: map.get($theme-colors, 'warning');

$theme-state-colors: (
    'neutral': functions.state-colors($neutral-color),
    'primary': functions.state-colors($primary-color),
    'secondary': functions.state-colors($secondary-color),
    'danger': functions.state-colors($danger-color),
    'info': functions.state-colors($info-color),
    'success': functions.state-colors($success-color),
    'warning': functions.state-colors($warning-color),
);

$theme-on-colors: (
    'neutral': functions.on-color($neutral-color, $black, $white),
    'primary': functions.on-color($primary-color, $black, $white),
    'secondary': functions.on-color($secondary-color, $black, $white),
    'danger': functions.on-color($danger-color, $black, $white),
    'info': functions.on-color($info-color, $black, $white),
    'success': functions.on-color($success-color, $black, $white),
    'warning': functions.on-color($warning-color, $black, $white)
);

$on-neutral-color: map.get($theme-on-colors, 'neutral');
$on-primary-color: map.get($theme-on-colors, 'primary');
$on-secondary-color: map.get($theme-on-colors, 'secondary');
$on-danger-color: map.get($theme-on-colors, 'danger');
$on-info-color: map.get($theme-on-colors, 'info');
$on-success-color: map.get($theme-on-colors, 'success');
$on-warning-color: map.get($theme-on-colors, 'warning');

$theme-state-on-colors: (
    'neutral': functions.state-colors($on-neutral-color),
    'primary': functions.state-colors($on-primary-color),
    'secondary': functions.state-colors($on-secondary-color),
    'danger': functions.state-colors($on-danger-color),
    'info': functions.state-colors($on-info-color),
    'success': functions.state-colors($on-success-color),
    'warning': functions.state-colors($on-warning-color)
);

$neutral-rgb: functions.rgb($neutral-color);
$primary-rgb: functions.rgb($primary-color);
$secondary-rgb: functions.rgb($secondary-color);
$danger-rgb: functions.rgb($danger-color);
$info-rgb: functions.rgb($info-color);
$success-rgb: functions.rgb($success-color);
$warning-rgb: functions.rgb($warning-color);

$theme-colors-rgb: (
    'neutral': $neutral-rgb,
    'primary': $primary-rgb,
    'secondary': $secondary-rgb,
    'danger': $danger-rgb,
    'info': $info-rgb,
    'success': $success-rgb,
    'warning': $warning-rgb
);

// Palettes

$neutral-palette: (
    0: #F7F7F8,
    1: #EFEFF0,
    2: #DDDDDF,
    3: #CBCACE,
    4: #B4B3B7,
    5: #98979D,
    6: #8A8990,
    7: #78777E,
    8: #616066,
    9: #46454A,
   10: #323135
);
$primary-palette: (
    0: #F1F6FE,
    1: #E2EDFD,
    2: #C5DAFC,
    3: #A3C4FA,
    4: #7DACF7,
    5: #4285F4,
    6: #2B77F3,
    7: #0E63EC,
    8: #0B51C1,
    9: #083B8C,
   10: #052457
);
$secondary-palette: (
    0: #FEF6F6,
    1: #FDE8E8,
    2: #FBCDCB,
    3: #F8ADAA,
    4: #F48480,
    5: #EE3F39,
    6: #E61B14,
    7: #CA1711,
    8: #A9140F,
    9: #750E0A,
   10: #500907
);
$danger-palette: (
    0: #FDF3F2,
    1: #FAE7E5,
    2: #F6CFCB,
    3: #EFAEA9,
    4: #E8867D,
    5: #DB4437,
    6: #CF3425,
    7: #B62D21,
    8: #97261B,
    9: #6C1B13,
   10: #4E130E
);
$info-palette: (
    0: #FAF4FB,
    1: #F3E5F5,
    2: #E9CEED,
    3: #D9ADE1,
    4: #C684D2,
    5: #AB47BC,
    6: #983DA8,
    7: #873696,
    8: #732E7F,
    9: #4A1E52,
   10: #3D1943
);
$success-palette: (
    0: #E3FCF0,
    1: #C2F9DF,
    2: #73F2B5,
    3: #15E07E,
    4: #13C46E,
    5: #0F9D58,
    6: #0D8C4F,
    7: #0C7E47,
    8: #0A663A,
    9: #074B2A,
   10: #042F1A
);
$warning-palette: (
    0: #FFFAEB,
    1: #FFF3D1,
    2: #FFE7A3,
    3: #FFD86B,
    4: #FFC629,
    5: #F4B400,
    6: #E0A500,
    7: #C28E00,
    8: #A37800,
    9: #755600,
   10: #523C00
);

$palettes: (
    'neutral': $neutral-palette,
    'primary': $primary-palette,
    'secondary': $secondary-palette,
    'danger': $danger-palette,
    'info': $info-palette,
    'success': $success-palette,
    'warning': $warning-palette
);

$palette-names: map.keys($theme-colors);

$on-neutral-palette: functions.on-pallette($neutral-palette);
$on-primary-palette: functions.on-pallette($primary-palette);
$on-secondary-palette: functions.on-pallette($secondary-palette);
$on-danger-palette: functions.on-pallette($danger-palette);
$on-info-palette: functions.on-pallette($info-palette);
$on-success-palette: functions.on-pallette($success-palette);
$on-warning-palette: functions.on-pallette($warning-palette);

$on-palettes: (
    'neutral': $on-neutral-palette,
    'primary': $on-primary-palette,
    'secondary': $on-secondary-palette,
    'danger': $on-danger-palette,
    'info': $on-info-palette,
    'success': $on-success-palette,
    'warning': $on-warning-palette
);

$element-colors: (
    'background': $white,
    'border': $light-gray,
    'border-light': $very-light-gray,
    'icon': $dark-gray,
    'text': $black,
    'text-primary': $black,
    'text-secondary': $dark-gray,
    'text-tertiary': $medium-gray,
    'surface': $white
);

$background-color: map.get($element-colors, 'background');
$border-color: map.get($element-colors, 'border');
$border-light-color: map.get($element-colors, 'border-light');
$icon-color: map.get($element-colors, 'icon');
$text-color: map.get($element-colors, 'text');
$text-primary-color: map.get($element-colors, 'text-primary');
$text-secondary-color: map.get($element-colors, 'text-secondary');
$text-tertiary-color: map.get($element-colors, 'text-tertiary');
$surface-color: map.get($element-colors, 'surface');
    
    
/* Sizes */

$font-sizes: (
    'smallest': 10px,
    'smaller': 12px,
    'small': 14px,
    'medium': 16px,
    'large': 20px,
    'larger': 24px,
    'largest': 28px
) !default;

$font-size-smallest: map.get($font-sizes, 'smallest');
$font-size-smaller: map.get($font-sizes, 'smaller');
$font-size-small: map.get($font-sizes, 'small');
$font-size-medium: map.get($font-sizes, 'medium');
$font-size-large: map.get($font-sizes, 'large');
$font-size-larger: map.get($font-sizes, 'larger');
$font-size-largest: map.get($font-sizes, 'largest');

$border-radii: (
    'smallest': 2px,
    'smaller': 4px,
    'small': 6px,
    'medium': 8px,
    'large': 12px,
    'larger': 16px,
    'largest': 20px
) !default;

$border-radius-smallest: map.get($border-radii, 'smallest');
$border-radius-smaller: map.get($border-radii, 'smaller');
$border-radius-small: map.get($border-radii, 'small');
$border-radius-medium: map.get($border-radii, 'medium');
$border-radius-large: map.get($border-radii, 'large');
$border-radius-larger: map.get($border-radii, 'larger');
$border-radius-largest: map.get($border-radii, 'largest');

$gap-sizes: (
    'smallest': 4px,
    'smaller': 8px,
    'small': 12px,
    'medium': 16px,
    'large': 20px,
    'larger': 24px,
    'largest': 28px
) !default;

$gap-smallest: map.get($gap-sizes, 'smallest');
$gap-smaller: map.get($gap-sizes, 'smaller');
$gap-small: map.get($gap-sizes, 'small');
$gap-medium: map.get($gap-sizes, 'medium');
$gap-large: map.get($gap-sizes, 'large');
$gap-larger: map.get($gap-sizes, 'larger');
$gap-largest: map.get($gap-sizes, 'largest');

$padding-sizes: (
    'smallest': 4px,
    'smaller': 8px,
    'small': 12px,
    'medium': 16px,
    'large': 20px,
    'larger': 24px,
    'largest': 28px
) !default;

$padding-smallest: map.get($padding-sizes, 'smallest');
$padding-smaller: map.get($padding-sizes, 'smaller');
$padding-small: map.get($padding-sizes, 'small');
$padding-medium: map.get($padding-sizes, 'medium');
$padding-large: map.get($padding-sizes, 'large');
$padding-larger: map.get($padding-sizes, 'larger');
$padding-largest: map.get($padding-sizes, 'largest');


// Shadow

$shadows: (
    'small': 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    'medium': 0 8px 16px 0 rgba(0, 0, 0, 0.1),
    'large': 0 16px 24px 0 rgba(0, 0, 0, 0.1)
);

$shadow-small: map.get($shadows, 'small');
$shadow-medium: map.get($shadows, 'medium');
$shadow-large: map.get($shadows, 'large');


/* Breakpoints */

$breakpoint-sizes: (
    'small': 600px,
    'medium': 840px,
    'large': 1440px
) !default;

$breakpoint-small: map.get($breakpoint-sizes, 'small');
$breakpoint-medium: map.get($breakpoint-sizes, 'medium');
$breakpoint-large: map.get($breakpoint-sizes, 'large');

$breakpoints: (
    sm: '(max-width: #{$breakpoint-small - 1})',
    gt-sm: '(min-width: #{$breakpoint-small})',

    lt-md: '(max-width: #{$breakpoint-small - 1})',
    md: '(min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-medium - 1})',
    md-up: '(min-width: #{$breakpoint-small})',
    gt-md: '(min-width: #{$breakpoint-medium})',

    lt-lg: '(max-width: #{$breakpoint-medium - 1})',
    lg: '(min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1})',
    lg-up: '(min-width: #{$breakpoint-medium})',
    gt-lg: '(min-width: #{$breakpoint-large})',

    xl: '(min-width: #{$breakpoint-large})'
);