@use 'sass:string';

@use 'base';
@use 'colors';

:export {
    prefix: string.unquote(base.$prefix);
    neutralColor: colors.$neutral;
    brandColor: colors.$brand;
    accentColor: colors.$accent;
    dangerColor: colors.$danger;
    infoColor: colors.$info;
    successColor: colors.$success;
    warningColor: colors.$warning;
}