@use 'sass:string';

@use './base';
@use './colors';

:export {
    prefix: string.unquote(base.$prefix);
    baseColor: colors.$base;
    brandColor: colors.$brand;
    accentColor: colors.$accent;
    dangerColor: colors.$danger;
    infoColor: colors.$info;
    successColor: colors.$success;
    warningColor: colors.$warning;
}