@use 'base' as *;
@use 'colors/palettes';
@use 'themes';
@use 'themes/dark';
@use 'themes/light';

@include root {
    @include vars((
        font-family: $font-family,
        font-size: $font-size,
        line-height: $line-height
    ));

    @each $size, $value in $font-sizes {
        @include var(font-size-#{$size}, $value);
    }

    @each $weight, $value in $font-weights {
        @include var(font-weight-#{$weight}, $value);
    }

    @each $name, $value in $opacity {
        @include var(opacity-#{$name}, $value);
    }

    @each $size, $value in $radius-sizes {
        @include var(radius-#{$size}, $value);
    }

    @each $size, $value in $space-sizes {
        @include var(space-#{$size}, $value);
    }

    @each $name, $value in $shapes {
        @include var(#{$name}, $value);
    }

    @each $size, $value in $shadows {
        @include var(shadow-#{$size}, $value);
    }

    @each $size, $value in $screen-sizes {
        @include var(screen-#{$size}, $value);
    }

    @each $name, $colors in palettes.$map {
        @each $level, $color in $colors {
            @include var(#{$name}-#{$level}-color, $color);
        }

        @each $level, $color in palettes.contrast($colors) {
            @include var(#{$name}-#{$level}-contrast-color, $color);
        }
    }
}

@if $theme != 'light' {
    @include themes.dark {
        color-scheme: dark;
        @include dark.vars;
    }
}

@if $theme != 'dark' {
    @include themes.light {
        color-scheme: light;
        @include light.vars;
    }
}