@use 'sass:string';

@use 'base';
@use 'colors';

:export {
    prefix: string.unquote(base.$prefix);
    black: colors.$black;
    white: colors.$white;
    gray: colors.$gray;
    red: colors.$red;
    orange: colors.$orange;
    green: colors.$green;
    blue: colors.$blue;
    purple: colors.$purple;
}