@use 'animation';
@use 'base';
@use 'component';

@use './ProgressBar';

@include component.define(ProgressBar, ProgressBar.$vars);

.root {
    position: relative;
    box-sizing: border-box;
    min-height: component.var(thickness);
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: component.var(border-radius);
    background-color: component.var(track-color);
}

.bar {
    box-sizing: inherit;
    block-size: component.var(thickness);
    inline-size: 100%;
    border-radius: component.var(border-radius);
    background-color: component.var(bar-color);
    transform-origin: left;
}

.indeterminate {
    animation: slide 2.5s ease-in-out 0s infinite normal none running;
}