@use 'base';
@use 'component';

$s: (
    size: 24px
) !default;

$m: (
    size: 32px
) !default;

$l: (
    size: 48px
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$size: auto !default;
$track-color: base.var(border-color) !default;
$circle-color: base.var(brand-color) !default;

$vars: component.vars(ProgressCircle, (
    size: $size,
    track-color: $track-color,
    circle-color: $circle-color
));