@use 'base';
@use 'component';

$thickness: 6px !default;
$border-radius: --thickness !default;
$track-color: base.var(border-color) !default;
$bar-color: base.var(brand-color) !default;

$vars: component.vars(ProgressBar, (
    thickness: $thickness,
    border-radius: $border-radius,
    track-color: $track-color,
    bar-color: $bar-color
));
