@use 'base';
@use 'component';

$size-s: 24px !default;
$size-m: 32px !default;
$size-l: 48px !default;

$size: auto !default;
$track-color: base.var(border-color) !default;
$circle-color: base.var(primary-color) !default;

$vars: component.vars(ProgressCircle, (
    size: $size,
    track-color: $track-color,
    circle-color: $circle-color
));
