@use 'base';
@use 'component';

@use './Spinner';

@include component.init(Spinner, Spinner.$vars);

.root {
    display: inline-block;
    width: component.var(size);
    height: component.var(size);
    border: calc(#{component.var(size)} * .1) solid component.var(color);
    border-right-color: transparent;
    border-radius: 50%;
    animation: component.var(animation-speed) linear infinite spin;
    vertical-align: var(vertical-align, -0.125em);

    @media (prefers-reduced-motion: reduce) {
        @include component.vars((
            animation-speed: calc(#{component.var(animation-speed)} * 2)
        ));
    }
}


// Colors

@include component.palettes-vars(color);


// Sizes

@include component.declare((
    xs: (size: 16px),
    sm: (size: 24px),
    m: (size: 32px),
    lg: (size: 40px),
    xl: (size: 48px)
));


@keyframes spin {
    to { transform: rotate(360deg); }
}