@use 'base';
@use 'component';

$color: base.var(brand-color) !default;
$size: base.var(size-m) !default;
$speed: 0.75s !default;

$vars: component.vars(Spinner, (
    color: $color,
    size: $size,
    speed: $speed
));
