@use 'component';
@use 'theme';

@use './Label';

@include component.init(Label, Label.$vars);

.root {
    display: flex;
    align-items: flex-start;
    gap: component.var(gap);
    color: component.var(color);
    font-family: theme.var(font-family);
    font-size: component.var(size);
    line-height: 1;
}

.start,
.end {
    flex-shrink: 0;
}


// Colors

@include component.palettes-vars(color);


// Sizes

@include component.declare((
    s: (
        size: theme.var(font-size-xs),
        gap: theme.var(space-xxs)
    ),
    m: (
        size: theme.var(font-size-s),
        gap: theme.var(space-xxs)
    ),
    l: (
        size: theme.var(font-size-m),
        gap: theme.var(space-xs)
    )
));


// Misc

.inline {
    display: inline-flex;
}