@use 'base';
@use 'component';

@use './Label';

@include component.define(Label, Label.$vars) {
    .root {
        display: flex;
        align-items: flex-start;
        gap: component.var(gap);
        color: component.var(color);
        font-family: base.var(font-family);
        font-size: component.var(size);
        line-height: 1;
    }

    .start,
    .end {
        flex-shrink: 0;
    }

    .inline {
        display: inline-flex;
    }


    // Colors TODO refactor to use `colors` mixin

    @include component.classes((
        primary: (color: base.var(foreground-primary-color)),
        secondary: (color: base.var(foreground-secondary-color)),
        tertiary: (color: base.var(foreground-tertiary-color))
    ));

    @include component.palettes-vars(color);

    @include component.sizes(Label.$sizes);
}