@use 'base';
@use 'component';

$color: base.var(text-primary-color) !default;
$gap: base.var(space-xs) !default;
$size: base.var(font-size-m) !default;

$vars: component.define(Label, (
    color: $color,
    gap: $gap,
    size: $size
));