@use 'sass:map';

@use 'component';
@use 'theme';

@include component.define('Option', (
    padding: (8px, 12px),
    background-color: theme.var(surface-color),
    text-color: theme.var(text-color),
    font-size: theme.var(font-size-m),
    font-weight: 400,
    line-height: 1.5
));

$vars: component.vars();

.root {
    display: flex;
    padding: 8px;
    gap: .8rem;
    background-color: component.var(background-color);
    color: component.var(text-color);
    cursor: pointer;
    user-select: none;
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
}


// States

.root {
    // @include color-state-variables('Option', 'background-color', plain);

    &:hover {
        --ui-Option-background-color: var(--ui-Option-hover-background-color);
    }

    &:active {
        --ui-Option-background-color: var(--ui-Option-active-background-color);
    }

    &.disabled {
        --ui-Option-background-color: var(--ui-Option-disabled-background-color);
        --ui-Option-text-color: var(--ui-disabled-color);
    }
}

.active {
    // @include color-state-variables('Option', 'background-color', primary-1);
}

.selected {
    // @include color-state-variables('Option', 'background-color', primary);
    // @include color-state-variables('Option', 'text-color', on-primary);
}