@use 'sass:map';

@use 'base';
@use 'component';
@use 'elements';

@use './Select';

@include component.define(Select, Select.$vars) {
    .root {
        cursor: pointer;
    }

    .control {
        flex: 1;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        gap: base.var(space-xxs);
    }

    .input {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-align: left;
        white-space: nowrap;
        z-index: 1;
        cursor: inherit;
    }

    .input[type="button"] {
        visibility: hidden;

        &:empty::before {
            content: attr(data-placeholder);
            color: #b8b8b8;
        }

        .label ~ &::before {
            visibility: hidden;
        }
    }

    .value {
        align-self: center;
        white-space: nowrap;
    }

    .arrow {
        transition: transform 0.2s ease-in-out;
    }

    .list {
        height: 100%;
        overflow: hidden auto;

        &:empty {
            &::after {
                content: attr(data-no-options-label);
                min-height: component.var(height);
                display: flex;
                align-items: center;
                padding: component.var(padding);
                color: base.var(foreground-tertiary-color);
                font-style: italic;
            }
        }
    }

    .open {
        &.bottom {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        &.top {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }

        .arrow {
            transform: rotate(180deg);
        }
    }
}