@use 'component';
@use 'elements' as *;
@use 'theme';

@include component.define('Select', (
    height: null,
    padding: null,
    gap: theme.var(space-xs),
    border-color: theme.var(border-color),
    border-width: 1px,
    border-radius: theme.var(border-radius-m),
    background-color: theme.var(surface-color),
    label-color: theme.var(text-secondary-color),
    text-color: theme.var(text-color),
    font-size: theme.var(font-size-m),
    font-weight: theme.var(font-weight-normal),
    line-height: theme.var(line-height),
    menu-shadow: theme.var(shadow-m)
));

$vars: component.vars();

.root {
    width: 100%;
}

.control {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: component.var(height);
    display: flex;
    align-items: center;
    border-radius: component.var(border-radius);
    padding: component.var(padding);
    gap: component.var(gap);
    background-clip: padding-box;
    background-color: component.var(background-color);
    color: component.var(text-color);
    font-family: theme.var(font-family);
    font-size: component.var(font-size);
    font-weight: theme.var(font-weight);
    line-height: component.var(line-height);
    transition: border-color 0.2s ease-in-out;

    @include caret;
}

.start,
.end {
    display: inline-flex;
    align-items: center;
    gap: component.var(gap);
}

.label {
    position: absolute;
    color: component.var(label-color);
    transition: transform .2s;
    transform-origin: top left;
}

.input {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: left;
    white-space: nowrap;
    z-index: 1;

    &:empty::before {
        content: attr(data-placeholder);
        color: #b8b8b8;
    }

    .label ~ &::before {
        visibility: hidden;
    }
}

.menu {
    box-sizing: border-box;
    list-style: none;
    padding: 4px 0;
    margin: 0;
    outline: none;
    border: 1px solid component.var(border-color);
    border-radius: component.var(border-radius);
    background: theme.var(surface-color);
    overflow: hidden auto;
    z-index: 10;
    transition: border-color 0.2s ease-in-out;
}

// Shapes

@include component.declare((
    rounded: (border-radius: theme.var(border-radius-m)),
    rectangular: (border-radius: 0),
    circular: (border-radius: component.var(height))
));


// Sizes

@include component.declare((
    s: (
        height: 32px,
        padding: 0 8px,
        font-size: 12px
    ),
    m: (
        height: 36px,
        padding: 0 12px,
        font-size: 14px
    ),
    l: (
        height: 48px,
        padding: 0 16px,
        font-size: 16px
    )
));


// Variants

.outlined {
    @include component.vars((
        border-color: theme.var(border-color),
        background-color: transparent
    ));

    .control,
    .menu {
        border: component.var(border-width) solid component.var(border-color);
    }
}

.underlined {
    @include component.vars((
        background-color: transparent
    ));
    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: component.var(border-width) solid component.var(border-color);
}

.tinted {
    @include component.vars((
        background-color: theme.var(surface-color)
    ));
}
    
.outlined-tinted,
.tinted-outlined {
    @extend .outlined;
    @extend .tinted;
}

.underlined-tinted,
.tinted-underlined {
    @extend .underlined;
    @extend .tinted;
}

.outlined,
.underlined {
    &:focus-within,
    &.focused {
        @include component.vars((
            border-color: theme.var(primary-color)
        ));
    }
}


// Misc

.root[data-validation-message] {
    margin-bottom: 1rem;

    &::after {
        content: attr(data-validation-message);
        bottom: -18px;
        position: absolute;
        left: 0;
        font-size: .8rem;
        line-height: 1rem;
        color: var(--ui-Input-danger-color);
    }
}


// States

.open {
    @include component.vars((
        border-color: theme.var(primary-color)
    ));

    // caret
    .control::after {
        transform: rotate(180deg);
    }

    &.bottom {
        .control {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .menu {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &.top {
        .control {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .menu {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.activated {
    .label {
        transform: scale(.75) translate(0, -35%);
    }

    .label + .input {
        padding-top: .75rem;
    }
}

.invalid {
    @include component.vars((
        border-color: theme.var(danger-color)
    ));
}