@use 'component';
@use 'theme';

@use './Card';

@include component.init(Card, Card.$vars);

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: component.var(border-width) solid component.var(border-color);
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    padding: component.var(padding);
    box-shadow: component.var(shadow);
}


// Sizes

@include component.declare((
    s: (padding: theme.var(space-s)),
    m: (padding: theme.var(space-m)),
    l: (padding: theme.var(space-l))
));


// Variants

@include component.variants;


// Shadow

@include component.declare((
    shadow-s: (shadow: theme.var(shadow-s)),
    shadow-m: (shadow: theme.var(shadow-m)),
    shadow-l: (shadow: theme.var(shadow-l))
));


// Misc

.interactive {
    &:hover {
        @include component.vars((
            background-color: theme.var(surface-hover-color)
        ));
    }
}