@use 'base';
@use 'component';

@use './Card';

@include component.define(Card, Card.$vars);

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: component.var(border-width) solid component.var(border-color);
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    padding: component.var(padding);
    box-shadow: component.var(shadow) base.var(shadow-color);
}

.interactive {
    &:hover {
        @include component.vars((
            background-color: base.var(surface-hover-color)
        ));
    }
}


// Sizes

@include component.classes((
    s: (padding: base.var(space-s)),
    m: (padding: base.var(space-m)),
    l: (padding: base.var(space-l))
));


// Shadow

@include component.classes((
    shadow-s: (shadow: base.var(shadow-s)),
    shadow-m: (shadow: base.var(shadow-m)),
    shadow-l: (shadow: base.var(shadow-l))
));


// Variants

@include component.variants;