@use 'sass:list';

@use 'base';
@use 'component';
@use 'elements';

@use './Item';

@include component.define(Item, Item.$vars) {
    .root {
        box-sizing: border-box;
        min-height: component.var(height);
        padding: component.var(padding-block) component.var(padding-inline);
        display: flex;
        align-items: center;
        gap: component.var(gap);
        font-size: component.var(font-size);
        transition: color 0.15s ease-in-out,
                    background-color 0.15s ease-in-out,
                    border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;

        @include elements.disabled-state;
        @include elements.slot-padding(component.var(padding-inline), base.var(space-xs));
    }

    .start,
    .end {
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;
    }

    .content {
        flex-grow: 1;
        overflow: hidden;
    }

    .interactive {
        @include elements.interactive;
    }

    @include component.sizes(Item.$sizes);
}