@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    height: 36px,
    padding-block: base.var(space-xxs),
    padding-inline: base.var(space-xs),
    gap: base.var(space-xxs),
    font-size: base.var(font-size-s)
);

$m: (
    height: 40px,
    padding-block: base.var(space-xs),
    padding-inline: base.var(space-s),
    gap: base.var(space-xs),
    font-size: base.var(font-size-m)
);

$l: (
    height: 48px,
    padding-block: base.var(space-s),
    padding-inline: base.var(space-m),
    gap: base.var(space-s),
    font-size: base.var(font-size-l)
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$height: auto;
$padding-block: map.get($m, padding-block);
$padding-inline: map.get($m, padding-inline);
$gap: map.get($m, gap);
$border-radius: base.var(radius-m) !default;
$font-size: base.var(font-size-m) !default;

$vars: component.vars(Item, (
    height: $height,
    padding-block: $padding-block,
    padding-inline: $padding-inline,
    gap: $gap,
    border-radius: $border-radius,
    font-size: $font-size
));