@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    height: 36px,
    padding: base.var(space-xxs) base.var(space-xs),
    gap: base.var(space-xxs),
    font-size: base.var(font-size-s)
);
$m: (
    height: 40px,
    padding: base.var(space-xs) base.var(space-s),
    gap: base.var(space-xs),
    font-size: base.var(font-size-m)
);
$l: (
    height: 48px,
    padding: base.var(space-s) base.var(space-m),
    gap: base.var(space-s),
    font-size: base.var(font-size-l)
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$height: auto;
$padding: map.get($m, padding);
$gap: map.get($m, gap);
$border-radius: base.var(border-radius-m) !default;
$font-size: base.var(font-size-m) !default;

$vars: component.vars(Item, (
    height: $height,
    padding: $padding,
    gap: $gap,
    border-radius: $border-radius,
    font-size: $font-size
));