@use 'sass:map';

@use 'base';
@use 'component';

$sizes: (
    m: 24px, // Preferred icon size
    l: 36px,
    xl: 48px
) !default;

$font: 'Material Symbols Outlined' !default;
$size: map.get($sizes, m) !default;

$vars: component.define(Icon, (
    font: $font,
    size: $size
));