@use 'sass:map';

@use 'base';
@use 'component';

@use './Icon';

@include component.define(Icon, Icon.$vars);

.root {
    font-family: component.var(font);
    font-weight: normal;
    font-style: normal;
    font-size: component.var(size);
    font-variation-settings: 'OPSZ' component.var(size);
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    opacity: component.var(emphasis);
}


// Sizes

@include component.classes((
    xs: (size: map.get(Icon.$sizes, xs)),
    s: (size: map.get(Icon.$sizes, s)),
    m: (size: map.get(Icon.$sizes, m)),
    l: (size: map.get(Icon.$sizes, l)),
    xl: (size: map.get(Icon.$sizes, xl))
));


// Types

@include component.classes((
    outlined: (font: 'Material Symbols Outlined'),
    rounded: (font: 'Material Symbols Rounded'),
    sharp: (font: 'Material Symbols Sharp')
));


// Emphasis

@include component.classes((
    emphasis-high: (emphasis: base.var(emphasis-high)),
    emphasis-medium: (emphasis: base.var(emphasis-medium)),
    emphasis-low: (emphasis: base.var(emphasis-low))
));


@include base.theme(dark) {
    .root {
        font-variation-settings: 'GRAD' -25;
    }
}