@use 'sass:map';

@use 'base';
@use 'component';

$sizes: (
    xs: 12px,
    s: 16px,
    m: 24px,
    l: 36px,
    xl: 48px
) !default;

$font: 'Material Symbols Outlined' !default;
$color: base.var(foreground-color) !default;
$size: map.get($sizes, m) !default;

$vars: component.vars(Icon, (
    font: $font,
    color: $color,
    size: $size
));