@use 'sass:map';

@use 'component';
@use 'sizes';
@use 'theme';

@include component.define('Icon', (
    size: map.get(sizes.$icon-sizes, m),
    font: 'Material Symbols Outlined'
));

$vars: component.vars();

.root {
    font-family: component.var(font);
    font-weight: normal;
    font-style: normal;
    font-size: component.var(size);
    font-variation-settings: 'OPSZ' component.var(size);
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}


// Sizes

@include component.declare((
    xs: (size: map.get(sizes.$icon-sizes, xs)),
    s: (size: map.get(sizes.$icon-sizes, s)),
    m: (size: map.get(sizes.$icon-sizes, m)),
    l: (size: map.get(sizes.$icon-sizes, l)),
    xl: (size: map.get(sizes.$icon-sizes, xl))
));


// Types

@include component.declare((
    outlined: (font: 'Material Symbols Outlined'),
    rounded: (font: 'Material Symbols Rounded'),
    sharp: (font: 'Material Symbols Sharp')
));


// Colors

.inactive {
    opacity: theme.var(opacity-inactive);
}

@include theme.dark {
    .root {
        font-variation-settings: 'GRAD' -25;
    }
}

:export {
    size: {
        xs: map.get(sizes.$icon-sizes, xs);
        s: map.get(sizes.$icon-sizes, s);
        m: map.get(sizes.$icon-sizes, m);
        l: map.get(sizes.$icon-sizes, l);
        xl: map.get(sizes.$icon-sizes, xl);
    }
}