@use 'component';
@use 'theme';

@include component.define('Divider', (
    color: theme.var(border-color),
));

$vars: component.vars();

.root {
    display: block;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    background: component.var(color);
}

.horizontal {
    min-width: 1px;
    width: auto;
    height: 1px;
}

.vertical {
    width: 1px;
    min-height: 1px;
    height: auto;
}