@use 'base';
@use 'component';

// (font-size, line-height, gap)
$xxs: (16px, 22px, base.var(space-xs)) !default;
$xs: (20px, 28px, base.var(space-xs)) !default;
$s: (24px, 32px, base.var(space-s)) !default;
$m: (28px, 36px, base.var(space-s)) !default;
$l: (32px, 40px, base.var(space-s)) !default;
$xl: (40px, 52px, base.var(space-m)) !default;
$xxl: (68px, 92px, base.var(space-m)) !default;

$sizes: (
    xxs: $xxs,
    xs: $xs,
    s: $s,
    m: $m,
    l: $l,
    xl: $xl,
    xxl: $xxl
) !default;

$color: base.var(foreground-color) !default;
$font: base.var(font-family) !default;
$size: base.var(font-size-m) !default;
$weight: base.var(font-weight-normal) !default;
$height: base.var(line-height) !default;
$spacing: 0 !default;

$vars: component.vars(Heading, (
    color: $color,
    font: $font,
    size: $size,
    weight: $weight,
    height: $height,
    spacing: $spacing
));

@mixin heading($size, $weight: bold, $color: primary) {
    $_sizes: map.get($sizes, $size);
    $font-size: list.nth($_sizes, 1);
    $line-height: list.nth($_sizes, 2);

    font-family: base.var(font-family);
    font-size: $font-size;
    font-weight: map.get(base.$font-weights, $weight);
    line-height: math.div($line-height, $font-size);
    color: base.var(foreground-#{$color}-color);
}