@use 'base';
@use 'component';

$sizes: (
    // type: (font-size, line-height)
    xxs: (16px, 22px),
    xs: (20px, 28px),
    s: (24px, 32px),
    m: (28px, 36px),
    l: (32px, 40px),
    xl: (40px, 52px),
    xxl: (68px, 92px)
) !default;

$color: base.var(foreground-color) !default;
$font: base.var(font-family) !default;
$size: base.var(font-size-m) !default;
$weight: base.var(font-weight-normal) !default;
$height: base.var(line-height) !default;
$spacing: 0 !default;

$vars: component.vars(Heading, (
    color: $color,
    font: $font,
    size: $size,
    weight: $weight,
    height: $height,
    spacing: $spacing
));

@mixin heading($type, $weight: null) {
    $_sizes: map.get($sizes, $type);
    $font-size: list.nth($_sizes, 1);
    $line-height: list.nth($_sizes, 2);

    font-family: base.var(font-family);
    font-size: $font-size;
    font-weight: map.get(base.$font-weights, $weight);
    line-height: math.div($line-height, $font-size);
}