@use 'base';
@use 'component';

$color: base.var(text-color) !default;
$emphasis: base.var(emphasis-high) !default;
$font-family: base.var(font-family) !default;
$font-size: base.var(font-size-m) !default;
$font-weight: base.var(font-weight-normal) !default;
$line-height: base.var(line-height) !default;
$letter-spacing: 0 !default;
$gap: base.var(space-xs) !default;
$margin-top: 0 !default;
$margin-bottom: 0 !default;

$sizes: (
    // type: (font-size, line-height)
    xxs: (16px, 22px),
    xs: (20px, 28px),
    s: (24px, 32px),
    m: (28px, 36px),
    l: (32px, 40px),
    xl: (40px, 52px),
    xxl: (68px, 92px)
) !default;

$vars: component.vars(Heading, (
    color: $color,
    emphasis: $emphasis,
    font-family: $font-family,
    font-size: $font-size,
    font-weight: $font-weight,
    line-height: $line-height,
    letter-spacing: $letter-spacing,
    gap: $gap,
    margin-top: $margin-top,
    margin-bottom: $margin-bottom
));

@mixin heading($type, $weight: null) {
    $_sizes: map.get($sizes, $type);
    $font-size: list.nth($_sizes, 1);
    $line-height: list.nth($_sizes, 2);

    font-family: base.var(font-family);
    font-size: $font-size;
    font-weight: map.get(base.$font-weights, $weight);
    line-height: math.div($line-height, $font-size);
}