@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    height: 32px,
    radius: base.var(radius-xs),
    padding: base.var(space-xxs) base.var(space-xs),
    gap: base.var(space-xxs),
    font-size: base.var(font-size-xs)
) !default;

$m: (
    height: 40px,
    radius: base.var(radius-s),
    padding: base.var(space-xs) base.var(space-s),
    gap: base.var(space-xs),
    font-size: base.var(font-size-s)
) !default;

$l: (
    height: 48px,
    radius: base.var(radius-m),
    padding: base.var(space-s) base.var(space-m),
    gap: base.var(space-s),
    font-size: base.var(font-size-m)
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$height: map.get($m, height) !default;
$radius: map.get($m, radius) !default;
$padding: map.get($m, padding) !default;
$gap: map.get($m, gap) !default;
$font-size: base.var(font-size-medium) !default;

$vars: component.vars(Alert, (
    height: $height,
    radius: $radius,
    padding: $padding,
    gap: $gap,
    font-size: $font-size,
));