@use 'base';
@use 'component';

@use './Alert';

@include component.define(Alert, Alert.$vars);

.root {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: component.var(height);
    padding: component.var(padding);
    gap: component.var(gap);
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(text-color);
    box-shadow: component.var(shadow);
}

.start,
.content,
.action,
.end {
    display: inline-flex;
    align-items: center;
    gap: component.var(gap);
}

.start,
.action,
.end {
    flex-shrink: 0;
}

.icon {
    @include base.var(icon-color);
}

.content {
    flex: 1;
    font-size: component.var(font-size);
}

.close-button {
    color: base.var(icon-muted-color);
    transition: color .3s;
    opacity: .25;

    &:hover {
      color: base.var(icon-color);
    }
}


// Sizes

@include component.classes((
    s: (
        height: 32px,
        gap: base.var(space-xxs),
        padding: base.var(space-xxs) base.var(space-xs),
        border-radius: base.var(border-radius-xs),
        font-size: base.var(font-size-xs)
    ),
    m: (
        height: 40px,
        gap: base.var(space-xs),
        padding: base.var(space-xs) base.var(space-s),
        border-radius: base.var(border-radius-s),
        font-size: base.var(font-size-s)
    ),
    l: (
        height: 48px,
        gap: base.var(space-s),
        padding: base.var(space-s) base.var(space-m),
        border-radius: base.var(border-radius-m),
        font-size: base.var(font-size-m)
    )
));


// Shapes

@include component.classes((
    circular: (
        border-radius: height
    ),
    rectangular: (
        border-radius: 0
    ),
    rounded-s: (
        border-radius: base.var(border-radius-xs)
    ),
    rounded-m: (
        border-radius: base.var(border-radius-s)
    ),
    rounded-l: (
        border-radius: base.var(border-radius-m)
    )
));


// Shadows

@include component.classes((
    shadow-s: (shadow: base.var(shadow-s)),
    shadow-m: (shadow: base.var(shadow-m)),
    shadow-l: (shadow: base.var(shadow-l))
));


// Variants

@include component.variants;