@use 'base';
@use 'component';

@use './Modal';

@include component.define(Modal, Modal.$vars) {
    .root {
        position: relative;
        z-index: 1000;
    }

    .backdrop {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: component.var(backdrop-color);
            transition: opacity .2s;
            z-index: 0;
        }
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .scroll-disabled {
        overflow: hidden;
    }
}