@use 'component';
@use 'theme';

@use './Field';

@include component.init(Field, Field.$vars);

.root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: component.var(gap);
}

.required {
    .label {
        &::after {
            content: '*';
            color: var(--kui-danger-color);
        }
    }
}


// Sizes

@include component.declare((
    s: (gap: theme.var(space-xxs)),
    m: (gap: theme.var(space-xs)),
    l: (gap: theme.var(space-s))
));


// Misc

.inline {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}