@use 'component';
@use 'theme';

@include component.define('Field', (
    gap: theme.var(space-s)
));

$vars: component.vars();

.root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--ui-Field-gap);
}


// Sizes

@include component.declare((
    s: (gap: theme.var(space-xxs)),
    m: (gap: theme.var(space-xs)),
    l: (gap: theme.var(space-s))
));


// Misc

.inline {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}