@use 'base';
@use 'component';

@use './Drawer';

@include component.init(Drawer, Drawer.$vars);

.root {
    width: 100%;
    height: 100%;
    outline: none;
    z-index: component.var(z-index);
}

.surface {
    width: component.var(width);
    height: component.var(height);
    background-color: component.var(background-color);
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: component.var(padding-y) component.var(padding-x);
}

.title {
    margin: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 600;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: component.var(padding-y) component.var(padding-x);
    overflow-y: auto;
}

.close-button {
    flex-shrink: 0;
}

.left .surface {
    border-right: component.var(border-width) solid component.var(border-color);
}

.right .surface {
    border-left: component.var(border-width) solid component.var(border-color);
}

.top .surface {
    border-bottom: component.var(border-width) solid component.var(border-color);
}

.bottom .surface {
    border-top: component.var(border-width) solid component.var(border-color);
}


// Types

.inline {
    &.enter,
    &.enter-done {
        display: flex;
    }

    &.exit,
    &.exit-done {
        display: none;
    }
}

.modal,
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;

    .surface {
        position: absolute;
        transition: transform 200ms ease-in-out;
    }

    &.left,
    &.right {
        @include component.vars((
            min-width: 360px,
            height: 100%
        ));
    }

    &.top,
    &.bottom {
        @include component.vars((
            width: 100%,
            height: auto
        ));
    }

    &.left .surface {
        top: 0;
        left: 0;
    }

    &.right .surface {
        top: 0;
        right: 0;
    }

    &.top .surface {
        top: 0;
        left: 0;
    }

    &.bottom .surface {
        bottom: 0;
        left: 0;
    }
}