@use 'base';
@use 'component';

$width: 360px !default;
$height: 100% !default;
$border-color: base.var(border-color) !default;
$border-width: 1px !default;
$background-color: base.var(background-color) !default;
$padding-x: 0.75rem !default;
$padding-y: 0.75rem !default;
$padding: (--padding-y, --padding-x) !default;
$shadow: base.var(shadow-m) !default;
$z-index: 1000 !default;

$vars: component.vars(Drawer, (
    width: $width,
    height: $height,
    border-color: $border-color,
    border-width: $border-width,
    background-color: $background-color,
    padding-x: $padding-x,
    padding-y: $padding-y,
    padding: $padding,
    shadow: $shadow,
    z-index: $z-index
));
