@use '../../styles/variables' as global;

.root {
    display: flex;
}

// Dir

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}


// Align

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}


// Justify

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}


// Gap

.gap {
    @each $size, $value in global.$gap-sizes {
        &-#{$size} {
            gap: $value;
        }
    }
}


// Padding

.padding {
    @each $size, $value in global.$padding-sizes {
        &-#{$size} {
            padding: #{$value};
        }
    }

    &-x {
        @each $size, $value in global.$padding-sizes {
            &-#{$size} {
                padding-left: #{$value};
                padding-right: #{$value};
            }
        }
    }

    &-y {
        @each $size, $value in global.$padding-sizes {
            &-#{$size} {
                padding-top: #{$value};
                padding-bottom: #{$value};
            }
        }
    }
}


// Misc

.inline {
    display: inline-flex;
}

.wrap {
    flex-wrap: wrap;
}