@use 'base';
@use 'component';
@use 'elements';

@use '../Icon';
@use './Checkbox';

@include component.define(Checkbox, Checkbox.$vars) {
    .root {
        display: flex;
        align-items: center;
    }

    .input {
        appearance: none;
        width: component.var(size);
        height: component.var(size);
        border: component.var(border-width) solid component.var(border-color);
        border-radius: component.var(border-radius);
        background-color: component.var(background-color);
        background-position: center;
        background-size: 100%;
        outline: none;
        margin: 0;
        padding: 0;
        transition: all .2s;
        cursor: pointer;
    }

    .label {
        padding-left: component.var(gap);
        cursor: pointer;
        user-select: none;
    }

    @include component.sizes(Checkbox.$sizes);


    // States

    .input {
        &:hover {
            @include component.vars((
                background-color: base.var(plain-hover-color)
            ));
        }

        &:active {
            @include component.vars((
                background-color: base.var(plain-active-color)
            ));
        }

        &:checked {
            border-color: transparent;

            &::after {
                content: attr(data-icon);
                width: 100%;
                height: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: base.var(foreground-inverted-color);
                @include Icon.icon(component.var(size));
            }
            
            @include component.vars((
                background-color: base.var(filled-brand-color)
            ));

            &:hover {
                @include component.vars((
                    background-color: base.var(filled-brand-hover-color)
                ));
            }

            &:active {
                @include component.vars((
                    background-color: base.var(filled-brand-active-color)
                ));
            }
        }
    }

    .disabled {
        .input,
        .label {
            @include elements.disabled;
        }
    }
}