@use 'base';
@use 'component';

@use './Checkbox';

@include component.init(Checkbox, Checkbox.$vars);

.root {
    display: flex;
    align-items: center;
    gap: component.var(gap);
}

.label {
    cursor: pointer;
}

.input {
    appearance: none;
    width: component.var(size);
    height: component.var(size);
    border: component.var(border-width) solid component.var(border-color);
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    background-position: center;
    background-size: 100%;
    outline: none;
    margin: 0;
    padding: 0;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        @include component.vars((
            border-color: base.var(primary-color-hover)
        ));
    }

    &:active {
        @include component.vars((
            border-color: base.var(primary-color-active)
        ));
    }
}

.input:checked {
    @include component.vars((
        border-color: base.var(primary-color),
        background-color: base.var(primary-color)
    ));

    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNNSAxM2w0IDRMMTkgNycgc3Ryb2tlPScjZmZmJyBzdHJva2Utd2lkdGg9JzInIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCc+PC9wYXRoPjwvc3ZnPg==');

    &:hover {
        @include component.vars((
            border-color: base.var(primary-color-hover),
            background-color: base.var(primary-color-hover)
        ));
    }

    &:active {
        @include component.vars((
            border-color: base.var(primary-color-active),
            background-color: base.var(primary-color-active)
        ));
    }
}

.disabled {
    .input,
    .label {
        cursor: default;
    }
}


// Sizes

@include component.declare((
    s: (
        size: 16px,
        gap: base.var(space-xs)
    ),
    m: (
        size: 20px,
        gap: base.var(space-s)
    ),
    l: (
        size: 24px,
        gap: base.var(space-m)
    )
));