@use 'base';
@use 'component';

$size: 20px !default;
$border-color: base.var(outlined-border-color) !default;
$border-width: 1px !default;
$border-radius: 4px !default;
$background-color: base.var(background-primary-color) !default;
$gap: base.var(space-s) !default;

$vars: component.vars(Checkbox, (
    size: $size,
    border-color: $border-color,
    border-width: $border-width,
    border-radius: $border-radius,
    background-color: $background-color,
    gap: $gap,
));
