@use 'sass:map';

@use '../base';
@use 'utils/color';
@use 'utils/string';
@use 'utils/type';

$black: #000000 !default;
$white: #ffffff !default;
$gray: #98979d !default;
$red: #db4437 !default;
$orange: #f4b400 !default;
$green: #0f9d58 !default;
$blue: #4285f4 !default;
$purple: #ab47bc !default;

@mixin var(
    $name,
    $color,
    $prefix: '',
    $postfix: ''
) {
    @if not string.ends-with($name, '-color') {
        $name: '#{$name}-color';
    }

    @if type.is-string($color) {
        @if string.starts-with($color, '-') {
            $color: #{string.slice($color, 2)}-contrast;
        }

        @if not string.contains($color, '-color') {
            $color: #{$color}-color;
        }

        $color: base.var($color);
    } @else if type.is-color($color) {
        $color: color.hex($color);
    }

    @include base.var(#{$prefix}#{$name}#{$postfix}, $color);
}

@mixin vars($vars, $args...) {
    @each $name, $value in $vars {
        @if type.is-map($value) {
            @each $-name, $-value in $value {
                @include var($-name, $-value, $args...);
            }
        } @else {
            @include var($name, $value, $args...);
        }
    }
}