@use 'sass:map';

@use '../base';
@use 'utils/color';
@use 'utils/string';
@use 'utils/type';

$black: #121212 !default;
$white: #ffffff !default;
$neutral: #9e9e9e !default;
$brand: #4285f4 !default;
$accent: #ee3f39 !default;
$danger: #db4437 !default;
$info: #ab47bc !default;
$success: #0f9d58 !default;
$warning: #f4b400 !default;

@function contrast-color(
    $color,
    $dark-color: $black,
    $light-color: $white,
    $invert: false
) {
    @return if(
        color.tone($color, if($invert, $dark-color, $light-color)) == 'dark',
        $light-color,
        $dark-color
    );
}

@mixin var(
    $name,
    $color,
    $prefix: '',
    $postfix: ''
) {
    @if not string.ends-with($name, 'color') {
        $name: '#{$name}-color';
    }

    @if type.is-string($color) {
        @if string.starts-with($color, '-') {
            $color: on-#{string.slice($color, 2)};
        }

        @if not string.contains($color, '-color') {
            $color: #{$color}-color;
        }

        $color: base.var($color);
    } @else if type.is-color($color) {
        $color: color.hex($color);
    }

    @include base.var(#{$prefix}#{$name}#{$postfix}, $color);
}

@mixin vars($vars, $args...) {
    @each $name, $value in $vars {
        @if type.is-map($value) {
            @each $-name, $-value in $value {
                @include var($-name, $-value, $args...);
            }
        } @else {
            @include var($name, $value, $args...);
        }
    }
}