@use 'sass:map';

@use './utils/color';
@use './utils/css';
@use './utils/string';
@use './utils/type';

$black: #000 !default;
$white: #fff !default;
$gray: #98979d !default;
$red: #db4437 !default;
$orange: #f4b400 !default;
$green: #0f9d58 !default;
$blue: #4285f4 !default;
$purple: #ab47bc !default;

@mixin color-var(
    $prop,
    $color: null,
    $on: false,
    $prefix: ''
) {
    $_prefix: null;
    $_postfix: null;

    @if $on {
        $_prefix: 'on-';
    }

    @if string.index($prop, '_') == 1 {
        $_prefix: 'on-';
        $prop: string.slice($prop, 2);
    }

    // @if (string.index($prop, '--') != null) {
    //     $index: string.index($prop, '--');
    //     $_postfix: '-#{string.slice($prop, $index + 2, string.length($prop))}';
    //     $prop: string.slice($prop, 0, $index - 1);
    // }

    @if type.is-string($color) {
        @if $_prefix {
            $color: #{$_prefix}#{$color};
        }

        @if $_postfix {
            $color: #{$color}#{$_postfix};
        }

        @if not string.contains($color, '-color') {
            $color: #{$color}-color;
        }

        $color: var($color);
    }

    @include var(#{$prefix}#{$prop}, $color);
}

@mixin color-state-vars(
    $props,
    $color: null,
    $override: (),
    $prefix: ''
) {
    @if type.is-list($props) {
        @each $prop in $props {
            @include _color-state-vars(
                $prop,
                $color,
                $override,
                $prefix
            );
        }
    } @else if type.is-map($props) {
        @each $prop, $value in $props {
            @include _color-state-vars(
                $prop,
                #{if($value == '_', $color, $value)},
                $override,
                $prefix
            );
        }
    } @else {
        @include _color-state-vars(
            $props,
            $color,
            $override,
            $prefix
        );
    }
}

@mixin _color-state-vars(
    $name,
    $color: null,
    $override: (),
    $prefix: ''
) {
    $colors: ();

    @if type.is-color($color) {
        $colors: map.merge(('base': $color), state-colors($value));
    } @else if type.is-string($color) {
        $colors: (
            'base': #{$color}-color,
            'hover': #{$color}-color-hover,
            'active': #{$color}-color-active
        );
    } @else if type.is-map($color) {
        $colors: $color
    }

    $colors: map.merge($colors, $override);

    @include color-var($name, map.get($colors, 'base'), $prefix: $prefix);
    @include color-var(#{$name}-hover, map.get($colors, 'hover'), $prefix: $prefix);
    @include color-var(#{$name}-active, map.get($colors, 'active'), $prefix: $prefix);
}