@use '../base';
@use 'utils/color';

@use './palettes';
@use './theme';
@use './variants';

$neutral-color: palettes.$neutral-4 !default;
$primary-color: palettes.$primary-4 !default;
$secondary-color: palettes.$secondary-4 !default;
$danger-color: palettes.$danger-4 !default;
$info-color: palettes.$info-4 !default;
$success-color: palettes.$success-4 !default;
$warning-color: palettes.$warning-4 !default;

$base-colors: (
    neutral: $neutral-color,
    primary: $primary-color,
    secondary: $secondary-color,
    danger: $danger-color,
    info: $info-color,
    success: $success-color,
    warning: $warning-color
) !default;

$backdrop-color: rgba(0, 0, 0, .5) !default;
$background-color: palettes.$neutral-10 !default;
$border-color: palettes.$neutral-8 !default;
$border-muted-color: palettes.$neutral-9 !default;
$icon-color: palettes.$neutral-6 !default;
$icon-muted-color: palettes.$neutral-7 !default;
$text-color: palettes.$neutral-0 !default;
$text-inverted-color: palettes.$neutral-10 !default;
$text-primary-color: palettes.$neutral-0 !default;
$text-secondary-color: palettes.$neutral-1 !default;
$text-tertiary-color: palettes.$neutral-2 !default;
$surface-color: palettes.$neutral-9 !default;
$surface-primary-color: palettes.$neutral-9 !default;
$surface-secondary-color: palettes.$neutral-8 !default;
$surface-tertiary-color: palettes.$neutral-7 !default;
$surface-inverted-color: palettes.$neutral-0 !default;

$element-colors: (
    backdrop: $backdrop-color,
    background: $background-color,
    border: $border-color,
    border-muted: $border-muted-color,
    icon: $icon-color,
    icon-muted: $icon-muted-color,
    text: $text-color,
    text-inverted: $text-inverted-color,
    text-primary: $text-primary-color,
    text-secondary: $text-secondary-color,
    text-tertiary: $text-tertiary-color,
    surface: $surface-color,
    surface-primary: $surface-primary-color,
    surface-secondary: $surface-secondary-color,
    surface-tertiary: $surface-tertiary-color,
    surface-inverted: $surface-inverted-color
) !default;

$plain-color: color.change($surface-inverted-color, $alpha: 0) !default;
$filled-color: $surface-primary-color !default;
$tinted-color: color.change($surface-inverted-color, $alpha: 0.125) !default;

$variant-colors: (
    plain: $plain-color,
    filled: $filled-color,
    tinted: $tinted-color
) !default;

@mixin vars {
    @include theme.vars(
        $base-colors,
        $element-colors
    );

    @include variants.vars(
        $variant-colors,
        $base-colors
    );
}