@use '../base';
@use 'utils/color';

@use './palettes';
@use './theme';

$neutral-color: palettes.$neutral-5 !default;
$brand-color: palettes.$brand-5 !default;
$accent-color: palettes.$accent-5 !default;
$danger-color: palettes.$danger-5 !default;
$info-color: palettes.$info-5 !default;
$success-color: palettes.$success-5 !default;
$warning-color: palettes.$warning-5 !default;

$base-colors: (
    neutral: $neutral-color,
    brand: $brand-color,
    accent: $accent-color,
    danger: $danger-color,
    info: $info-color,
    success: $success-color,
    warning: $warning-color
) !default;


$background-color: palettes.$neutral-9 !default;
$background-inverted-color: palettes.$neutral-0 !default;
$background-primary-color: palettes.$neutral-9 !default;
$background-secondary-color: palettes.$neutral-8 !default;
$background-tertiary-color: palettes.$neutral-7 !default;

$border-color: palettes.$neutral-6 !default;
$border-inverted-color: palettes.$neutral-4 !default;
$border-primary-color: palettes.$neutral-6 !default;
$border-secondary-color: palettes.$neutral-7 !default;
$border-tertiary-color: palettes.$neutral-8 !default;

$foreground-color: palettes.$neutral-0 !default;
$foreground-inverted-color: palettes.$neutral-9 !default;
$foreground-primary-color: palettes.$neutral-0 !default;
$foreground-secondary-color: palettes.$neutral-4 !default;
$foreground-tertiary-color: palettes.$neutral-5 !default;

$backdrop-color: rgba(0, 0, 0, .5) !default;
$shadow-color: rgba(0, 0, 0, .5) !default;

$element-colors: (
    backdrop: $backdrop-color,

    background: $background-color,
    background-inverted: $background-inverted-color,
    background-primary: $background-primary-color,
    background-secondary: $background-secondary-color,
    background-tertiary: $background-tertiary-color,

    border: $border-color,
    border-inverted: $border-inverted-color,
    border-primary: $border-primary-color,
    border-secondary: $border-secondary-color,
    border-tertiary: $border-tertiary-color,

    foreground: $foreground-color,
    foreground-inverted: $foreground-inverted-color,
    foreground-primary: $foreground-primary-color,
    foreground-secondary: $foreground-secondary-color,
    foreground-tertiary: $foreground-tertiary-color,
    
    shadow: $shadow-color
) !default;

@mixin vars {
    @include theme.vars(
        $base-colors,
        $element-colors
    );
}