@use 'utils/color';

@use './base' as *;
@use './palettes' as *;

$neutral-color: $neutral-4 !default;
$primary-color: $primary-4 !default;
$secondary-color: $secondary-4 !default;
$danger-color: $danger-4 !default;
$info-color: $info-4 !default;
$success-color: $success-4 !default;
$warning-color: $warning-4 !default;

$theme-colors: (
    neutral: $neutral-color,
    primary: $primary-color,
    secondary: $secondary-color,
    danger: $danger-color,
    info: $info-color,
    success: $success-color,
    warning: $warning-color
) !default;

$backdrop-color: rgba(0, 0, 0, .5) !default;
$background-color: $neutral-10 !default;
$border-color: $neutral-8 !default;
$border-muted-color: $neutral-9 !default;
$icon-color: $neutral-6 !default;
$icon-muted-color: $neutral-7 !default;
$text-color: $neutral-0 !default;
$text-inverted-color: $neutral-10 !default;
$text-primary-color: $neutral-0 !default;
$text-secondary-color: $neutral-1 !default;
$text-tertiary-color: $neutral-2 !default;
$surface-color: $neutral-9 !default;
$surface-primary-color: $neutral-9 !default;
$surface-secondary-color: $neutral-8 !default;
$surface-tertiary-color: $neutral-7 !default;
$surface-inverted-color: $neutral-0 !default;

$element-colors: (
    backdrop: $backdrop-color,
    background: $background-color,
    border: $border-color,
    border-muted: $border-muted-color,
    icon: $icon-color,
    icon-muted: $icon-muted-color,
    text: $text-color,
    text-inverted: $text-inverted-color,
    text-primary: $text-primary-color,
    text-secondary: $text-secondary-color,
    text-tertiary: $text-tertiary-color,
    surface: $surface-color,
    surface-primary: $surface-primary-color,
    surface-secondary: $surface-secondary-color,
    surface-tertiary: $surface-tertiary-color,
    surface-inverted: $surface-inverted-color
) !default;

$plain-color: color.change($surface-inverted-color, $alpha: 0) !default;
$filled-color: $surface-primary-color !default;
$tinted-color: color.change($surface-inverted-color, $alpha: 0.125) !default;

$variant-colors: (
    plain: $plain-color,
    filled: $filled-color,
    tinted: $tinted-color
) !default;