@use 'sass:map';

@use 'base' as *;
@use 'utils/color';
@use 'utils/string';
@use 'utils/type';

$neutral: (
    0: #fafafa,
    1: #f5f5f5,
    2: #e5e5e5,
    3: #d4d4d4,
    4: #a3a3a3,
    5: #737373,
    6: #525252,
    7: #404040,
    8: #262626,
    9: #171717,
    10: #0a0a0a
) !default;

$primary: (
    0: #F1F6FE,
    1: #E2EDFD,
    2: #C5DAFC,
    3: #A3C4FA,
    4: #7DACF7,
    5: #4285F4,
    6: #2B77F3,
    7: #0E63EC,
    8: #0B51C1,
    9: #083B8C,
    10: #052457
) !default;

$secondary: (
    0: #FEF6F6,
    1: #FDE8E8,
    2: #FBCDCB,
    3: #F8ADAA,
    4: #F48480,
    5: #EE3F39,
    6: #E61B14,
    7: #CA1711,
    8: #A9140F,
    9: #750E0A,
    10: #500907
) !default;

$danger: (
    0: #FDF3F2,
    1: #FAE7E5,
    2: #F6CFCB,
    3: #EFAEA9,
    4: #E8867D,
    5: #DB4437,
    6: #CF3425,
    7: #B62D21,
    8: #97261B,
    9: #6C1B13,
    10: #4E130E
) !default;

$info: (
    0: #FAF4FB,
    1: #F3E5F5,
    2: #E9CEED,
    3: #D9ADE1,
    4: #C684D2,
    5: #AB47BC,
    6: #983DA8,
    7: #873696,
    8: #732E7F,
    9: #4A1E52,
    10: #3D1943
) !default;

$success: (
    0: #E3FCF0,
    1: #C2F9DF,
    2: #73F2B5,
    3: #15E07E,
    4: #13C46E,
    5: #0F9D58,
    6: #0D8C4F,
    7: #0C7E47,
    8: #0A663A,
    9: #074B2A,
    10: #042F1A
) !default;

$warning: (
    0: #FFFAEB,
    1: #FFF3D1,
    2: #FFE7A3,
    3: #FFD86B,
    4: #FFC629,
    5: #F4B400,
    6: #E0A500,
    7: #C28E00,
    8: #A37800,
    9: #755600,
    10: #523C00
) !default;

$map: (
    neutral: $neutral,
    primary: $primary,
    secondary: $secondary,
    danger: $danger,
    info: $info,
    success: $success,
    warning: $warning
);

$names: map.keys($map);

$neutral-0: map.get($neutral, 0);
$neutral-1: map.get($neutral, 1);
$neutral-2: map.get($neutral, 2);
$neutral-3: map.get($neutral, 3);
$neutral-4: map.get($neutral, 4);
$neutral-5: map.get($neutral, 5);
$neutral-6: map.get($neutral, 6);
$neutral-7: map.get($neutral, 7);
$neutral-8: map.get($neutral, 8);
$neutral-9: map.get($neutral, 9);
$neutral-10: map.get($neutral, 10);

$primary-0: map.get($primary, 0);
$primary-1: map.get($primary, 1);
$primary-2: map.get($primary, 2);
$primary-3: map.get($primary, 3);
$primary-4: map.get($primary, 4);
$primary-5: map.get($primary, 5);
$primary-6: map.get($primary, 6);
$primary-7: map.get($primary, 7);
$primary-8: map.get($primary, 8);
$primary-9: map.get($primary, 9);
$primary-10: map.get($primary, 10);

$secondary-0: map.get($secondary, 0);
$secondary-1: map.get($secondary, 1);
$secondary-2: map.get($secondary, 2);
$secondary-3: map.get($secondary, 3);
$secondary-4: map.get($secondary, 4);
$secondary-5: map.get($secondary, 5);
$secondary-6: map.get($secondary, 6);
$secondary-7: map.get($secondary, 7);
$secondary-8: map.get($secondary, 8);
$secondary-9: map.get($secondary, 9);
$secondary-10: map.get($secondary, 10);

$danger-0: map.get($danger, 0);
$danger-1: map.get($danger, 1);
$danger-2: map.get($danger, 2);
$danger-3: map.get($danger, 3);
$danger-4: map.get($danger, 4);
$danger-5: map.get($danger, 5);
$danger-6: map.get($danger, 6);
$danger-7: map.get($danger, 7);
$danger-8: map.get($danger, 8);
$danger-9: map.get($danger, 9);
$danger-10: map.get($danger, 10);

$info-0: map.get($info, 0);
$info-1: map.get($info, 1);
$info-2: map.get($info, 2);
$info-3: map.get($info, 3);
$info-4: map.get($info, 4);
$info-5: map.get($info, 5);
$info-6: map.get($info, 6);
$info-7: map.get($info, 7);
$info-8: map.get($info, 8);
$info-9: map.get($info, 9);
$info-10: map.get($info, 10);

$success-0: map.get($success, 0);
$success-1: map.get($success, 1);
$success-2: map.get($success, 2);
$success-3: map.get($success, 3);
$success-4: map.get($success, 4);
$success-5: map.get($success, 5);
$success-6: map.get($success, 6);
$success-7: map.get($success, 7);
$success-8: map.get($success, 8);
$success-9: map.get($success, 9);
$success-10: map.get($success, 10);

$warning-0: map.get($warning, 0);
$warning-1: map.get($warning, 1);
$warning-2: map.get($warning, 2);
$warning-3: map.get($warning, 3);
$warning-4: map.get($warning, 4);
$warning-5: map.get($warning, 5);
$warning-6: map.get($warning, 6);
$warning-7: map.get($warning, 7);
$warning-8: map.get($warning, 8);
$warning-9: map.get($warning, 9);
$warning-10: map.get($warning, 10);

@function generate($color, $steps: 11) { 
    $map: ();
    @for $i from 0 through $steps - 1 {
      $lightness: 90% - math.div($i * (90% - 10%), ($steps - 1));
      $shade: color.scale($color, $lightness: $lightness);
      $map: map.merge($map, ($i: $shade));
    }
    @return $map;
}

@function contrast($palette, $invert: false) {
    $map: ();
    @each $key, $color in $palette {
        $map: map.merge($map, (
            $key: color.contrast-color($color, $invert: $invert)
        ));
    }
    @return $map;
}

@mixin palette-vars(
    $palette,
    $props,
    $color: null,
    $on: false,
    $prefix: ''
) {
    @if type.is-number($color) or type.is-string($color) {
        $color: '#{$palette}-#{$color}';
    }

    #{if(&, '&.#{$palette}', '.#{$palette}')} {
        @if type.is-list($props) {
            @each $prop in $props {
                @include color-var(
                    $prop,
                    if($color, $color, $palette),
                    $on,
                    $prefix
                );
            }
        } @else {
            @include color-var(
                $props,
                if($color, $color, $palette),
                $on,
                $prefix
            );
        }
    }
}

@mixin palettes-vars(
    $props,
    $color: null,
    $on: false,
    $override: (),
    $palettes: colors.$palette-names,
    $prefix: '',
) {
    @each $palette in $palettes {
        @include palette-vars(
            $palette,
            $props,
            if(map.has-key($override, $palette),
                map.get($override, $palette),
                $color
            ),
            $on,
            $prefix
        );
    }
}

@mixin palette-color-state-vars(
    $palette,
    $props,
    $color: null,
    $on: false,
    $override: (),
    $prefix: ''
) {
    #{if(&, '&-#{$palette}', '.#{$palette}')} {
        @if $color == null {
            $color: $palette;
        } @else {
            $color: '#{$palette}-#{$color}';
        }

        @if type.is-map($props) {
            @each $prop, $value in $props {
                @if string.contains($value, '$') {
                    $props: map.set($props, $prop, string.replace($value, '$', $color));
                } @else {
                    $props: map.set($props, $prop, '#{$value}-#{$palette}');
                }
            }
        }

        @include color-state-vars($props, $color, $override, $prefix);
    }
}

@mixin palettes-color-state-vars(
    $props,
    $color: null,
    $on: false,
    $override: (),
    $palettes: colors.$palette-names,
    $prefix: '',
) {
    @each $palette in $palettes {
        @include palette-color-state-vars(
            $palette,
            $props,
            $color,
            $on,
            $override,
            $prefix
        );
    }
}