@use 'sass:map';
@use 'sass:math';

@use '../base';
@use 'utils/color';
@use 'utils/string';
@use 'utils/type';

@use './base' as colors;
@use './states';

$neutral: (
    0: #fafafa,
    1: #f5f5f5,
    2: #e5e5e5,
    3: #d4d4d4,
    4: #a3a3a3,
    5: #737373,
    6: #525252,
    7: #404040,
    8: #262626,
    9: #171717,
    10: #0a0a0a
) !default;

$primary: (
    0: #f1f6fe,
    1: #e2edfd,
    2: #c5dafc,
    3: #a3c4fa,
    4: #7dacf7,
    5: #4285f4,
    6: #2b77f3,
    7: #0e63ec,
    8: #0b51c1,
    9: #083b8c,
    10: #052457
) !default;

$secondary: (
    0: #fef6f6,
    1: #fde8e8,
    2: #fbcdcb,
    3: #f8adaa,
    4: #f48480,
    5: #ee3f39,
    6: #e61b14,
    7: #ca1711,
    8: #a9140f,
    9: #750e0a,
    10: #500907
) !default;

$danger: (
    0: #fdf3f2,
    1: #fae7e5,
    2: #f6cfcb,
    3: #efaea9,
    4: #e8867d,
    5: #db4437,
    6: #cf3425,
    7: #b62d21,
    8: #97261b,
    9: #6c1b13,
    10: #4e130e
) !default;

$info: (
    0: #faf4fb,
    1: #f3e5f5,
    2: #e9ceed,
    3: #d9ade1,
    4: #c684d2,
    5: #ab47bc,
    6: #983da8,
    7: #873696,
    8: #732e7f,
    9: #4a1e52,
    10: #3d1943
) !default;

$success: (
    0: #e3fcf0,
    1: #c2f9df,
    2: #73f2b5,
    3: #15e07e,
    4: #13c46e,
    5: #0f9d58,
    6: #0d8c4f,
    7: #0c7e47,
    8: #0a663a,
    9: #074b2a,
    10: #042f1a
) !default;

$warning: (
    0: #fffaeb,
    1: #fff3d1,
    2: #ffe7a3,
    3: #ffd86b,
    4: #ffc629,
    5: #f4b400,
    6: #e0a500,
    7: #c28e00,
    8: #a37800,
    9: #755600,
    10: #523c00
) !default;

$neutral-0: map.get($neutral, 0);
$neutral-1: map.get($neutral, 1);
$neutral-2: map.get($neutral, 2);
$neutral-3: map.get($neutral, 3);
$neutral-4: map.get($neutral, 4);
$neutral-5: map.get($neutral, 5);
$neutral-6: map.get($neutral, 6);
$neutral-7: map.get($neutral, 7);
$neutral-8: map.get($neutral, 8);
$neutral-9: map.get($neutral, 9);
$neutral-10: map.get($neutral, 10);

$primary-0: map.get($primary, 0);
$primary-1: map.get($primary, 1);
$primary-2: map.get($primary, 2);
$primary-3: map.get($primary, 3);
$primary-4: map.get($primary, 4);
$primary-5: map.get($primary, 5);
$primary-6: map.get($primary, 6);
$primary-7: map.get($primary, 7);
$primary-8: map.get($primary, 8);
$primary-9: map.get($primary, 9);
$primary-10: map.get($primary, 10);

$secondary-0: map.get($secondary, 0);
$secondary-1: map.get($secondary, 1);
$secondary-2: map.get($secondary, 2);
$secondary-3: map.get($secondary, 3);
$secondary-4: map.get($secondary, 4);
$secondary-5: map.get($secondary, 5);
$secondary-6: map.get($secondary, 6);
$secondary-7: map.get($secondary, 7);
$secondary-8: map.get($secondary, 8);
$secondary-9: map.get($secondary, 9);
$secondary-10: map.get($secondary, 10);

$danger-0: map.get($danger, 0);
$danger-1: map.get($danger, 1);
$danger-2: map.get($danger, 2);
$danger-3: map.get($danger, 3);
$danger-4: map.get($danger, 4);
$danger-5: map.get($danger, 5);
$danger-6: map.get($danger, 6);
$danger-7: map.get($danger, 7);
$danger-8: map.get($danger, 8);
$danger-9: map.get($danger, 9);
$danger-10: map.get($danger, 10);

$info-0: map.get($info, 0);
$info-1: map.get($info, 1);
$info-2: map.get($info, 2);
$info-3: map.get($info, 3);
$info-4: map.get($info, 4);
$info-5: map.get($info, 5);
$info-6: map.get($info, 6);
$info-7: map.get($info, 7);
$info-8: map.get($info, 8);
$info-9: map.get($info, 9);
$info-10: map.get($info, 10);

$success-0: map.get($success, 0);
$success-1: map.get($success, 1);
$success-2: map.get($success, 2);
$success-3: map.get($success, 3);
$success-4: map.get($success, 4);
$success-5: map.get($success, 5);
$success-6: map.get($success, 6);
$success-7: map.get($success, 7);
$success-8: map.get($success, 8);
$success-9: map.get($success, 9);
$success-10: map.get($success, 10);

$warning-0: map.get($warning, 0);
$warning-1: map.get($warning, 1);
$warning-2: map.get($warning, 2);
$warning-3: map.get($warning, 3);
$warning-4: map.get($warning, 4);
$warning-5: map.get($warning, 5);
$warning-6: map.get($warning, 6);
$warning-7: map.get($warning, 7);
$warning-8: map.get($warning, 8);
$warning-9: map.get($warning, 9);
$warning-10: map.get($warning, 10);

$map: (
    neutral: $neutral,
    primary: $primary,
    secondary: $secondary,
    danger: $danger,
    info: $info,
    success: $success,
    warning: $warning
);

$names: map.keys($map);

@function create($color, $steps: 11) { 
    $map: ();
    @for $i from 0 through $steps - 1 {
      $lightness: 90% - math.div($i * (90% - 10%), ($steps - 1));
      $shade: color.scale($color, $lightness: $lightness);
      $map: map.merge($map, ($i: $shade));
    }
    @return $map;
}

@function contrast($palette, $invert: false) {
    $map: ();
    @each $key, $color in $palette {
        $map: map.merge($map, (
            $key: color.contrast-color($color, $invert: $invert)
        ));
    }
    @return $map;
}

@mixin define {
    @each $palette in $names {
        #{if(&, '&.#{$palette}', '.#{$palette}')} {
            @content($palette);
        }
    }
}

@mixin vars(
    $palette,
    $props,
    $color: null,
    $args...
) {
    @if type.is-list($props) {
        @each $prop in $props {
            @include vars(
                $palette,
                $prop,
                $color,
                $args...
            );
        }
    } @else if type.is-map($props) {
        @each $name, $value in $props {
            @include vars(
                $palette,
                $name,
                $value,
                $args...
            );
        }
    } @else if type.is-map($color) {
        @each $name, $value in $color {
            @include vars(
                $palette,
                $name,
                $value,
                $args...
            );
        }
    } @else {
         @if type.is-number($color) {
            $color: '#{$palette}-#{$color}';
        } @else if string.contains($color, '$') {
            $color: string.replace($color, '$', $palette);
        } @else if not string.contains($color, $palette) {
            $color: '#{$color}-#{$palette}';
        }

        @include colors.var(
            $props,
            $color,
            $args...
        );
    }
}

@mixin state-vars(
    $palette,
    $props,
    $color: null,
    $args...
) {
    @if type.is-list($props) {
        @each $prop in $props {
            @include state-vars(
                $palette,
                $prop,
                $color,
                $args...
            );
        }
    } @else if type.is-map($props) {
        @each $prop, $value in $props {
            @include state-vars(
                $palette,
                $prop,
                $value,
                $args...
            );
        }
    } @else {
        @if string.contains($color, '$') {
            $color: string.replace($color, '$', $palette);
        } @else if $color {
            $color: '#{$color}-#{$palette}';
        } @else {
            $color: $palette;
        }

        @include states.vars(
            $props,
            $color,
            $args...
        );
    }
}