@use 'sass:map';

@use '../base' as *;
@use 'utils/color';
@use 'utils/css';

@use './base' as *;
@use './palettes';
@use './dark';
@use './light';

@mixin define($theme) {
    $selector: if(&, '&', '');

    #{$selector}[data-theme="#{$theme}"] {
        color-scheme: #{$theme};
        @include _vars($theme);
    }

    @media (prefers-color-scheme: #{$theme}) {
        @include _vars($theme);
    }
}

@mixin theme($theme) {
    [data-theme="#{$theme}"] {
        @content;
    }

    @media (prefers-color-scheme: #{$theme}) {
        @content;
    }
}

@mixin light {
    @include theme(light) {
        @content;
    }
}

@mixin dark {
    @include theme(dark) {
        @content;
    }
}

@mixin _vars($theme) {
    $is-dark: $theme == 'dark';
    $theme-colors: if($is-dark,
        dark.$theme-colors,
        light.$theme-colors
    );
    $element-colors: if($is-dark,
        dark.$element-colors,
        light.$element-colors
    );
    $variant-colors: if($is-dark,
        dark.$variant-colors,
        light.$variant-colors
    );

    // Element colors
    @each $element, $color in $element-colors {
        @include var(#{$element}-color, $color);
    }

    // Plain colors
    $plain-color: map.get($variant-colors, plain);
    @include vars((
        color: css.rgba($plain-color, 0),
        color-hover: css.rgba($plain-color, .05),
        color-active: css.rgba($plain-color, .075)
    ), 'plain-');

    $on-plain-color: on-color($plain-color);
    @include vars((
        color: $on-plain-color,
        color-hover: hover-color($on-plain-color),
        color-active: active-color($on-plain-color)
    ), 'on-plain-');

    // Filled colors
    $filled-color: map.get($variant-colors, filled);
    @include vars((
        color: $filled-color,
        color-hover: hover-color($filled-color),
        color-active: active-color($filled-color)
    ), 'filled-');

    $on-filled-color: on-color($filled-color);
    @include vars((
        color: $on-filled-color,
        color-hover: hover-color($on-filled-color),
        color-active: active-color($on-filled-color)
    ), 'on-filled-');

    // Tinted colors
    $tinted-color: map.get($variant-colors, tinted);
    @include vars((
        color: $tinted-color,
        color-hover: color.adjust($tinted-color, $alpha: 0.1),
        color-active: color.adjust($tinted-color, $alpha: 0.2)
    ), 'tinted-');

    // Palette colors
    @each $name in palettes.$names {
        $palette: map.get(palettes.$palettes, $name);
        @each $level, $color in $palette {
            @include var(#{$name}-#{$level}-color, $color);
        }
        
        $on-palette: on-palette($palette);
        @each $level, $color in $on-palette {
            @include var(on-#{$name}-#{$level}-color, $color);
        }
    }

    // Theme colors
    @each $name, $color in $theme-colors {
        @include vars((
            color: $color,
            color-hover: hover-color($color),
            color-active: active-color($color)
        ), '#{$name}-');

        $on-color: on-color($color);
        @include vars((
            color: $on-color,
            color-hover: hover-color($on-color),
            color-active: active-color($on-color)
        ), 'on-#{$name}-');

        // Theme plain colors
        $plain-color: color.change($color, $alpha: 0);
        @include vars((
            color: $plain-color,
            color-hover: color.change($color, $alpha: 0.1),
            color-active: color.change($color, $alpha: 0.15)
        ), 'plain-#{$name}-');

        $on-plain-color: $color;
        @include vars((
            color: $on-plain-color,
            color-hover: hover-color($on-plain-color),
            color-active: active-color($on-plain-color)
        ), 'on-plain-#{$name}-');

        // Theme filled colors
        $filled-color: $color;
        @include vars((
            color: $filled-color,
            color-hover: hover-color($filled-color),
            color-active: active-color($filled-color)
        ), 'filled-#{$name}-');
        
        $on-filled-color: on-color($color);
        @include vars((
            color: $on-filled-color,
            color-hover: hover-color($on-filled-color),
            color-active: active-color($on-filled-color)
        ), 'on-filled-#{$name}-');

        // Theme tinted colors
        $tinted-color: color.change($color, $alpha: 0.2);
        @include vars((
            color: $tinted-color,
            color-hover: color.change($color, $alpha: 0.25),
            color-active: color.change($color, $alpha: 0.3)
        ), 'tinted-#{$name}-');
        
        $on-tinted-color: $color;
        @include vars((
            color: $on-tinted-color,
            color-hover: color.scale($on-tinted-color, $lightness: -5%),
            color-active: color.scale($on-tinted-color, $lightness: -10%)
        ), 'on-tinted-#{$name}-');
    }
}