@use 'utils/color';

@use './base' as colors;

@function contrast-color(
    $color,
    $dark-color: colors.$black,
    $light-color: colors.$white,
    $invert: false
) {
    @return if(
        color.tone($color, if($invert, $dark-color, $light-color)) == 'dark',
        $light-color,
        $dark-color
    );
}

@function muted-color($color) {
  $l: color.lightness($color, oklch);
  $c: color.chroma($color, oklch);
  $h: color.hue($color, oklch);

  @return oklch($l $c * 0.5 $h);
}

@function subtle-color($color) {
  $l: color.lightness($color, oklch);
  $c: color.chroma($color, oklch);
  $h: color.hue($color, oklch);

  $new-lightness: $l + (1 - $l) * 0.2; // push 20% toward white
  
  @return oklch($new-lightness $c * 0.4 $h);
}

@mixin vars($props) {
    @each $name, $value in $props {
        @include var($name, $value);
    }
}

@mixin var($name, $color) {
    @include colors.var(#{$name}-muted, muted($color));
    @include colors.var(#{$name}-subtle, subtle($color));
}