@use 'sass:map';

@use '../base' as *;

@use 'utils/color';
@use 'utils/css';

@use './base';
@use './states';
@use './tones';

@mixin vars($base-colors, $element-colors) {
    $background-color: map.get($element-colors, background);
    $background-inverted-color: map.get($element-colors, background-inverted);
    $foreground-color: map.get($element-colors, foreground);
    $foreground-inverted-color: map.get($element-colors, foreground-inverted);

    @include plain(
        color.change($background-inverted-color, $alpha: 0),
        $foreground-color
    );

    @include filled(
        $background-color,
        $foreground-color
    );

    @include tinted(
        color.change($background-inverted-color, $alpha: 0.1),
        $foreground-color
    );

    @each $name, $color in $base-colors {
        @include plain(
            color.change($color, $alpha: 0),
            $color,
            $postfix:'-#{$name}'
        );

        @include filled(
            $color,
            tones.contrast-color($color),
            $postfix:'-#{$name}'
        );
        
        @include tinted(
            color.change($color, $alpha: 0.1),
            $color,
            $postfix:'-#{$name}'
        );
    }
}

@mixin plain(
    $background-color,
    $foreground-color,
    $postfix: '',
    $args...
) {
    $name: 'plain#{$postfix}';

    @include base.var(#{$name}-background-color, $background-color);
    @include base.var(#{$name}-foreground-color, $foreground-color);
    @include states.vars(#{$name}-background-color, $background-color, $args...);
}

@mixin filled(
    $background-color,
    $foreground-color,
    $postfix: '',
    $args...
) {
    $name: 'filled#{$postfix}';

    @include base.var(#{$name}-background-color, $background-color);
    @include base.var(#{$name}-foreground-color, $foreground-color);
    @include states.vars(#{$name}-background-color, $background-color, $args...);
}

@mixin tinted(
    $background-color,
    $foreground-color,
    $postfix: '',
    $args...
) {
    $name: 'tinted#{$postfix}';

    @include base.var(#{$name}-background-color, $background-color);
    @include base.var(#{$name}-foreground-color, $foreground-color);
    @include states.vars(#{$name}-background-color, $background-color, $args...);
}