@use 'base';
@use 'component';

$padding: base.var(space-m) !default;
$padding-x: --padding !default;
$padding-y: --padding !default;
$background-color: base.var(surface-color) !default;
$border-radius: base.var(border-radius-m) !default;
$shadow: base.var(shadow-m) !default;
$z-index: 100 !default;

$vars: component.vars(Dialog, (
    padding: $padding,
    padding-x: $padding-x,
    padding-y: $padding-y,
    background-color: $background-color,
    border-radius: $border-radius,
    shadow: $shadow,
    z-index: $z-index
));
