@use 'component';
@use 'theme';

@include component.define('Dialog', (
    padding: theme.var(space-m),
    padding-x: --padding,
    padding-y: --padding,
    background-color: theme.var(surface-color),
    border-radius: theme.var(border-radius-m),
    shadow: theme.var(shadow-m),
    z-index: 100
));

$vars: component.vars();

.root {
    position: relative;
    font-family: theme.var(font-family);
}

.overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: theme.var(backdrop-color);
    z-index: component.var(z-index);
}

.surface {
    min-height: 100px;
    min-width: 300px;
    padding: component.var(padding-x) component.var(padding-y);
    display: flex;
    flex-grow: 0px;
    background-color: component.var(background-color);
    flex-direction: column;
    position: relative;
    box-shadow: component.var(shadow);
    border-radius: component.var(border-radius);
}

.title {
    margin: 0;
    color: theme.var(text-color);
}

.content {
    padding-top: 1rem;
    overflow: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;

    // @include color-state-variables('Button', 'background-color', plain);
    // @include color-state-variables('Button', 'text-color', icon);
}