@use 'base';
@use 'component';
@use 'elements';

@use './Dialog';

@include component.define(Dialog, Dialog.$vars) {
    .root {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .surface {
        box-sizing: border-box;
        min-width: 300px;
        border-radius: component.var(radius);
        padding: component.var(padding);
        display: flex;
        flex-direction: column;
        gap: component.var(padding);
        background-color: component.var(background-color);
        font-family: base.var(font-family);
    }

    .title {
        margin: 0;
    }

    .content {
        font-size: component.var(font-size);
        overflow: auto;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;

        &-inside {
            transform: translate(calc(component.var(padding) * 0.5 * -1), calc(component.var(padding) * 0.5));
        }

        &-outside {
            transform: translateX(calc(100% + component.var(padding) * 0.5));
        }
    }

    @include component.sizes(Dialog.$sizes);
}