@use 'base';
@use 'component';

@use './Dialog';

@include component.define(Dialog, Dialog.$vars);

.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: base.var(font-family);
}

.surface {
    box-sizing: border-box;
    min-height: 100px;
    min-width: 300px;
    border-radius: component.var(border-radius);
    padding: component.var(padding-x) component.var(padding-y);
    background-color: component.var(background-color);
    color: base.var(foreground-color);
    box-shadow: component.var(shadow) base.var(shadow-color);
    display: flex;
    flex-direction: column;
    
    @include component.shadows;
}

.title {
    margin: 0;
}

.content {
    padding-top: 1rem;
    overflow: auto;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;

    &-inside {
        transform: translate(calc(#{base.var(space-xs)} * -1), #{base.var(space-xs)});
    }

    &-outside {
        transform: translateX(calc(100% + #{base.var(space-xxs)}));
    }
}