@use 'sass:map';
@use 'sass:meta';

@use '../base';
@use 'colors';
@use 'colors/palettes';
@use 'colors/states';
@use 'utils/css';
@use 'utils/list';
@use 'utils/string';
@use 'utils/type';

@use './variants';

$-name: '';
$-vars: ();

@mixin define($name, $vars) {
    $-name: $name !global;
    $-vars: $vars !global;

    #{if(&, '&', '.root')} {
        @include vars($vars);
    }
}

@function vars($component, $vars) {
    $_vars: ();

    @each $name, $value in $vars {
        $_vars: map.merge($_vars, (
            $name: _get-value($value, $component)
        ));
    }

    @return $_vars;
}

@function var($name) {
    @if not map.has-key($-vars, $name) {
        @error 'No variable "#{$name}"';
    }

    $value: map.get($-vars, $name);

    @if _is-private-var($name) {
        @return css.var($name, $value);
    } @else {
        @return base.var('#{$-name}-#{$name}', $value);
    }
}

@mixin vars($vars) {
    @each $name, $value in $vars {
        @include var($name, $value);
    }
}

@mixin var($name, $value) {
    $_value: _get-value($value);

    @if _is-private-var($name) {
        @include css.var($name, $_value);
    } @else {
        @include base.var('#{$-name}-#{$name}', $_value);
    }
}

@mixin declare($vars) {
    @each $name, $value in $vars {
        @if type.is-map($value) {
            #{if(&, '&', '')}#{$name} {
                @include declare($value);
            }
        } @else {
            @include var($name, $value);
        }
    }
}

@mixin classes($map) {
    @each $class, $vars in $map {
        #{if(&, '&', '')}.#{$class} {
            @include vars($vars);
        }
    }
}

@mixin states($map) {
    @each $state, $vars in $map {
        &:#{$state} {
            @include vars($vars);
        }
    }
}

@mixin color-state-vars($args...) {
    @include states.vars(
        $prefix: '#{$-name}-',
        $args...
    );
}

@mixin palettes-vars($args...) {
    @include palettes.define using ($palette) {
        @include palettes.vars(
            $palette,
            $prefix: '#{$-name}-',
            $args...
        );
    }
}

@mixin palettes-state-vars($args...) {
    @include palettes.define using ($palette) {
        @include palettes.state-vars(
            $palette,
            $prefix: '#{$-name}-',
            $args...
        );
    }
}

@mixin variants(
    $plain: true,
    $filled: true,
    $outlined: true,
    $tinted: true,
    $outlined-tinted: true
) {
    @if ($plain) {
        @include variants.plain($prefix: '#{$-name}-');
    }

    @if ($filled) {
        @include variants.filled($prefix: '#{$-name}-');
    }

    @if ($outlined) {
        @include variants.outlined($prefix: '#{$-name}-') {
            border: var(border-width) solid var(border-color);
        }
    }

    @if ($tinted) {
        @include variants.tinted($prefix: '#{$-name}-');
    }

    @if ($outlined-tinted) {
        @include variants.outlined-tinted($prefix: '#{$-name}-') {
            border: var(border-width) solid var(border-color);
        }
    }
}

@function _get-value($value: null, $prefix: null) {
    @if type.is-list($value) {
        @return list.map(
            $value,
            meta.get-function('_get-value'),
            $prefix
        );
    }

    @if _is-private-var-value($value) {
        @return css.var(string.slice($value, 3));
    }

    @if _is-public-var-value($value) {
        @return base.var('#{$prefix}-#{string.slice($value, 3)}');
    }

    @return $value;
}

@function _is-private-var($name) {
    @return string.starts-with($name, '_');
}

@function _is-private-var-value($value) {
    @return string.starts-with($value, '--_');
}

@function _is-public-var($name) {
    @return string.starts-with($name, '--');
}

@function _is-public-var-value($value) {
    @return string.starts-with($value, '--');
}