@use 'sass:map';
@use 'sass:meta';

@use 'base';
@use 'colors';
@use 'colors/palettes';
@use 'colors/states';
@use 'variants';
@use 'utils/css';
@use 'utils/list';
@use 'utils/string';
@use 'utils/type';

$-NAME: '';
$-VARS: ();

@mixin define($name, $vars) {
    $-NAME: $name !global;
    $-VARS: $vars !global;

    @layer components {
        #{if(&, '&', '.root')} {
            @include vars($vars);
        }

        @content;
    }
}

@function vars($name, $vars: ()) {
    $map: ();

    @each $key, $value in $vars {
        $map: map.merge($map, (
            $key: _get-value($value, $name)
        ));
    }

    @return $map;
}

@function var($name, $value: null) {
    // $value: map.get($-VARS, $name);

    @if _is-private-var($name) {
        @return css.var($name, $value);
    } @else {
        @return base.var('#{$-NAME}-#{$name}', $value);
    }
}

@mixin vars($vars) {
    @each $name, $value in $vars {
        @include var($name, $value);
    }
}

@mixin var($name, $value) {
    $value: _get-value($value);

    @if _is-private-var($name) {
        @include css.var($name, $value);
    } @else {
        @include base.var('#{$-NAME}-#{$name}', $value);
    }
}

@mixin declare($vars) {
    @each $name, $value in $vars {
        @if type.is-map($value) {
            #{if(&, '&', '')}#{$name} {
                @include declare($value);
            }
        } @else {
            @include var($name, $value);
        }
    }
}

@mixin classes($map) {
    @each $class, $vars in $map {
        #{if(&, '&', '')}.#{$class} {
            @include vars($vars);
        }
    }
}

@mixin states($map) {
    @each $state, $vars in $map {
        &:#{$state} {
            @include vars($vars);
        }
    }
}

@mixin color-vars($args...) {
    @include colors.vars(
        $prefix: '#{$-NAME}-',
        $args...
    );
}

@mixin color-state-vars($args...) {
    @include states.vars(
        $prefix: '#{$-NAME}-',
        $args...
    );
}

@mixin palettes-vars($args...) {
    @include palettes.define using ($palette) {
        @include palettes.vars(
            $palette,
            $prefix: '#{$-NAME}-',
            $args...
        );
    }
}

@mixin palettes-state-vars($args...) {
    @include palettes.define using ($palette) {
        @include palettes.state-vars(
            $palette,
            $prefix: '#{$-NAME}-',
            $args...
        );
    }
}

@mixin colors($args...) {
    @include palettes.define using ($palette) {
        @include palettes.vars(
            $palette,
            $prefix: '#{$-NAME}-',
            $args...
        );
    }
}

@mixin sizes($vars) {
    @each $size, $-vars in $vars {
        #{if(&, '&', '')}.#{$size} {
            @include vars($-vars);
        }
    }
}

@mixin gaps($vars) {
    @each $size, $value in $vars {
        #{if(&, '&', '')}.gap-#{$size} {
            @include vars((
                gap: $value
            ));
        }
    }
}

@function _get-value($value: null, $prefix: null) {
    @if type.is-list($value) {
        @return list.map(
            $value,
            meta.get-function('_get-value'),
            $prefix
        );
    }

    @if _is-private-var-value($value) {
        @return css.var(string.slice($value, 3));
    }

    @if _is-public-var-value($value) {
        @return base.var(if($prefix,
            '#{$prefix}-#{string.slice($value, 3)}',
            string.slice($value, 3))
        );
    }

    @return $value;
}

@function _is-private-var($name) {
    @return string.starts-with($name, '_');
}

@function _is-private-var-value($value) {
    @return string.starts-with($value, '--_');
}

@function _is-public-var($name) {
    @return string.starts-with($name, '--');
}

@function _is-public-var-value($value) {
    @return string.starts-with($value, '--');
}