@use '../base' as *;
@use 'colors';
@use 'colors/palettes';
@use 'colors/states';

@mixin plain($args...) {
    .plain {
        @include colors.vars((
            background-color: plain-background
        ), $args...);
        
        @include states.vars((
            background-color: plain-background
        ), $args...);

        @include colors.vars((
            foreground-color: plain-foreground
        ), $args...);

        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include colors.vars((
                    background-color: plain-#{$palette}-background,
                ), $args...);
                
                @include palettes.state-vars($palette, (
                    background-color: 'plain-$-background'
                ), $args...);
                
                @include colors.vars((
                    foreground-color: plain-#{$palette}-foreground
                ), $args...);
            }
        }
    }
}

@mixin filled($args...) {
    .filled {
        @include colors.vars((
            background-color: filled-background
        ), $args...);

        @include states.vars((
            background-color: filled-background
        ), $args...);

        @include colors.vars((
            foreground-color: filled-foreground
        ), $args...);

        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include colors.vars((
                    background-color: filled-#{$palette}-background,
                ), $args...);

                @include palettes.state-vars($palette, (
                    background-color: 'filled-$-background'
                ), $args...);

                @include colors.vars((
                    foreground-color: filled-#{$palette}-foreground,
                    foreground-hover-color: filled-#{$palette}-foreground,
                    foreground-active-color: filled-#{$palette}-foreground
                ), $args...);
            }
        }
    }
}

@mixin outlined($args...) {
    .outlined {
        @include vars((
            border-width: 1px
        ), $args...);
        
        @include colors.vars((
            border-color: border,
            background-color: states.get(background-color, plain-background)
        ), $args...);
                
        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include palettes.vars($palette, (
                    border-color: 'filled-$-background',
                    background-color: 'plain-$-background'
                ), $args...);

                @include palettes.state-vars($palette, (
                    border-color: 'filled-$-background',
                    background-color: 'plain-$-background'
                ), $args...);
            }
        }
    }
}

@mixin tinted($args...) {
    .tinted {
        @include colors.vars((
            background-color: states.get(background-color, tinted-background)
        ), $args...);

        @content;
        
        @each $palette in palettes.$names {
            &-#{$palette} {
                @include palettes.vars($palette, (
                    background-color: 'tinted-$-background',
                ), $args...);

                @include palettes.state-vars($palette, (
                    background-color: 'tinted-$-background'
                ), $args...);
            }
        }
    }
}

@mixin outlined-tinted($args...) {
    .outlined-tinted {
        @include vars((
            border-width: 1px
        ), $args...);

        @include colors.vars((
            border-color: states.get(border-color, tinted-background),
            background-color: states.get(background-color, tinted-background)
        ), $args...);
                
        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include palettes.vars($palette, (
                    border-color: 'tinted-$-background',
                    background-color: 'tinted-$-background'
                ), $args...);

                @include palettes.state-vars($palette, (
                    border-color: 'tinted-$-background',
                    background-color: 'tinted-$-background'
                ), $args...);
            }
        }
    }
}