@use '../base' as *;
@use 'colors';
@use 'colors/palettes';
@use 'colors/states';

@mixin plain($args...) {
    .plain {
        @include colors.vars((
            background-color: plain
        ), $args...);
        
        @include states.vars((
            background-color: plain
        ), $args...);

        @include colors.vars((
            text-color: -plain
        ), $args...);

        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include colors.vars((
                    background-color: plain-#{$palette},
                ), $args...);
                
                @include palettes.state-vars($palette, (
                    background-color: plain
                ), $args...);
                
                @include colors.vars((
                    text-color: -plain-#{$palette}
                ), $args...);
            }
        }
    }
}

@mixin filled($args...) {
    .filled {
        @include colors.vars((
            background-color: filled
        ), $args...);

        @include states.vars((
            background-color: filled
        ), $args...);

        @include colors.vars((
            text-color: -filled
        ), $args...);

        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include colors.vars((
                    background-color: filled-#{$palette},
                ), $args...);

                @include palettes.state-vars($palette, (
                    background-color: filled
                ), $args...);

                @include colors.vars((
                    text-color: -filled-#{$palette},
                    text-hover-color: -filled-#{$palette},
                    text-active-color: -filled-#{$palette}
                ), $args...);
            }
        }
    }
}

@mixin outlined($args...) {
    .outlined {
        @include vars((
            border-width: 1px
        ), $args...);
        
        @include colors.vars((
            border-color: states.get(border-color, tinted),
            background-color: states.get(background-color, plain)
        ), $args...);
                
        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include palettes.vars($palette, (
                    border-color: '$',
                    background-color: 'plain-$'
                ), $args...);

                @include palettes.state-vars($palette, (
                    border-color: '$'
                ), $args...);
            }
        }
    }
}

@mixin tinted($args...) {
    .tinted {
        @include colors.vars((
            background-color: states.get(background-color, tinted)
        ), $args...);

        @content;
        
        @each $palette in palettes.$names {
            &-#{$palette} {
                @include palettes.vars($palette, (
                    background-color: 'tinted-$',
                ), $args...);

                @include palettes.state-vars($palette, (
                    background-color: 'tinted-$'
                ), $args...);
            }
        }
    }
}

@mixin outlined-tinted($args...) {
    .outlined-tinted {
        @include vars((
            border-width: 1px
        ), $args...);

        @include colors.vars((
            border-color: states.get(border-color, tinted),
            background-color: states.get(background-color, tinted)
        ), $args...);
                
        @content;

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include palettes.vars($palette, (
                    border-color: 'tinted-$',
                    background-color: 'tinted-$'
                ), $args...);

                @include palettes.state-vars($palette, (
                    border-color: 'tinted-$',
                    background-color: 'tinted-$'
                ), $args...);
            }
        }
    }
}