.root {
    padding: var(--ui-Table-cell-padding);
    font-size: var(--ui-Table-font-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.root {
    font-weight: 700;
    line-height: 24px;
    text-align: inherit;
}

.align {
    &-h {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }

    &-v {
        &-left {
            vertical-align: top;
        }

        &-center {
            vertical-align: middle;
        }

        &-right {
            vertical-align: bottom;
        }
    }
}