@use 'component';

@use './Table';

@include component.init(Table, Table.$vars);

.root {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: var(--ui-border-radius-medium);
    font-family: var(--ui-font-family);
}


// Sizes

@include component.declare((
    s: (
        cell-padding: .5rem .75rem,
        font-size: 12px,
    ),
    m: (
        cell-padding: .75rem 1rem,
        font-size: 14px,
    ),
    l: (
        cell-padding: 1rem 1.25rem,
        font-size: 16px,
    )
));

.interactive {
    tbody tr {
        @include component.color-state-vars(background-color, plain);

        @include component.states((
            hover: (background-color: hover-background-color),
            active: (background-color: active-background-color)
        ));
    }
}

.striped {
    &-even {
        tbody tr:nth-child(even) {
            @include component.color-state-vars(background-color, neutral);
        }
    }

    &-odd {
        tbody tr:nth-child(odd) {
            @include component.color-state-vars(background-color, neutral);
        }
    }
}