@use 'base';
@use 'component';

@use './TableRow';

@include component.define(TableRow, TableRow.$vars);

.root {
    background-color: var(--ui-TableRow-background-color);
    border-bottom: 1px solid var(--ui-border-muted-color);
    overflow: visible;
    font-size: 14px;
    line-height: 24px;
}

.interactive {
    @include component.color-state-vars(background-color, plain);

    @include component.states((
        hover: (background-color: plain-hover)
    ));
}