@use 'base';
@use 'component';

@use './Table';

@include component.define(Table, Table.$vars) {
    .root {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-radius: base.var(radius-m);
        font-family: base.var(font-family);
        font-size: component.var(font-size);
    }

    @include component.sizes(Table.$sizes);

    .interactive {
        tbody tr {
            @include component.color-state-vars(background-color, plain);

            &:hover {
                background-color: component.var(background-hover-color);
            }

            &:active {
                background-color: component.var(background-active-color);
            }
        }
    }
}