@use 'base';
@use 'component';

@use './TableCell';

@include component.define(TableCell, TableCell.$vars) {
    .root {
        padding: component.var(padding);
        font-size: component.var(font-size);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th.root {
        font-weight: component.var(header-font-weight);
        text-align: inherit;
    }

    .align {
        &-h {
            &-left {
                text-align: left;
            }

            &-center {
                text-align: center;
            }

            &-right {
                text-align: right;
            }
        }

        &-v {
            &-left {
                vertical-align: top;
            }

            &-center {
                vertical-align: middle;
            }

            &-right {
                vertical-align: bottom;
            }
        }
    }
}