@use 'base';
@use 'component';

$padding: base.var(Table-cell-padding);
$font-size: base.var(Table-font-size);
$header-font-weight: base.var(Table-header-font-weight);

$vars: component.vars(TableCell, (
    padding: $padding,
    font-size: $font-size,
    header-font-weight: $header-font-weight
));