@use 'base';
@use 'component';

@use './Avatar';

@include component.define(Avatar, Avatar.$vars) {

.root {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: component.var(size);
    height: component.var(size);
    border-width: component.var(border-width);
    overflow: hidden;
    user-select: none;
}

.content {
    font-family: base.var(font-family);
    font-size: component.var(font-size);
    font-weight: base.var(font-weight-semibold);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.icon {
    color: inherit
}

.image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@include component.sizes(Avatar.$sizes);

}