@use 'sass:map';

@use 'base';
@use 'component';

$s: (
    size: 24px,
    border-width: 1px,
    font-size: 10px
) !default;

$m: (
    size: 40px,
    border-width: 2px,
    font-size: 16px
) !default;

$l: (
    size: 64px,
    border-width: 2px,
    font-size: 28px
) !default;

$sizes: (
    s: $s,
    m: $m,
    l: $l
) !default;

$size: map.get($m, size) !default;
$border-width: map.get($m, border-width) !default;
$font-size: map.get($m, font-size) !default;

$vars: component.vars(Avatar, (
    size: $size,
    border-width: $border-width,
    font-size: $font-size
));