@use 'base';
@use 'component';

@include component.define(AvatarGroup, (
    gap: base.var(space-none)
));

.root {
    display: flex;
    align-items: center;
    gap: component.var(gap);
}

@include component.classes((
    gap-xxs: (gap: base.var(space-xxs)),
    gap-xs: (gap: base.var(space-xs)),
    gap-s: (gap: base.var(space-s)),
    gap-m: (gap: base.var(space-m)),
    gap-l: (gap: base.var(space-l)),
    gap-xl: (gap: base.var(space-xl)),
    gap-xxl: (gap: base.var(space-xxl))
));

.overlap {
    .avatar + .avatar {
        margin-left: -8px;
    }
}