@use 'base';
@use 'component';

$size: auto !default;
$border-color: none !default;
$border-radius: null !default;
$border-width: 0 !default;
$background-color: none !default;
$text-color: base.var(text-color) !default;
$font-size: base.var(font-size-m) !default;

$vars: component.vars(Avatar, (
    size: $size,
    border-color: $border-color,
    border-radius: $border-radius,
    border-width: $border-width,
    background-color: $background-color,
    text-color: $text-color,
    font-size: $font-size
));