@use 'base';
@use 'component';

@use './AvatarGroup';

@include component.define(AvatarGroup, AvatarGroup.$vars) {
    .root {
        display: flex;
        align-items: center;
        gap: component.var(gap);
    }

    .overlap {
        gap: 0;
        
        .avatar + .avatar {
            margin-left: -8px;
        }
    }

    @include component.gaps((
        s: base.var(space-xxs),
        m: base.var(space-xs),
        l: base.var(space-s),
    ));
}