@use '../../styles/theme';
@use '../../styles/theme/component' with (
    $name: 'AvatarGroup',
    $vars: (
        gap: theme.var(space-none),
    )
);

.root {
    display: flex;
    align-items: center;
    gap: component.var(gap);
}

.gap {
    &-none {
        @include component.var(gap, theme.var(space-none));
    }

    &-auto {
        justify-content: space-between
    }

    &-smallest {
        @include component.var(gap, theme.var(space-smallest));
    }

    &-smaller {
        @include component.var(gap, theme.var(space-smaller));
    }

    &-small {
        @include component.var(gap, theme.var(space-small));
    }

    &-medium {
        @include component.var(gap, theme.var(space-medium));
    }

    &-large {
        @include component.var(gap, theme.var(space-large));
    }

    &-larger {
        @include component.var(gap, theme.var(space-larger));
    }

    &-largest {
        @include component.var(gap, theme.var(space-largest));
    }
}

.overlapping {
    .avatar + .avatar {
        margin-left: -8px;
    }
}