@use '../../styles/component';
@use '../../styles/theme';

@include component.define('Avatar', (
    size: auto,
    border-color: none,
    border-radius: null,
    border-width: 0,
    background-color: none,
    text-color: theme.var(text-primary-color),
    font-size: theme.var(font-size-m)
));

$vars: component.vars();

.root {
    @include component.vars;

    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: component.var(size);
    height: component.var(size);
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(text-color);
    overflow: hidden;
    user-select: none;
}

.image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    font-family: theme.var(font-family);
    font-size: component.var(font-size);
    font-weight: theme.var(font-weight-semibold);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.icon {
    @include theme.var(icon-color, currentColor);
}


// Sizes

.small {
    @include component.vars((
        size: 24px,
        font-size: 10px,
        border-width: 1px
    ));
}

.medium {
    @include component.vars((
        size: 40px,
        font-size: 16px,
        border-width: 2px
    ));
}

.large {
    @include component.vars((
        size: 64px,
        font-size: 28px,
        border-width: 2px
    ));
}


// Shapes

.circular {
    @include component.vars((
        border-radius: 50%
    ));
}

.rectangular {
    @include component.vars((
        border-radius: 0
    ));
}

.rounded {
    &.small {
        @include component.vars((
            border-radius: theme.var(border-radius-s)
        ));
    }

    &.medium {
        @include component.vars((
            border-radius: theme.var(border-radius-m)
        ));
    }

    &.large {
        @include component.vars((
            border-radius: theme.var(border-radius-l)
        ));
    }
}


// Variants

.plain {
    @include component.palettes-color-vars(text-color);
}

.filled {
    @include component.color-variable-for-palettes((background-color, _text-color));
}

.outlined {
    @include component.var(border-color, --border-color);
    @include component.palettes-color-vars((border-color, text-color));

    border: component.var(border-width) solid component.var(border-color);
}

.tinted {
    @include component.var(background-color, tinted-color);
    @include component.palettes-color-vars(
        (background-color, _text-color),
        tinted
    );
}

// .raised {
//     @each $palette in theme.$palette-names {
//         &.#{$palette} {
//             box-shadow: 0px 5px 12px 0px component.var(#{$palette}-5-color);
//         }
//     }
// }