@use 'component';
@use 'theme';

@include component.init(AvatarGroup, (
    gap: theme.var(space-none)
));

.root {
    display: flex;
    align-items: center;
    gap: component.var(gap);
}

.gap {
    &-none {
        @include component.var(gap, theme.var(space-none));
    }

    &-auto {
        justify-content: space-between
    }

    &-xxs {
        @include component.var(gap, theme.var(space-xxs));
    }

    &-xs {
        @include component.var(gap, theme.var(space-xs));
    }

    &-s {
        @include component.var(gap, theme.var(space-s));
    }

    &-m {
        @include component.var(gap, theme.var(space-m));
    }

    &-l {
        @include component.var(gap, theme.var(space-l));
    }

    &-xl {
        @include component.var(gap, theme.var(space-xl));
    }

    &-xxl {
        @include component.var(gap, theme.var(space-xxl));
    }
}

.overlap {
    .avatar + .avatar {
        margin-left: -8px;
    }
}