@use 'base';
@use 'component';

$gap: base.var(space-xs) !default;
$separator-color: base.var(foreground-tertiary-color) !default;

$vars: component.vars(Breadcrumbs, (
    gap: $gap,
    separator-color: $separator-color
));
