@use 'component';

@use './Breadcrumbs';

@include component.init(Breadcrumbs, Breadcrumbs.$vars);

.root {
    display: flex;
    align-items: center;
    gap: component.var(gap);
}

.separator {
    color: var(--kui-icon-color);
}