@use 'base';
@use 'component';

@use './Breadcrumbs';

@include component.define(Breadcrumbs, Breadcrumbs.$vars) {
    .root {
        display: flex;
        align-items: center;
        gap: component.var(gap);
        font-size: component.var(font-size);
    }

    .separator {
        color: component.var(separator-color);
    }

    @include component.sizes(Breadcrumbs.$sizes);
}