.root {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--kui-border-color);
}

.dark {
    color: white;
}

.light {
    color: black;
}