@use 'base';
@use 'component';

@use './Tooltip';

@include component.define(Tooltip, Tooltip.$vars) {
    .root {
        box-sizing: border-box;
        position: relative;
        max-width: component.var(max-width);
        border-radius: component.var(border-radius);
        padding: component.var(padding);
        display: inline-flex;
        flex-direction: column;
        gap: component.var(gap);
        background: component.var(background-color);
        color: component.var(foreground-color);
        font-size: component.var(font-size);
        font-family: base.var(font-family);
        font-weight: base.var(font-weight-normal);
        box-shadow: component.var(shadow);
        animation: fade-in .2s;
        animation-delay: .2s;
        z-index: 9999;
    }

    .arrow {
        width: component.var(arrow-size);
        height: calc(component.var(arrow-size) / 2);
        position: absolute;
        transform: translateY(-100%);
        transform-origin: center center;
        z-index: -1;

        polygon {
            fill: component.var(background-color);
        }

        line {
            stroke: component.var(border-color);
        }
    }

    .top,
    .top-start,
    .top-end {
        .arrow {
            bottom: 0;
            transform: translateY(100%) rotate(180deg);
        }
    }

    .right,
    .right-start,
    .right-end {
        .arrow {
            left: 0;
            transform: rotate(-90deg) translateY(-150%);
        }
    }

    .bottom,
    .bottom-start,
    .bottom-end {
        .arrow {
            top: 0;
        }
    }

    .left,
    .left-start,
    .left-end {
        .arrow {
            right: 0;
            transform: rotate(90deg) translateY(-150%);
        }
    }
}