@use 'component';
@use 'theme';

$max-width: auto !default;
$gap: theme.var(space-xs) !default;
$padding: theme.var(space-xxs) !default;
$border-radius: theme.var(border-radius-s) !default;
$background-color: theme.var(surface-inverted-color) !default;
$color: theme.var(text-inverted-color) !default;
$font-size: theme.var(font-size-s) !default;
$shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10) !default;
$arrow-offset: -3px !default;

$vars: component.define(Tooltip, (
    max-width: $max-width,
    gap: $gap,
    padding: $padding,
    border-radius: $border-radius,
    background-color: $background-color,
    color: $color,
    font-size: $font-size,
    shadow: $shadow,
    arrow-offset: $arrow-offset,
));
