@use 'base';
@use 'component';

$max-width: auto !default;
$gap: base.var(space-xs) !default;
$padding: base.var(space-xxs) base.var(space-xs) !default;
$border-radius: base.var(border-radius-xs) !default;
$background-color: base.var(tooltip-color) !default;
$foreground-color: base.var(foreground-inverted-color) !default;
$font-size: base.var(font-size-s) !default;
$arrow-size: 8px !default;
$shadow: base.var(shadow-xs) base.var(shadow-color) !default;

$vars: component.vars(Tooltip, (
    max-width: $max-width,
    gap: $gap,
    padding: $padding,
    border-radius: $border-radius,
    background-color: $background-color,
    foreground-color: $foreground-color,
    font-size: $font-size,
    arrow-size: $arrow-size,
    shadow: $shadow,
));