@use 'base';
@use 'component';

@use './Box';

@include component.define(Box, Box.$vars);

.root {
    box-sizing: border-box;
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(foreground-color);
    box-shadow: component.var(shadow) base.var(shadow-color);
}

@include component.interactive;
@include component.shapes;
@include component.shadows($hover: true);
@include component.variants;

.ar {
    &-16-10 {
        aspect-ratio: 16 / 10;
    }

    &-16-9 {
        aspect-ratio: 16 / 9;
    }

    &-4-3 {
        aspect-ratio: 4 / 3;
    }

    &-3-2 {
        aspect-ratio: 3 / 2;
    }

    &-2-1 {
        aspect-ratio: 2 / 1;
    }

    &-1-1,
    &-1 {
        aspect-ratio: 1 / 1;
    }
}

// Padding

.p {
    @each $size in base.$sizes {
        &-#{$size} {
            padding: base.var(space-#{$size});
        }
    }
}

.px {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-left: base.var(space-#{$size});
            padding-right: base.var(space-#{$size});
        }
    }
}

.py {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-top: base.var(space-#{$size});
            padding-bottom: base.var(space-#{$size});
        }
    }
}

.pt {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-top: base.var(space-#{$size});
        }
    }
}

.pr {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-right: base.var(space-#{$size});
        }
    }
}

.pb {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-bottom: base.var(space-#{$size});
        }
    }
}

.pl {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-left: base.var(space-#{$size});
        }
    }
}