@use 'base';
@use 'component';

@use './Box';

@include component.define(Box, Box.$vars);

.root {
    border-radius: component.var(border-radius);
    background-color: component.var(background-color);
    color: component.var(text-color);
    box-shadow: component.var(shadow);
    box-sizing: border-box;
}

.interactive {
    transition:
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

    &:hover {
        border-color: component.var(border-hover-color);
        background-color: component.var(background-hover-color);
    }

    &:active {
        border-color: component.var(border-active-color);
        background-color: component.var(background-active-color);
    }
}

// Padding

.p {
    @each $size in base.$sizes {
        &-#{$size} {
            padding: base.var(space-#{$size});
        }
    }
}

.px {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-left: base.var(space-#{$size});
            padding-right: base.var(space-#{$size});
        }
    }
}

.py {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-top: base.var(space-#{$size});
            padding-bottom: base.var(space-#{$size});
        }
    }
}

.pt {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-top: base.var(space-#{$size});
        }
    }
}

.pr {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-right: base.var(space-#{$size});
        }
    }
}

.pb {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-bottom: base.var(space-#{$size});
        }
    }
}

.pl {
    @each $size in base.$sizes {
        &-#{$size} {
            padding-left: base.var(space-#{$size});
        }
    }
}


// Variants
@include component.variants;

// Roundness

.roundness {
    overflow: hidden;

    @each $size in base.$sizes {
        &-#{$size} {
            @include component.vars((border-radius: base.var(border-radius-#{$size})));
        }
    }
}


// Shadow

@include component.classes((
    shadow-s: (shadow: base.var(shadow-s) base.var(shadow-color)),
    shadow-m: (shadow: base.var(shadow-m) base.var(shadow-color)),
    shadow-l: (shadow: base.var(shadow-l) base.var(shadow-color))
));