@use 'base';
@use 'component';

$padding: null !default;
$border-radius: null !default;
$border-width: null !default;
$border-color: null !default;
$border-hover-color: null !default;
$border-active-color: null !default;
$background-color: null !default;
$background-hover-color: null !default;
$background-active-color: null !default;
$text-color: null !default;
$shadow: null !default;

$vars: component.vars(Box, (
    padding: $padding,
    border-radius: $border-radius,
    border-width: $border-width,
    border-color: $border-color,
    border-hover-color: $border-hover-color,
    border-active-color: $border-active-color,
    background-color: $background-color,
    background-hover-color: $background-hover-color,
    background-active-color: $background-active-color,
    text-color: $text-color,
    shadow: $shadow
));