@use 'base';
@use 'colors';
@use 'colors/palettes';
@use 'colors/states';
@use 'utils/css';

@mixin classes {
    .outlined {
        @include styles(outlined, plain);

        &-active {
            @include styles(filled-brand, plain);
        }

        &-static {
            @include styles(outlined, plain, $static: true);
        }

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include styles(outlined-#{$palette}, plain-#{$palette});

                &-active {
                    @include styles(filled-#{$palette}, plain-#{$palette});
                }

                &-static {
                    @include styles(outlined-#{$palette}, plain-#{$palette}, $static: true);
                }
            }
        }
    }
}

@mixin styles($border-color, $background-color, $static: false, $args...) {
    border: 1px solid base.var(#{$border-color}-color);
    background-color: base.var(#{$background-color}-color);

    @if $static == false {
        &:hover {
            border-color: base.var(#{$border-color}-hover-color);
            background-color: base.var(#{$background-color}-hover-color);
        }

        &:active {
            border-color: base.var(#{$border-color}-active-color);
            background-color: base.var(#{$background-color}-active-color);
        }
    }
}

@mixin vars(
    $border-color,
    $postfix: '',
    $args...
) {
    $name: 'outlined#{$postfix}';
    $active-border-color: states.active-color($border-color);

    @include colors.var(#{$name}-color, $border-color);
    @include states.vars(#{$name}-active-color, $active-border-color);
    @include states.vars(#{$name}-color, $border-color, $args...);
}