@use '../base';
@use '../colors';
@use '../colors/palettes';
@use '../colors/states';
@use '../utils/color';
@use '../utils/css';

@mixin classes {
    .outlined-tinted {
        @include styles(outlined, tinted);

        &-active {
            @include styles(filled-brand, tinted-active);
        }

        &-static {
            @include styles(outlined, tinted, $static: true);
        }

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include styles(outlined-#{$palette}, tinted-#{$palette});

                &-active {
                    @include styles(filled-#{$palette}, tinted-#{$palette}-active);
                }

                &-static {
                    @include styles(outlined-#{$palette}, tinted-#{$palette}, $static: true);
                }
            }
        }
    }
}

@mixin styles(
    $border-color,
    $background-color,
    $static: false
) {
    border: 1px solid base.var(#{$border-color}-color);
    background-color: base.var(#{$background-color}-color);

    @if $static == false {
        &:hover {
            border-color: base.var(#{$border-color}-hover-color);
            background-color: base.var(#{$background-color}-hover-color);
        }

        &:active {
            border-color: base.var(#{$border-color}-active-color);
            background-color: base.var(#{$background-color}-active-color);
        }
    }
}