@use '../base';
@use '../colors';
@use '../colors/palettes';
@use '../colors/states';
@use '../utils/css';

@mixin classes {
    .outlined-filled {
        @include styles(
            $border-color: on-filled,
            $background-color: plain,
            $background-hover-color: on-filled,
            $background-active-color: on-filled-active,
            $foreground-color: on-plain,
            $foreground-hover-color: filled,
            $foreground-active-color: filled
        );

        &-active {
            @include styles(
                $border-color: on-filled,
                $background-color: on-filled,
                $background-hover-color: on-filled-hover,
                $background-active-color: on-filled-active,
                $foreground-color: filled,
                $foreground-hover-color: filled,
                $foreground-active-color: filled
            );
        }

        &-static {
            @include styles(
                $border-color: on-filled,
                $background-color: plain,
                $background-hover-color: on-filled,
                $background-active-color: on-filled-active,
                $foreground-color: on-plain,
                $foreground-hover-color: filled,
                $foreground-active-color: filled,
                $static: true
            );
        }

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include styles(
                    $border-color: #{$palette},
                    $background-color: plain-#{$palette},
                    $background-hover-color: filled-#{$palette},
                    $background-active-color: filled-#{$palette}-active,
                    $foreground-color: on-plain-#{$palette},
                    $foreground-hover-color: on-#{$palette},
                    $foreground-active-color: on-#{$palette}
                );

                &-active {
                    @include styles(
                        $border-color: #{$palette},
                        $background-color: filled-#{$palette},
                        $background-hover-color: filled-#{$palette}-hover,
                        $background-active-color: filled-#{$palette}-active,
                        $foreground-color: on-#{$palette},
                        $foreground-hover-color: on-#{$palette},
                        $foreground-active-color: on-#{$palette}
                    );
                }

                // &-static {
                //     @include styles(on-filled-#{$palette}, filled-#{$palette}, on-filled-#{$palette}, $static: true);
                // }
            }
        }
    }
}

@mixin styles(
    $border-color,
    $background-color,
    $background-hover-color,
    $background-active-color,
    $foreground-color,
    $foreground-hover-color,
    $foreground-active-color,
    $static: false
) {
    border: 1px solid base.var(#{$border-color}-color);
    background-color: base.var(#{$background-color}-color);
    color: base.var(#{$foreground-color}-color);

    &:hover {
        border-color: base.var(#{$border-color}-color);
        background-color: base.var(#{$background-hover-color}-color);
        color: base.var(#{$foreground-hover-color}-color);
    }

    &:active {
        border-color: base.var(#{$border-color}-color);
        background-color: base.var(#{$background-active-color}-color);
        color: base.var(#{$foreground-active-color}-color);
    }
}

@mixin vars(
    $border-color,
    $postfix: '',
    $args...
) {
    $name: 'outlined-filled#{$postfix}';

    @include colors.var(#{$name}-color, $border-color);
    @include states.vars(#{$name}-color, $border-color, $args...);
    @include colors.var(#{$name}-color, $background-color);
    @include states.vars(#{$name}-color, $background-color, $args...);
    @include colors.var(on-#{$name}-color, $foreground-color);
}