@use '../base';
@use '../colors';
@use '../colors/palettes';
@use '../colors/states';
@use '../utils/color';
@use '../utils/css';

@mixin classes {
    .plain {
        @include styles(plain, on-plain);

        &-active {
            @include styles(plain-active, on-plain);
        }

        &-static {
            @include styles(plain, on-plain, $static: true);
        }
        
        @each $palette in palettes.$names {
            &-#{$palette} {
                @include styles(plain-#{$palette}, on-plain-#{$palette});

                &-active {
                    @include styles(plain-#{$palette}-active, on-plain-#{$palette});
                }

                &-static {
                    @include styles(plain-#{$palette}, on-plain-#{$palette}, $static: true);
                }
            }
        }
    }
}

@mixin styles($background-color, $foreground-color, $static: false, $args...) {
    background-color: base.var(#{$background-color}-color);
    color: base.var(on-#{$background-color}-color);

    @if $static == false {
        &:hover {
            background-color: base.var(#{$background-color}-hover-color);
        }

        &:active {
            background-color: base.var(#{$background-color}-active-color);
        }
    }
}

@mixin vars(
    $background-color,
    $foreground-color,
    $postfix: '',
    $args...
) {
    $name: 'plain#{$postfix}';
    $plain-background-color: color.change($foreground-color, $alpha: 0);
    $plain-active-background-color: color.change($foreground-color, $alpha: 0.05);

    @include colors.var(#{$name}-color, $plain-background-color);
    @include states.vars(#{$name}-color, $plain-background-color, $args...);
    @include states.vars(#{$name}-active-color, $plain-active-background-color, $args...);
    @include colors.var(on-#{$name}-color, $foreground-color);
}