@use '../base';
@use 'colors';
@use 'colors/palettes';
@use 'colors/states';
@use 'utils/color';

@mixin vars(
    $color,
    $background-color,
    $postfix: '',
    $args...
) {
    $name: 'text#{$postfix}';
    $invert: color.tone($color, $background-color) == 'dark';
    $hover-value: if($invert, 20%, 10%);
    $active-value: if($invert, 30%, 20%);

    @include base.var(#{$name}-color, $color);
    @include states.vars(#{$name}-color, (
        hover: states.hover-color($color, $hover-value, $invert),
        active: states.active-color($color, $active-value, $invert)
    ), $args...);
}

@mixin styles($args...) {
    %text {
        height: unset;
        min-height: unset;
        padding: 0;
        background-color: unset;
        color: var(text-color);
        line-height: inherit;
        justify-content: flex-start;

        &:hover {
            color: var(text-hover-color);
        }

        &:active {
            color: var(text-active-color);
        }
    }

    .text {
        @include states.vars((
            foreground-color: text
        ), $args...);

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include palettes.vars($palette, (
                    foreground-color: $palette
                ), $args...);
            }
        }
    }
}