@use 'base';
@use 'colors';
@use 'colors/palettes';
@use 'colors/states';
@use 'utils/color';

@mixin classes {
    .text {
        @include styles(text);

        &-static {
            @include styles(text, $static: true);
        }

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include styles(text-#{$palette});
            }
        }
    }
}

@mixin styles($color, $static: false) {
    height: unset;
    min-height: unset;
    padding: 0;
    border: none;
    background-color: unset;
    color: base.var(#{$color}-color);
    line-height: inherit;

    @if $static == false {
        &:hover {
            color: base.var(#{$color}-hover-color);
        }

        &:active {
            color: base.var(#{$color}-active-color);
        }
    }
}

@mixin vars(
    $color,
    $background-color,
    $postfix: '',
    $args...
) {
    $name: 'text#{$postfix}';
    $invert: color.tone($color, $background-color) == 'dark';
    $hover-value: if($invert, 20%, 10%);
    $active-value: if($invert, 30%, 20%);

    @include base.var(#{$name}-color, $color);
    @include states.vars(#{$name}-color, (
        hover: states.hover-color($color, $hover-value, $invert),
        active: states.active-color($color, $active-value, $invert)
    ), $args...);
}