@use '../base';
@use '../colors';
@use '../colors/palettes';
@use '../colors/states';
@use '../utils/color';
@use '../utils/css';

@mixin classes {
    .tinted {
        @include styles(tinted);

        &-active {
            @include styles(tinted-active);
        }

        &-static {
            @include styles(tinted, $static: true);
        }

        @each $palette in palettes.$names {
            &-#{$palette} {
                @include styles(tinted-#{$palette});

                &-active {
                    @include styles(tinted-#{$palette}-active);
                }

                &-static {
                    @include styles(tinted-#{$palette}, $static: true);
                }
            }
        }
    }
}

@mixin styles($background-color, $static: false, $args...) {
    background-color: base.var(#{$background-color}-color);

    @if $static == false {
        &:hover {
            background-color: base.var(#{$background-color}-hover-color);
        }

        &:active {
            background-color: base.var(#{$background-color}-active-color);
        }
    }
}

@mixin vars(
    $background-color,
    $foreground-color,
    $postfix: '',
    $args...
) {
    $name: 'tinted#{$postfix}';
    $tinted-background-color: color.change($foreground-color, $alpha: 0.05);
    $tinted-active-background-color: color.change($foreground-color, $alpha: 0.1);

    @include colors.var(#{$name}-color, $tinted-background-color);
    @include states.vars(#{$name}-color, $tinted-background-color, $args...);
    @include states.vars(#{$name}-active-color, $tinted-active-background-color, $args...);
    @include colors.var(on-#{$name}-color, $foreground-color);
}