@use 'sass:map';

@use '../base' as *;
@use '../colors';
@use '../colors/states';
@use '../utils/color';
@use '../utils/css';

@use './plain';
@use './filled';
@use './outlined';
@use './tinted';
@use './outlined-tinted';
@use './text';

$names: (
    plain,
    filled,
    outlined,
    tinted,
    outlined-tinted,
    text
) !default;

@mixin define($names: $names) {
    @each $name in $names {
        #{if(&, '&', '')}.#{$name} {
            @content($name);
        }
    }
}

@mixin vars($element-colors, $postfix: '') {
    $border-color: map.get($element-colors, border);
    $background-color: map.get($element-colors, background);
    $foreground-color: map.get($element-colors, foreground);

    @include plain.vars(
        $background-color,
        $foreground-color,
        $postfix: $postfix
    );

    @include filled.vars(
        $background-color,
        $foreground-color,
        $postfix: $postfix
    );

    @include outlined.vars(
        $border-color,
        $postfix: $postfix
    );

    @include tinted.vars(
        $background-color,
        $foreground-color,
        $postfix: $postfix
    );

    @include text.vars(
        $foreground-color,
        $background-color,
        $postfix: $postfix
    );
}