@mixin scrollbar() {
    ::-webkit-scrollbar {
        width: 16px;
    }
    
    ::-webkit-scrollbar-thumb {
        height: 56px;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: content-box;
        background-color: rgba(0, 0, 0, 0.2);
    
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    
    ::-webkit-scrollbar-track {
        background: transparent;
    }
}

// @mixin scrollbar($width: 4px, $margin: 4px, $padding: $margin, $nest: false) {
//     --fui-scrollbar-width: #{$width};
//     --fui-scrollbar-margin: #{$margin};
//     --fui-scrollbar-padding: #{$padding};

//     overflow-y: auto;
//     overflow-x: hidden;

//     $selector: if($nest, '& ', '&');
    
//     #{$selector}::-webkit-scrollbar {
//         width: var(--fui-scrollbar-width);
//     }
    
//     #{$selector}::-webkit-scrollbar-track {
//         background: var(--fui-extra-light-gray);
//         width: 16px;
//     }

//     #{$selector}::-webkit-scrollbar-thumb {
//         background: var(--fui-light-gray);
//         border-radius: 16px;

//         &:hover {
//             background-color: var(--fui-gray);
//         }
//     }

//     @if $margin {
//         #{$selector}::-webkit-scrollbar-button {
//             height: $margin;
//         }

//         @supports selector(::-webkit-scrollbar) {
//             &[data-scrolling] {
//                 margin-right: var(--fui-scrollbar-margin);
//                 padding-right: var(--fui-scrollbar-padding);
//             }
//         }
//     }
// }