@use 'component';
@use 'theme';

@use './Image';

@include component.init(Image, Image.$vars);

.root {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: component.var(border-radius);
}

// Shapes

@include component.declare((
    circular: (border-radius: 100%),
    rectangular: (border-radius: 0),
    rounded: (border-radius: theme.var(border-radius-m)),
));


// Misc

.inline {
    display: inline-block;
}