@use 'base';
@use 'component';

@use './Image';

@include component.define(Image, Image.$vars) {
    .root {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: component.var(radius);
    }

    .inline {
        display: inline-block;
    }
}