@use '../../styles/theme';

.root {
    background-color: var(--ui-background-color);
    color: var(--ui-text-color);
    font-family: var(--ui-font-family);
}

.light {
    @include theme.scheme('light');
}

.dark {
    @include theme.scheme('dark');
}