@use 'base';
@use 'colors';
@use 'theme';

.root {
    @include theme.base;

    background-color: base.var(background-color);
    color: base.var(text-color);
    font-family: base.var(font-family);
}

.light {
    @include colors.define(light);
}

.dark {
    @include colors.define(dark);
}