@use 'theme';

.root {
    background-color: theme.var(background-color);
    color: theme.var(text-color);
    font-family: theme.var(font-family);
}

.light {
    @include theme.scheme('light');
}

.dark {
    @include theme.scheme('dark');
}