@use '../../styles/component';
@use '../../styles/theme';

@include component.define('Accordion', (
    gap: none
));

$vars: component.vars();

.root {
    display: flex;
    flex-direction: column;
    gap: component.var(gap);
}