@use 'sass:map';
@use 'sass:meta';

@use 'base';
@use 'component';

@use '../Text';
@use './AccordionItem';

@include component.define(AccordionItem, AccordionItem.$vars);

.root + .root {
    border-top: 1px solid component.var(border-color);
}

.header {
    box-sizing: border-box;
    min-height: component.var(height);
    display: flex;
    align-items: center;
    padding: component.var(padding);
    background-color: component.var(background-color);
    font-weight: base.var(font-weight-semibold);
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: component.var(background-hover-color);
    }
    
    &:active,
    &.active {
        background-color: component.var(background-active-color);
    }
    
    &.disabled {
        opacity: base.var(disabled-opacity);
    }
}

.content {
    padding: component.var(_content-padding-closed);

    > div {
        overflow: hidden;
    }
}

.indicator-icon {
    margin-left: auto;
    color: base.var(icon-color);
    transition: transform .2s ease;
}

.open {
    .content {
        padding: component.var(_content-padding-open);
    }
    
    .indicator-icon {
        transform: rotateZ(180deg);
    }
}


// Sizes

@each $size in (s m l) {
    .#{$size} {
        .header {
            @include Text.text($size);
        }
    }
}