@use 'base';
@use 'component';

$height: 36px !default;
$padding-x: base.var(space-xs) !default;
$padding-y: base.var(space-xxs) !default;
$padding: (--padding-y, --padding-x) !default;
$gap: base.var(space-xs) !default;
$font-size: base.var(font-size-m) !default;

$vars: component.vars(AccordionItem, (
    height: $height,
    padding-x: $padding-x,
    padding-y: $padding-y,
    padding: $padding,
    gap: $gap,
    font-size: $font-size
));