@use 'sass:list';
@use 'sass:math';

@use 'component';
@use 'sizes';
@use 'theme';
@use 'utils/units' as *;

@use './Link';

@include component.init(Link, Link.$vars);

.root {
    background-color: transparent;
    color: component.var(color);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    text-overflow: inherit;
    overflow: inherit;
    user-select: text;
    cursor: pointer;
}


// States

.root {
    &:hover {
        color: component.var(hover-color);
    }
    
    &:active {
        color: component.var(active-color);
    }
}

.disabled {
    color: component.var(disabled-color);
}


// Colors

@include component.palettes-vars(color);