@use 'base';
@use 'component';

@use './Slider';

$vars: component.vars(SliderTrack, (
    background-color: Slider.$track-background-color,
    foreground-color: Slider.$track-foreground-color,
    height: Slider.$track-height,
));
