@use 'base';
@use 'component';

@use './Slider';

@include component.init(Slider, Slider.$vars);

.root {
    position: relative;
    height: component.var(thumb-ripple-size);
    margin: 0 calc(#{component.var(thumb-ripple-size)} / 2);
    touch-action: pan-y;
    cursor: pointer;
}

.input {
    $indent: 2px;
    $size: Slider.$thumb-ripple-size - 2 * $indent;

    position: absolute;
    width: $size;
    top: $indent;
    left: $indent;
    margin: 0;
    height: $size;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.disabled {
    cursor: auto;

    .thumb {
        pointer-events: none;
    }
}