@use 'sass:math';

@use 'animation';
@use 'base';
@use 'component';
@use 'elements';

@use './Slider';
@use './SliderThumb';

@include component.define(SliderThumb, SliderThumb.$vars) {
    .root {
        display: flex;
        left: calc(component.var(size) * -1);
        outline: none;
        position: absolute;
        user-select: none;
        height: Slider.$thumb-ripple-size;
        width: Slider.$thumb-ripple-size;
        border-radius: 100%;
        transition: background-color 200ms ease;

        &:focus,
        &:hover {
            background-color: base.var(plain-brand-hover-color);
        }

        &:active {
            background-color: base.var(plain-brand-active-color);
        }

        &:hover .label,
        &:active .label {
            opacity: 1;
            transform: translate(-50%, -200%);
        }
    }

    .knob {
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        height: component.var(size);
        width: component.var(size);
        background-color: component.var(color);
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    .label {
        content: attr(data-value);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 12px;
        font-weight: 500;
        opacity: 0;
        transform: translate(-50%, -175%);
        transition: opacity 100ms ease, transform 100ms ease;
    }

    .focused {
        
    }

    .discrete {
        transition: transform 80ms ease;
    }

    .disabled {
        @include elements.disabled;
    }
}

:export {
    size: component.var(size)
}