@use 'base';
@use 'component';

@use './Slider';

@include component.define(Slider, Slider.$vars) {
    .root {
        position: relative;
        height: component.var(thumb-ripple-size);
        margin: 0 calc(component.var(thumb-ripple-size) / 2);
        touch-action: pan-y;
        cursor: pointer;
    }

    .input {
        $indent: 2px;
        $size: Slider.$thumb-ripple-size - 2 * $indent;

        position: absolute;
        top: $indent;
        left: $indent;
        width: $size;
        height: $size;
        margin: 0;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
    }
}