@use 'base';
@use 'component';

$thumb-size: 20px !default;
$thumb-ripple-size: 48px !default;

$vars: component.vars(Slider, (
    thumb-size: $thumb-size,
    thumb-ripple-size: $thumb-ripple-size
));
