@use 'component';
@use 'theme';

$thumb-size: 20px !default;
$thumb-ripple-size: 48px !default;

@include component.define('Slider', (
    thumb-size: $thumb-size,
    thumb-ripple-size: $thumb-ripple-size
));

$vars: component.vars();

.root {
    position: relative;
    height: component.var(thumb-ripple-size);
    margin: 0 calc(#{component.var(thumb-ripple-size)} / 2);
    touch-action: pan-y;
    cursor: pointer;
}

.input {
    $indent: 2px;
    $size: $thumb-ripple-size - 2 * $indent;

    position: absolute;
    width: $size;
    top: $indent;
    left: $indent;
    margin: 0;
    height: $size;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.disabled {
    cursor: auto;

    .thumb {
        pointer-events: none;
    }
}