@use 'sass:map';

@use 'base';
@use 'component';

$color: base.var(Slider-thumb-color);
$size: base.var(Slider-thumb-size);

$vars: component.vars(SliderThumb, (
    color: $color,
    size: $size
));