@use 'base';
@use 'component';

@use './Slider';

$background-color: base.var(Slider-track-background-color);
$foreground-color: base.var(Slider-track-foreground-color);
$height: base.var(Slider-track-height);

$vars: component.vars(SliderTrack, (
    background-color: $background-color,
    foreground-color: $foreground-color,
    height: $height
));