$font-family: 'Fira Sans', Roboto, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif !default;
$font-size: 16px !default;
$font-weights: (
    light: 300,
    normal: 400,
    semibold: 500,
    bold: 600
) !default;
$line-height: 1.5 !default;